

#aiWorks {
    .title{
        position: relative; 
        height: 30vh;
        width: 100%;
        overflow: hidden;
        background-color:$color-wt;

        .slide{
            >div{
                width: 100%;
                height: 100%;
                position: absolute;
                background-size: cover;
                background-position: center;
                animation: slide2 15s infinite;
                opacity: 0;
                
                
            }

            >div:nth-child(1){
                background-image: url(../img/ai_banner_1.jpg);
                
            }

            >div:nth-child(2){
                background-image: url(../img/ai_banner_2.jpg);
                animation-delay: 5s;
            }

            >div:nth-child(3){
                background-image: url(../img/ai_banner_3.jpg);
                animation-delay: 10s;
            }
        }

        @keyframes slide2 {
            10%{ opacity: 1;left:0px}
            20%{ opacity: 1}
            60%{ opacity: 0}
            40%{transform: scale(1.1);right:0px}
        }

        h1{
            position: absolute;
            top: calc(50% - 25px);
            left:calc(50% - 171px);
            color: white; 
            text-shadow: black 0.1em 0.1em 0.2em;
         }
    }

    

    .container{
        #penTool{
            // background-color: $color-dwt;
            padding: 20px 0 0 0 ;
    
    
            >h2{
                text-align: center;
            }
    
            >p{
                text-align: center;
                padding: 30px 20px;
            }
            .penTool_picture_L{
                img{
                    width: 100%;
                }
                P{
                    text-align: center;
                }
            }
    
            .penTool_picture_R{
                img{
                    width: 100%;
                }
                P{
                    text-align: center;
                    margin: 0;
                }
            }
        }
        
        //AI網格工具 素描/////////////////////////////////
        #meshTool{
            padding: 20px 0 0 0 ;
    
            >h2{
                text-align: center;
            }
            >p{
                text-align: center;
                padding: 30px 20px;
            }
    
            .meshTool_picture_top_L{
                display: flex;
                flex-direction:column;
                align-items: center;
                
                >img{
                    width: 50%;
                }
                
            }
    
            .meshTool_picture_top_R{
                display: flex;
                flex-direction: column;
                align-items:center;
    
                >img{
                    width: 50%;
                }
            }
            .meshTool_picture_mid_L{
                display: flex;
                flex-direction:column;
                align-items: center;
                
                >img{
                    width: 50%;
                }
                
            }
    
            .meshTool_picture_mid_R{
                display: flex;
                flex-direction: column;
                align-items:center;
    
                >img{
                    width: 50%;
                }
            }
            .meshTool_picture_bot_L{
                display: flex;
                flex-direction:column;
                align-items: center;
                
                >img{
                    width: 50%;
                }
                
            }
    
            .meshTool_picture_bot_R{
                display: flex;
                flex-direction: column;
                align-items:center;
    
                >img{
                    width: 50%;
                }
            }

        }
        @media (max-width:768px){
            #meshTool img {
                width: 100% !important;
            }
        }

        #perspective{
            padding: 20px 0 0 0 ;
    
            >h2{
                text-align: center;
            }
            >p{
                text-align: center;
                padding: 30px 20px;
            }
    
            .perspective_L{
                >img{
                    width: 100%;
                }
                >p{
                    text-align: center;
                    padding: 10px 0;
                }
            }
    
            .perspective_R >div{
                display: flex;
                flex-direction: column;
                align-items: center;

                >img{
                    width: 50%;
                }
                :nth-child(2) {
                    margin: 0;
                }
                >p{
                    text-align: center;
                }
            }
        }
        @media (max-width:768px){
            #perspective  .perspective_R {
                display: flex;

                >div{
                    >img{
                        width: 100%;
                    }
                }
            }
        }
        #low_poly{
            padding: 20px 0 0 0 ;
    
            >h2{
                text-align: center;
            }
            >p{
                text-align: center;
                padding: 30px 20px;
            }

            .low_poly_L{
                >img{
                    width: 100%;
                }
                p{
                    text-align: center;
                    padding: 10px 0 ;
                }
            }

            .low_poly_R{
                >div{
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    >img{
                        width: 50%;
                    }
                    :nth-child(2){
                        margin: 0;
                    }
                    p{
                        text-align: center;
                        
                    }
                }
            }
        }
        @media (max-width:768px){
            #low_poly .low_poly_R{
                display: flex;

                >div{
                    >img{
                        width: 80%;
                    }
                }
            }
        }
    }
}
