$fontStyle_noto:'Noto Serif TC', serif;
$color-wt:#F2F2F2;
$color-dwt:rgb(214, 214, 214);

/////////////////////////////////////////////////////////////////////
#aboutme {
    
    >.title{
        overflow: hidden;
        position: relative;
        height: 100px;
        width: 100%; 
    }

    .container{

        >#me{
            
            // margin: 50px auto;
            >div{
                text-align: center;
            }

            //關於我標題
            .title{
                >h1{
                    padding:20px 0px;
                    text-align: left;
                }

            }
            //關於我照片
            .me_picture{
                >img{
                    width: 70%;
                }
            }
            //關於我內文
            .me_article{
                >p{
                    line-height: 35px;
                    text-align: left;
                }
            }
        }

        @media(max-width:768px){
            >#me{
                .title{
                    >h2{
                        text-align: center;
                    }
                }
            }
            .me_article{
                margin: 20px 0;
            }
        }

        >#experience{
            margin: 50px auto;

            
           .title{


               >h1{
                   margin:0 0 40px 0;
               }
           }

           .RWD{
                .experience_1_article{
                    h4{
                        padding: 0; 
                    }
                    p{
                        line-height: 35px;
                        padding: 0px 0px;
                        text-align: left;
                    }
                    //日期
                    >:nth-child(3){
                        text-align: left;
                        margin: 0;
                    }
                }
    
                .experience_1_picture{
                    >img{
                        width: 100%;
                    }
                } 
            }

            .taiwanPatent{
                margin:100px 0 0 0;

                .experience_2_picture{
                    >img{
                        width: 100%;
                    }
                }

                .experience_2_article{
                    p{
                        line-height: 30px;
                        padding: 0px 0px;
                        text-align: left;
                    }

                    //日期
                    >:nth-child(3){
                        text-align: left;
                        margin: 0;
                    }
                }
            }
           
        }

        @media(max-width:768px){
            >#experience{
                .title{
                    text-align: center;
                }
                .RWD{
                    .experience_1_article{
                        margin: 20px 0;
                    }
                }
                .taiwanPatent{
                    .experience_2_article{
                        margin: 20px 0;
                    }
                }
                
            }
        }
    }

    @media(max-width: 768px){
        .container{
                #me{
                    .title{
                        >h1{
                            text-align: center;
                        }
                    }
                }
        }
    }

}
//////////////////////////////////////////////////////////////////////
#webDesign{
    >.title{
        overflow: hidden;
        position: relative;
        background-color:$color-wt;
        height: 30vh;
        width: 100%;
       
        
        .slide {
            >div{
                position: absolute;
                height: 100%;
                width: 100%;
                background-position: center;
                background-size: cover;
                animation: slide 15s infinite;
                opacity: 0;
            }

            >div:nth-child(1){
                background-image: url(../img/webDesign_banner01.jpg);  
                // animation-delay: 0s; 

            }
            >div:nth-child(2){
                background-image: url(../img/webDesign_banner02.jpg);
                animation-delay: 5s; 
            }
            >div:nth-child(3){
                background-image: url(../img/webDesign_banner03.jpg); 
                animation-delay: 10s; 
            }
        }

        
        @keyframes slide{
            10%{ opacity: 1}
            20%{ opacity: 1}
            80%{ opacity: 0}
            40%{transform: scale(1.1)}
        }

        h1{
            position: absolute;
            top: calc(50% - 25px);
            left:calc(50% - 115px);
            color: white; 
            text-shadow: black 0.1em 0.1em 0.2em
         }
        

        

    }
    .container >.webDesign{
        // text-align: center;

        // .subtitle{
        //     font-size: 20px;
        //     margin: 20px 0;
        // }
        //文字
        .article{
            margin: 10px 0 40px 0;

            >p{
                margin: 0;
                line-height: 30px;
            }


        }
    
        //圖片效果
        .hover_photo {
            margin: 10px 0 10px 0;
            overflow: hidden;
            

            >.hover_photo_in{
                position: relative;

                >a >img{
                    width: 100%;
                }

                &:hover img{
                    opacity: 0.3;
                    transition: 1s;
                }
                //圖片hover效果
                &:hover {
                    transform: scale(1.1,1.1);
                    transition: all 1s ease-in-out;
                }
               


                //hover前的before文字位置
                >.hover_photo_in_before >p{
                    position: absolute;
                    top: calc(50% - 27px);
                    left: calc(50% - 108px);
                    color: aliceblue;
                    text-shadow: 0.1em 0.1em 0.2em black;
                    font-size: 36px;
                }
                //hover後的before文字特效
                &:hover >.hover_photo_in_before >p{
                    opacity: 0;
                    transition: 1s;
                }
                //hover後的before文字位置
                >.hover_photo_in_after >p{
                    position: absolute;
                    top: calc(50% - 27px);
                    left: calc(50% - 108px);
                    color: aliceblue;
                    text-shadow: 0.1em 0.1em 0.2em black;
                    font-size: 36px;
                    opacity: 0;

                }
                //hover後的before文字特效
                &:hover >.hover_photo_in_after >p{
                    transition: 1s;
                    opacity: 1;
                }  
            }
        }
    }
}
//////////////////////////////////////////////////////////////////////
#graphicDesign{
    >.title{
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 30vh;
        background-color:$color-wt;

        .slide{
            >div{
                width: 100%;
                height: 100%;
                position: absolute; 
                background-position: center;
                background-size: cover;
                opacity: 0;
                animation: slide 15s infinite;
            }
            
            >div:nth-child(1){
                background-image: url(../img/ps_banner_1.jpg);  
            }
            >div:nth-child(2){
                background-image: url(../img/ps_banner_2.jpg); 
                animation-delay: 5s; 
                
            }
            >div:nth-child(2){
                background-image: url(../img/ps_banner_2.jpg); 
                animation-delay: 10s; 

            }
        }
        @keyframes slide {
            10%{opacity: 1;}
            20%{opacity: 1;}
            80%{opacity: 0;}
            40%{transform: scale(1.1)}
        }
        >h1{
            position: absolute;
            top: calc(50% - 29px);
            left:calc(50% - 150px);
            color: white; 
            text-shadow: black 0.1em 0.1em 0.2em
        }

    }
    
    >.container{
        >div{
            
            margin: 20px 0;

            .hover_photo{
                overflow: hidden;

                .hover_photo_in{
                    position: relative;


                    >a >img{
                        width: 100%;
                    }

                    &:hover img{
                        opacity: 0.3;
                        transition: 1s;
                    }

                    //圖片hover效果
                    &:hover {
                        transform: scale(1.1) ;
                        transition: all 1s ease-in-out;
                    }
                    //hover前的before文字位置
                    >.hover_photo_in_before >p{
                        position: absolute;
                        top: calc(50% - 27px);
                        left: calc(50% - 152px);
                        color: aliceblue;
                        text-shadow: 0.1em 0.1em 0.2em black;
                        font-size: 36px;
                    }
                    //hover後的before文字特效
                    &:hover .hover_photo_in_before >p{
                        opacity: 0;
                        transition: 1s;
                    }
                    //hover前的after文字位置與特效
                    >.hover_photo_in_after >p{
                        position: absolute;
                        top: calc(50% - 27px);
                        left: calc(50% - 72px);
                        color: aliceblue;
                        text-shadow: 0.1em 0.1em 0.2em black;
                        font-size: 36px;
                        opacity: 0;
                    }
                    //hover之後的after文字特效
                    &:hover .hover_photo_in_after >p{
                        opacity: 1;
                        transition: 1s;
                    }
                }
            }
        }
    }
}
//////////////////////////////////////////////////////////////////////
#psWorks {
    >.title{
        overflow: hidden;
        position: relative;
        background-color:$color-wt;
        height: 30vh;
        width: 100%;
       
        
        .slide {
            >div{
                position: absolute;
                height: 100%;
                width: 100%;
                background-position: center;
                background-size: cover;
                animation: slide 15s infinite;
                opacity: 0;
            }

            >div:nth-child(1){
                background-image: url(../img/ps_banner_1.jpg);  
                // animation-delay: 0s; 

            }
            >div:nth-child(2){
                background-image: url(../img/ps_banner_2.jpg);
                animation-delay: 5s; 
            }
            >div:nth-child(3){
                background-image: url(../img/ps_banner_3.jpg); 
                animation-delay: 10s; 
            }
        }

        
        @keyframes slide{
            10%{ opacity: 1}
            20%{ opacity: 1}
            80%{ opacity: 0}
            40%{transform: scale(1.1)}
        }

        h1{
            position: absolute;
            top: calc(50% - 25px);
            left:calc(50% - 171px);
            color: white; 
            text-shadow: black 0.1em 0.1em 0.2em
         }
        

        

    }

    
    .container{
        //////////////////////
        /////作品-廢墟程式/////
        /////////////////////
        #ruinsCity {
            padding: 20px 0 0 0;
        }

        #ruinsCity > .row  {
            padding: 0;
            
            .ruinsCity_picture{
                margin: 0 0 0 0;
                

                img{
                    width: 100%;
                }

                img:first-child{
                    margin: 0 0 0 0;
                }
                img:last-child{
                    margin: 0 0 10px 0;
                }
                
                h3{
                    margin: 10px 0;
                }

            }   
            .ruinsCity_article{
                p{
                    line-height: 25px; 
                    // font-size: 2vmin;
                    margin: 0;
            }

                    h3:nth-child(1){
                    margin: 0 0 50px 0 ;
                }
                p:last-child{
                    margin: 50px 0 0 0 ;
                }
            }
        }

        //////////////////////
        ///////作品-冰雪///////
        /////////////////////
        #elsaSnow  {
            .elsaSnow_picture_L{
                img{
                    width: 100%;
                }
                img:first-child{
                    margin: 0 0 0 0;
                }
                img:last-child{
                    margin: 0 0 10px 0;
                
                }
            }
            .elsaSnow_picture_R{
                img{
                    width: 100%;
                    margin: 20px 0 0 0;
                }
            }
        }
    }
  
}
//////////////////////////////////////////////////////////////////////
#aiWorks {
    .title{
        position: relative; 
        height: 30vh;
        width: 100%;
        overflow: hidden;
        background-color:$color-wt;

        .slide{
            >div{
                width: 100%;
                height: 100%;
                position: absolute;
                background-size: cover;
                background-position: center;
                animation: slide2 15s infinite;
                opacity: 0;
                
                
            }

            >div:nth-child(1){
                background-image: url(../img/ai_banner_1.jpg);
                
            }

            >div:nth-child(2){
                background-image: url(../img/ai_banner_2.jpg);
                animation-delay: 5s;
            }

            >div:nth-child(3){
                background-image: url(../img/ai_banner_3.jpg);
                animation-delay: 10s;
            }
        }

        @keyframes slide2 {
            10%{ opacity: 1;left:0px}
            20%{ opacity: 1}
            60%{ opacity: 0}
            40%{transform: scale(1.1);right:0px}
        }

        h1{
            position: absolute;
            top: calc(50% - 25px);
            left:calc(50% - 171px);
            color: white; 
            text-shadow: black 0.1em 0.1em 0.2em;
         }
    }

    

    .container{
        #penTool{
            // background-color: $color-dwt;
            padding: 20px 0 0 0 ;
    
    
            >h2{
                text-align: center;
            }
    
            >p{
                text-align: center;
                padding: 30px 20px;
            }
            .penTool_picture_L{
                img{
                    width: 100%;
                }
                P{
                    text-align: center;
                }
            }
    
            .penTool_picture_R{
                img{
                    width: 100%;
                }
                P{
                    text-align: center;
                    margin: 0;
                }
            }
        }
        
        //AI網格工具 素描/////////////////////////////////
        #meshTool{
            padding: 20px 0 0 0 ;
    
            >h2{
                text-align: center;
            }
            >p{
                text-align: center;
                padding: 30px 20px;
            }
    
            .meshTool_picture_top_L{
                display: flex;
                flex-direction:column;
                align-items: center;
                
                >img{
                    width: 50%;
                }
                
            }
    
            .meshTool_picture_top_R{
                display: flex;
                flex-direction: column;
                align-items:center;
    
                >img{
                    width: 50%;
                }
            }
            .meshTool_picture_mid_L{
                display: flex;
                flex-direction:column;
                align-items: center;
                
                >img{
                    width: 50%;
                }
                
            }
    
            .meshTool_picture_mid_R{
                display: flex;
                flex-direction: column;
                align-items:center;
    
                >img{
                    width: 50%;
                }
            }
            .meshTool_picture_bot_L{
                display: flex;
                flex-direction:column;
                align-items: center;
                
                >img{
                    width: 50%;
                }
                
            }
    
            .meshTool_picture_bot_R{
                display: flex;
                flex-direction: column;
                align-items:center;
    
                >img{
                    width: 50%;
                }
            }

        }
        @media (max-width:768px){
            #meshTool img {
                width: 100% !important;
            }
        }

        #perspective{
            padding: 20px 0 0 0 ;
    
            >h2{
                text-align: center;
            }
            >p{
                text-align: center;
                padding: 30px 20px;
            }
    
            .perspective_L{
                >img{
                    width: 100%;
                }
                >p{
                    text-align: center;
                    padding: 10px 0;
                }
            }
    
            .perspective_R >div{
                display: flex;
                flex-direction: column;
                align-items: center;

                >img{
                    width: 50%;
                }
                :nth-child(2) {
                    margin: 0;
                }
                >p{
                    text-align: center;
                }
            }
        }
        @media (max-width:768px){
            #perspective  .perspective_R {
                display: flex;

                >div{
                    >img{
                        width: 100%;
                    }
                }
            }
        }
        #low_poly{
            padding: 20px 0 0 0 ;
    
            >h2{
                text-align: center;
            }
            >p{
                text-align: center;
                padding: 30px 20px;
            }

            .low_poly_L{
                >img{
                    width: 100%;
                }
                p{
                    text-align: center;
                    padding: 10px 0 ;
                }
            }

            .low_poly_R{
                >div{
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    >img{
                        width: 50%;
                    }
                    :nth-child(2){
                        margin: 0;
                    }
                    p{
                        text-align: center;
                        
                    }
                }
            }
        }
        @media (max-width:768px){
            #low_poly .low_poly_R{
                display: flex;

                >div{
                    >img{
                        width: 80%;
                    }
                }
            }
        }
    }
}
//////////////////////////////////////////////////////////////////////









