$fontStyle_noto:'Noto Serif TC', serif;
$color-wt:#F2F2F2;
$color-dwt:rgb(214, 214, 214);


body{
    background-color: $color-wt;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family:$fontStyle_noto;
}



* {
    box-sizing: border-box;
  }

hr{
    margin: 30px 0; 
  }

html{
    scroll-behavior: smooth;
}

//////////////////////////////////////////////////////////////////////
nav#navagation {
    width: 100%;
    // height: 500px;
    // background-color: rgba(141, 149, 173, 0.247);
    position: fixed;
    z-index: 4;
    position: fixed;
    display: flex;
    overflow: hidden;
    top:-150px;
    transition: 0.5s;
    // margin: 0 0 50px 0;

    //配合js nav特效
    &.fixed{
        position: fixed;
        top:0px;
    }

    .slide{
        >div{
            position: absolute;
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
            opacity: 0;
            animation: slide 15s infinite;
        }
        
        // nav 會變色暫時關閉 

        // >div:nth-child(1){
        //     background-color: #81A680; 
        // }
        // >div:nth-child(2){
        //     background-color: #387336;
        //     animation-delay: 5s; 
        // }
        // >div:nth-child(3){ 
        //     background-color: #455945;
        //     animation-delay: 10s; 
        // }
    }

    // @keyframes slide{
    //     10%{ opacity: 1}
    //     20%{ opacity: 1}
    //     90%{ opacity: 0}
    //     40%{transform: scale(1.1)}
    // }
  
    
    >ul{
        width: 100%;
        display: flex;
        justify-content: center ;
        list-style: none;
        line-height: 100px;
        text-align: center;
        padding: 0;
        z-index: 5;

  
        >li{
            // width: 120px;
            margin: 0 10px;

           >a{
                text-decoration:none;
                font-size: 20px;
                color: black;
                // position: relative;
                padding: 10px 10px;
                background-color:rgb(27, 221, 195);
                border-radius: 5px;



                &:hover{
                    background-color:rgb(18, 107, 95);
                    border-radius: 5px;
                    transition: ease-in-out 0.5s;
                    // width: 120px;
                    text-align: center;
                    color: beige;
                }
            }
        }
    }
    >ul :nth-child(4) ul{
        text-decoration: none;
        list-style: none;
        display: none; 
        text-align: center; 
        padding: 0;
        line-height: 50px;

        li{
            width: 120px;

            a{
                color: black;
                padding: 10px 10px;
                text-decoration:none;
                background-color:rgb(27, 221, 195);
                border-radius: 5px;


                

                &:hover{
                    background-color:rgb(18, 107, 95);
                    border-radius: 5px;
                    text-align: center;
                    transition: ease-in-out 0.5s;
                    color: beige;



                }
            }

        }
    }
    >ul :nth-child(4):hover ul{
        display: block;
        transition: ease-in-out 0.5s;
        text-align: center;
    }
   
    .burger{
        cursor: pointer;
        margin: 20px 10px;
        margin-left: auto;
        display: none;
        z-index: 5;


        >div {
            width: 25px;
            height: 3px;
            background-color: black;
            margin: 5px;
            transition: ease-in 0.3s;
        }
    }

    @media (max-width:768px) {
        .burger{
            display: block;
        }

        .nav_links{
            
           opacity: 0;
           position: fixed;
           height: 50vh;
           line-height: 60px;
           flex-direction: column;
           right: -100%;
           width: 100%;
           top: 0px;
           background-color:rgba(242, 242, 242, 0.74);
            z-index: 5;
           transition: ease-in-out 0.5s;
           align-items: center;
        }

        >ul :nth-child(4) ul{
            display: block;
        }

        .nav_active {
            right: 0%;
            opacity: 1;
            transition: ease-in-out 0.5s;
            z-index: 5;
          }

        .burger_active .line1{
            transform: rotate(45deg) translate(5px, 6px);
        }
        .burger_active .line2{
            opacity: 0;
        }
        .burger_active .line3{
            transform: rotate(-45deg) translate(5px, -6px);
        }


    }
}

#aboutme {
    
    >.title{
        overflow: hidden;
        position: relative;
        height: 100px;
        width: 100%;

        // .slide{
        //     >div{
        //         position: absolute;
        //         width: 100%;
        //         height: 100%;
        //         background-position: center;
        //         background-size: cover;
        //         opacity: 0;
        //         animation: slide 15s infinite;

        //     }

        //     >div:nth-child(1){
        //         // background-image: url(../img/ps_banner_1.jpg); 
        //         background-color: #81A680; 
        //     }
        //     >div:nth-child(2){
        //         // background-image: url(../img/ps_banner_2.jpg);
        //         background-color: #387336;
        //         animation-delay: 5s; 
        //     }
        //     >div:nth-child(3){
        //         // background-image: url(../img/ps_banner_3.jpg); 
        //         background-color: #455945;
        //         animation-delay: 10s; 
        //     }
        // }

        // @keyframes slide{
        //     10%{ opacity: 1}
        //     20%{ opacity: 1}
        //     90%{ opacity: 0}
        //     40%{transform: scale(1.1)}
        // }

        
    }

    .container{

        >#me{
            // margin: 50px auto;
            >div{
                text-align: center;
            }

            //關於我標題
            .title{
                >h1{
                    padding:20px 0px;
                    text-align: left;
                }
            }
            //關於我照片
            .me_picture{
                >img{
                    width: 70%;
                }
            }
            //關於我內文
            .me_article{
                >p{
                    line-height: 35px;
                    text-align: left;
                }
            }
        }

        @media(max-width:768px){
            >#me{
                .title{
                    >h2{
                        text-align: center;
                    }
                }
            }
            .me_article{
                margin: 20px 0;
            }
        }

        >#experience{
            margin: 50px auto;

            
           .title{


               >h1{
                   margin:0 0 40px 0;
               }
           }

           .RWD{
                .experience_1_article{
                    h4{
                        padding: 0; 
                    }
                    p{
                        line-height: 35px;
                        padding: 0px 0px;
                        text-align: left;
                    }
                    //日期
                    >:nth-child(3){
                        text-align: left;
                        margin: 0;
                    }
                }
    
                .experience_1_picture{
                    >img{
                        width: 100%;
                    }
                } 
            }

            .taiwanPatent{
                margin:100px 0 0 0;

                .experience_2_picture{
                    >img{
                        width: 100%;
                    }
                }

                .experience_2_article{
                    p{
                        line-height: 30px;
                        padding: 0px 0px;
                        text-align: left;
                    }

                    //日期
                    >:nth-child(3){
                        text-align: left;
                        margin: 0;
                    }
                }
            }
           
        }

        @media(max-width:768px){
            >#experience{
                .title{
                    text-align: center;
                }
                .RWD{
                    .experience_1_article{
                        margin: 20px 0;
                    }
                }
                .taiwanPatent{
                    .experience_2_article{
                        margin: 20px 0;
                    }
                }
                
            }
        }
    }

}
//////////////////////////////////////////////////////////////////////
#webDesign{
    >.title{
        overflow: hidden;
        position: relative;
        background-color:$color-wt;
        height: 30vh;
        width: 100%;
       
        
        .slide {
            >div{
                position: absolute;
                height: 100%;
                width: 100%;
                background-position: center;
                background-size: cover;
                animation: slide 15s infinite;
                opacity: 0;
            }

            >div:nth-child(1){
                background-image: url(../img/webDesign_banner01.jpg);  
                // animation-delay: 0s; 

            }
            >div:nth-child(2){
                background-image: url(../img/webDesign_banner02.jpg);
                animation-delay: 5s; 
            }
            >div:nth-child(3){
                background-image: url(../img/webDesign_banner03.jpg); 
                animation-delay: 10s; 
            }
        }

        
        @keyframes slide{
            10%{ opacity: 1}
            20%{ opacity: 1}
            80%{ opacity: 0}
            40%{transform: scale(1.1)}
        }

        h1{
            position: absolute;
            top: calc(50% - 25px);
            left:calc(50% - 115px);
            color: white; 
            text-shadow: black 0.1em 0.1em 0.2em
         }
        

        

    }
    .container >.webDesign{
        text-align: center;

        img{
            width: 100%;
            opacity: 1;
        }

        
        
        .hover_photo {
            margin: 20px 0 50px 0;
            overflow: hidden;
            

            >.hover_photo_in{
                position: relative;

                

                >img{
                    width: 100%;
                    position: relative; 
                }
               

                >a >p{
                    position: absolute;
                    top: calc(50% - 27px);
                    left: calc(50% - 108px);
                    color: aliceblue;
                    text-shadow: 0.1em 0.1em 0.2em black;
                    font-size: 36px;
                }

                >.hover_photo_in_h2_after >p{
                    opacity: 0;
                }


                &:hover img{
                    opacity: 0.3;
                    transition: 1s;
                }

                &:hover {
                    transform: scale(1.1,1.1);
                    transition: all 1s ease-in-out;
                }

                &:hover >.hover_photo_in_h2_before >p{
                    opacity: 0;
                    transition: 1s;
                }
                &:hover >.hover_photo_in_h2_after >p{
                    opacity: 1;
                    transition: 1s;
                }
            }
            
            
            
           
            
        }
      
        
    }
}
//////////////////////////////////////////////////////////////////////
#graphicDesign{
    >.title{
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 30vh;
        background-color:$color-wt;

        .slide{
            >div{
                width: 100%;
                height: 100%;
                position: absolute; 
                background-position: center;
                background-size: cover;
                opacity: 0;
                animation: slide 15s infinite;
            }
            
            >div:nth-child(1){
                background-image: url(../img/ps_banner_1.jpg);  
            }
            >div:nth-child(2){
                background-image: url(../img/ps_banner_2.jpg); 
                animation-delay: 5s; 
                
            }
            >div:nth-child(2){
                background-image: url(../img/ps_banner_2.jpg); 
                animation-delay: 10s; 

            }
        }
        @keyframes slide {
            10%{opacity: 1;}
            20%{opacity: 1;}
            80%{opacity: 0;}
            40%{transform: scale(1.1)}
        }
        >h1{
            position: absolute;
            top: calc(50% - 29px);
            left:calc(50% - 150px);
            color: white; 
            text-shadow: black 0.1em 0.1em 0.2em
        }

    }
    
    >.container{
        >div{
            
            margin: 20px 0;

            
            >img{
                width: 100%;
            }
            


        }
    }
}
//////////////////////////////////////////////////////////////////////
#psWorks {
    >.title{
        overflow: hidden;
        position: relative;
        background-color:$color-wt;
        height: 30vh;
        width: 100%;
       
        
        .slide {
            >div{
                position: absolute;
                height: 100%;
                width: 100%;
                background-position: center;
                background-size: cover;
                animation: slide 15s infinite;
                opacity: 0;
            }

            >div:nth-child(1){
                background-image: url(../img/ps_banner_1.jpg);  
                // animation-delay: 0s; 

            }
            >div:nth-child(2){
                background-image: url(../img/ps_banner_2.jpg);
                animation-delay: 5s; 
            }
            >div:nth-child(3){
                background-image: url(../img/ps_banner_3.jpg); 
                animation-delay: 10s; 
            }
        }

        
        @keyframes slide{
            10%{ opacity: 1}
            20%{ opacity: 1}
            80%{ opacity: 0}
            40%{transform: scale(1.1)}
        }

        h1{
            position: absolute;
            top: calc(50% - 25px);
            left:calc(50% - 171px);
            color: white; 
            text-shadow: black 0.1em 0.1em 0.2em
         }
        

        

    }

    
    .container{
        //////////////////////
        /////作品-廢墟程式/////
        /////////////////////
        #ruinsCity {
            padding: 20px 0 0 0;
        }

        #ruinsCity > .row  {
            padding: 0;
            
            .ruinsCity_picture{
                margin: 0 0 0 0;
                

                img{
                    width: 100%;
                }

                img:first-child{
                    margin: 0 0 0 0;
                }
                img:last-child{
                    margin: 0 0 10px 0;
                }
                
                h3{
                    margin: 10px 0;
                }

            }   
            .ruinsCity_article{
                p{
                    line-height: 25px; 
                    // font-size: 2vmin;
                    margin: 0;
            }

                    h3:nth-child(1){
                    margin: 0 0 50px 0 ;
                }
                p:last-child{
                    margin: 50px 0 0 0 ;
                }
            }
        }

        //////////////////////
        ///////作品-冰雪///////
        /////////////////////
        #elsaSnow  {
            .elsaSnow_picture_L{
                img{
                    width: 100%;
                }
                img:first-child{
                    margin: 0 0 0 0;
                }
                img:last-child{
                    margin: 0 0 10px 0;
                
                }
            }
            .elsaSnow_picture_R{
                img{
                    width: 100%;
                    margin: 20px 0 0 0;
                }
            }
        }
    }
  
}
//////////////////////////////////////////////////////////////////////
#aiWorks {
    .title{
        position: relative; 
        height: 30vh;
        width: 100%;
        overflow: hidden;
        background-color:$color-wt;

        .slide{
            >div{
                width: 100%;
                height: 100%;
                position: absolute;
                background-size: cover;
                background-position: center;
                animation: slide2 15s infinite;
                opacity: 0;
                
                
            }

            >div:nth-child(1){
                background-image: url(../img/ai_banner_1.jpg);
                
            }

            >div:nth-child(2){
                background-image: url(../img/ai_banner_2.jpg);
                animation-delay: 5s;
            }

            >div:nth-child(3){
                background-image: url(../img/ai_banner_3.jpg);
                animation-delay: 10s;
            }
        }

        @keyframes slide2 {
            10%{ opacity: 1;left:0px}
            20%{ opacity: 1}
            60%{ opacity: 0}
            40%{transform: scale(1.1);right:0px}
        }

        h1{
            position: absolute;
            top: calc(50% - 25px);
            left:calc(50% - 171px);
            color: white; 
            text-shadow: black 0.1em 0.1em 0.2em;
         }
    }

    

    .container{
        #penTool{
            // background-color: $color-dwt;
            padding: 20px 0 0 0 ;
    
    
            >h2{
                text-align: center;
            }
    
            >p{
                text-align: center;
                padding: 30px 20px;
            }
            .penTool_picture_L{
                img{
                    width: 100%;
                }
                P{
                    text-align: center;
                }
            }
    
            .penTool_picture_R{
                img{
                    width: 100%;
                }
                P{
                    text-align: center;
                    margin: 0;
                }
            }
        }
        
        //AI網格工具 素描/////////////////////////////////
        #meshTool{
            padding: 20px 0 0 0 ;
    
            >h2{
                text-align: center;
            }
            >p{
                text-align: center;
                padding: 30px 20px;
            }
    
            .meshTool_picture_top_L{
                display: flex;
                flex-direction:column;
                align-items: center;
                
                >img{
                    width: 50%;
                }
                
            }
    
            .meshTool_picture_top_R{
                display: flex;
                flex-direction: column;
                align-items:center;
    
                >img{
                    width: 50%;
                }
            }
            .meshTool_picture_mid_L{
                display: flex;
                flex-direction:column;
                align-items: center;
                
                >img{
                    width: 50%;
                }
                
            }
    
            .meshTool_picture_mid_R{
                display: flex;
                flex-direction: column;
                align-items:center;
    
                >img{
                    width: 50%;
                }
            }
            .meshTool_picture_bot_L{
                display: flex;
                flex-direction:column;
                align-items: center;
                
                >img{
                    width: 50%;
                }
                
            }
    
            .meshTool_picture_bot_R{
                display: flex;
                flex-direction: column;
                align-items:center;
    
                >img{
                    width: 50%;
                }
            }

        }
        @media (max-width:768px){
            #meshTool img {
                width: 100% !important;
            }
        }

        #perspective{
            padding: 20px 0 0 0 ;
    
            >h2{
                text-align: center;
            }
            >p{
                text-align: center;
                padding: 30px 20px;
            }
    
            .perspective_L{
                >img{
                    width: 100%;
                }
                >p{
                    text-align: center;
                    padding: 10px 0;
                }
            }
    
            .perspective_R >div{
                display: flex;
                flex-direction: column;
                align-items: center;

                >img{
                    width: 50%;
                }
                :nth-child(2) {
                    margin: 0;
                }
                >p{
                    text-align: center;
                }
            }
        }
        @media (max-width:768px){
            #perspective  .perspective_R {
                display: flex;

                >div{
                    >img{
                        width: 100%;
                    }
                }
            }
        }
        #low_poly{
            padding: 20px 0 0 0 ;
    
            >h2{
                text-align: center;
            }
            >p{
                text-align: center;
                padding: 30px 20px;
            }

            .low_poly_L{
                >img{
                    width: 100%;
                }
                p{
                    text-align: center;
                    padding: 10px 0 ;
                }
            }

            .low_poly_R{
                >div{
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    >img{
                        width: 50%;
                    }
                    :nth-child(2){
                        margin: 0;
                    }
                    p{
                        text-align: center;
                        
                    }
                }
            }
        }
        @media (max-width:768px){
            #low_poly .low_poly_R{
                display: flex;

                >div{
                    >img{
                        width: 80%;
                    }
                }
            }
        }
    }
}
//////////////////////////////////////////////////////////////////////
button.toTop{
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 33%;
    opacity: 0.6;
    background: #000;
    cursor: pointer;
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: none;

    &::before,&::after{
        width: 20px;
        height: 5px;
        border-radius: 3px;
        background-color: #f90;
        position: absolute;
        content: "";

    }

    &::before{
        transform: rotate(-45deg) translate(0%, -90%);
        left: 0.5rem;
    }
    &::after{
        transform: rotate(45deg) translate(0%, -90%);
        right: 0.5rem;
    }


}
//////////////////////////////////////////////////////////////////////
footer#footer{
    width: 100%;
    height: 100px;
    background-color: rgb(27, 221, 195);

    >p{
        text-align: center;
        line-height: 100px;
        margin: 0;
    }
}








