.p__ {
  font-size: 16px;
  letter-spacing: 0.2em;
  color: #595959;
}

@media (max-width: 992px) {
  .p__ {
    font-size: 16px;
  }
}

.big_p__ {
  font-size: 18px;
  letter-spacing: 0.1em;
  color: #595959;
}

@media (max-width: 992px) {
  .big_p__ {
    font-size: 17px;
  }
}

.big_p__2 {
  font-size: 25px;
  letter-spacing: 0.1em;
  color: #595959;
}

@media (max-width: 992px) {
  .big_p__2 {
    font-size: 22px;
  }
}

.big_title__ {
  font-size: 100px;
  letter-spacing: 0.1em;
  margin: 0 0 0 auto;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  line-height: 100px;
  color: #595959;
}

@media (max-width: 992px) {
  .big_title__ {
    font-size: 60px;
  }
}

.little_title__ {
  font-size: 20px;
  color: #595959;
  letter-spacing: 0.1em;
}

@media (max-width: 576px) {
  .little_title__ {
    font-size: 16px;
  }
}

.little_title__2 {
  font-size: 30px;
  color: #595959;
  letter-spacing: 0.1em;
}

.little_title__3 {
  font-size: 25px;
  letter-spacing: 0.1em;
  color: #595959;
}

@media (max-width: 992px) {
  .little_title__3 {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .little_title__3 {
    font-size: 18px;
  }
}

.title__ {
  font-size: 40px;
  letter-spacing: 0.1em;
  color: #595959;
}

.title__2 {
  font-size: 60px;
  letter-spacing: 0.1em;
}

@media (max-width: 992px) {
  .title__2 {
    font-size: 40px;
  }
}

@media (min-width: 996px) {
  main#content {
    padding-top: 100px;
  }
}

main#content #banner .swiper-container {
  position: relative;
}

main#content #banner .swiper-container .banner_text {
  z-index: 2;
  position: absolute;
  top: 50px;
  right: 0px;
}

@media (max-width: 576px) {
  main#content #banner .swiper-container .banner_text {
    left: 0;
  }
}

main#content #banner .swiper-container .banner_text span {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 15px;
  background: -webkit-gradient(linear, left top, right top, from(#dee2e600), to(#dee2e6));
  background: -webkit-linear-gradient(left, #dee2e600, #dee2e6);
  background: -o-linear-gradient(left, #dee2e600, #dee2e6);
  background: linear-gradient(90deg, #dee2e600, #dee2e6);
}

@media (max-width: 576px) {
  main#content #banner .swiper-container .banner_text span {
    font-size: 20px;
    letter-spacing: 3px;
    background: -webkit-gradient(linear, left top, right top, from(#dee2e6), to(#dee2e600));
    background: -webkit-linear-gradient(left, #dee2e6, #dee2e600);
    background: -o-linear-gradient(left, #dee2e6, #dee2e600);
    background: linear-gradient(90deg, #dee2e6, #dee2e600);
  }
}

main#content #banner .swiper-container .swiper-wrapper .swiper-slide {
  position: relative;
}

main#content #banner .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
}

main#content #banner .swiper-container .swiper-wrapper .swiper-slide img.pc_banner {
  display: block;
}

@media (max-width: 576px) {
  main#content #banner .swiper-container .swiper-wrapper .swiper-slide img.pc_banner {
    display: none;
  }
}

main#content #banner .swiper-container .swiper-wrapper .swiper-slide img.mobile_banner {
  display: none;
}

@media (max-width: 576px) {
  main#content #banner .swiper-container .swiper-wrapper .swiper-slide img.mobile_banner {
    display: block;
  }
}

main#content #about {
  background-color: #D5D8DE;
  padding: 150px 0;
}

main#content #about .about_in {
  padding: 150px 0;
  background-image: url(../img/index/aboutbg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #D5D8DE;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1600px) {
  main#content #about .about_in {
    height: 45vh;
  }
}

main#content #about .about_in .about_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

main#content #about .about_in .about_content .title__ {
  margin-bottom: 60px;
}

main#content #about .about_in .about_content .p__ {
  text-align: left;
  max-width: 700px;
}

main#content #advantage {
  padding: 100px 0;
}

main#content #advantage .photo {
  position: relative;
  text-align: center;
}

main#content #advantage .photo img {
  width: 90%;
}

main#content #advantage .photo .title__ {
  position: absolute;
  left: 50%;
  top: 57%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  main#content #advantage .photo .title__ {
    position: unset;
    -webkit-transform: unset;
        -ms-transform: unset;
            transform: unset;
    text-align: center;
  }
}

main#content #advantage .advantage_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 768px) {
  main#content #advantage .advantage_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main#content #advantage .advantage_content ul {
  line-height: 40px;
  margin-bottom: 0;
}

main#content #interior {
  padding: 100px 0 30px;
  background-color: #D5D8DE;
}

main#content #interior .title__ {
  text-align: center;
  margin-bottom: 70px;
}

main#content #interior .interior_photos .interior_photo a img {
  width: 100%;
}

main#content #instrument {
  padding: 100px 0 200px;
}

main#content #instrument .instrument_content .title__ {
  text-align: center;
  margin-bottom: 70px;
}

main#content #instrument .instrument_content .item {
  margin-bottom: 50px;
}

@media (min-width: 576px) {
  main#content #instrument .instrument_content .item {
    height: calc(33vh - 100px);
  }
}

main#content #instrument .instrument_content .item .inst_img {
  text-align: center;
}

@media (max-width: 576px) {
  main#content #instrument .instrument_content .item .inst_img {
    margin-bottom: 15px;
  }
}

main#content #instrument .instrument_content .item .inst_img img {
  width: 80%;
}

@media (max-width: 576px) {
  main#content #instrument .instrument_content .item .inst_img img {
    width: 60%;
  }
}

main#content #instrument .instrument_content .item .inst_article .inst_article_title {
  border-bottom: 1px solid;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main#content #instrument .instrument_content .item .inst_article .inst_article_title .pc__ {
  display: block;
}

@media (max-width: 576px) {
  main#content #instrument .instrument_content .item .inst_article .inst_article_title .pc__ {
    display: none;
  }
}

main#content #instrument .instrument_content .item .inst_article .inst_article_title .mobile__ {
  display: none;
}

@media (max-width: 576px) {
  main#content #instrument .instrument_content .item .inst_article .inst_article_title .mobile__ {
    display: block;
  }
}

main#content #instrument .instrument_content .item .inst_article .inst_article_content.padd_L {
  padding-left: 50px;
}

main#content #instrument .instrument_content .item .inst_article .inst_article_content.padd_R {
  padding-right: 50px;
}

@media (max-width: 576px) {
  main#content #instrument .instrument_content .item .inst_article {
    margin-bottom: 100px;
  }
}

main#content #doctor {
  padding: 100px 0 200px;
  background-color: #D5D8DE;
}

main#content #doctor .title__ {
  text-align: center;
  margin-bottom: 70px;
}

main#content #doctor .subtitle__ {
  padding: 10px 8px;
  background-color: #f2f2f2;
}

main#content #doctor .doctor_photo {
  position: relative;
  text-align: center;
}

main#content #doctor .doctor_photo img {
  width: 80%;
}

main#content #doctor .doctor_article {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  height: 100%;
}

main#content #doctor .doctor_article .article_bot {
  background-color: #f2f2f2;
  padding: 20px 10px;
  text-align: center;
}

main#content #doctor .doctor_article .article_bot .article_bot_content {
  display: inline-block;
  text-align: right;
}

main#content #doctor .doctor_exp {
  margin-top: 50px;
}

main#content #doctor .doctor_exp .doctor_exp_L {
  text-align: center;
}

main#content #doctor .doctor_exp .doctor_exp_L .doctor_exp_L_content {
  text-align: left;
  display: inline-block;
}

main#content #doctor .doctor_exp .exp_photos img {
  width: 100%;
}

main#content #doctor .doctor_bot {
  margin-top: 60px;
}

main#content #doctor .doctor_bot .doctor_bot_items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

main#content #doctor .doctor_bot .doctor_bot_items .bot_item {
  display: inline-block;
}

main#content #doctor .doctor_bot .doctor_bot_items .bot_item img {
  max-height: 18vw;
}

main#content #ortho {
  background-color: #D5D8DE;
  padding-bottom: 100px;
}

main#content #ortho .ortho_banner {
  background-image: url(../img/index/orthobg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 40vh;
}

main#content #ortho .ortho_banner .banner_text {
  background: -webkit-gradient(linear, left top, right top, from(#ffffff00), color-stop(#ffffffa4), to(#ffffff00));
  background: -webkit-linear-gradient(left, #ffffff00, #ffffffa4, #ffffff00);
  background: -o-linear-gradient(left, #ffffff00, #ffffffa4, #ffffff00);
  background: linear-gradient(90deg, #ffffff00, #ffffffa4, #ffffff00);
  display: inline-block;
  width: 80%;
  text-align: center;
  line-height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main#content #ortho .ortho_content .title__ {
  text-align: center;
  padding: 50px 0 20px 0;
}

main#content #ortho .container {
  text-align: center;
}

main#content #ortho .container .ortho_items {
  text-align: center;
}

@media (max-width: 576px) {
  main#content #ortho .container .ortho_items {
    text-align: center;
  }
}

main#content #ortho .container .ortho_items .ortho_item {
  text-align: center;
  display: inline-block;
  margin: 0 10px;
  margin-bottom: 20px;
}

main#content #ortho .container .ortho_items .ortho_item .item_icon img {
  max-width: 120px;
}

main#content #ortho .container .ortho_items .ortho_item .big_p__ {
  margin-top: 50px;
}

main#content #limit {
  padding: 100px 0;
}

main#content #limit .limit_content .title__ {
  text-align: center;
  margin-bottom: 70px;
}

main#content #limit .limit_content .items .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

@media (max-width: 576px) {
  main#content #limit .limit_content .items .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #000;
  }
}

main#content #limit .limit_content .items .item .item_icon {
  margin-right: 50px;
}

@media (max-width: 576px) {
  main#content #limit .limit_content .items .item .item_icon {
    margin-right: unset;
  }
}

main#content #limit .limit_content .items .item .item_icon img {
  max-width: 100px;
}

@media (max-width: 576px) {
  main#content #limit .limit_content .items .item .item_icon img {
    max-width: 100px;
    margin-bottom: 15px;
  }
}

main#content #type {
  padding: 100px 0;
  background-color: #D5D8DE;
  text-align: center;
}

main#content #type .type_content > .title__ {
  text-align: center;
  margin-bottom: 70px;
}

main#content #type .type_content > .subtitle__ {
  padding: 10px 8px;
  background-color: #f2f2f2;
}

main#content #type .type_top .little_title__2 {
  padding: 50px 0 20px 0;
}

main#content #type .type_top .type_top_items .item {
  display: inline-block;
  margin: 0 20px;
}

@media (max-width: 768px) {
  main#content #type .type_top .type_top_items .item {
    display: block;
  }
}

main#content #type .type_top .type_top_items .item .item_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

main#content #type .type_top .type_top_items .item .item_content .item_img img {
  max-width: 100px;
  margin-right: 5px;
}

main#content #type .type_top .type_top_items .item .item_content .item_article {
  padding: 15px 10px;
  max-width: 250px;
  background-color: #f2f2f2;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  main#content #type .type_top .type_top_items .item .item_content .item_article {
    max-width: unset;
    min-height: unset;
    width: 70%;
  }
}

main#content #type .type_top .type_top_items .item .item_content .item_article .big_p__ {
  text-align: center;
}

main#content #type .type_bot .little_title__2 {
  padding: 50px 0 20px 0;
}

main#content #type .type_bot .type_bot_items .item {
  display: inline-block;
  margin: 0 30px;
}

@media (max-width: 768px) {
  main#content #type .type_bot .type_bot_items .item {
    display: block;
  }
}

main#content #type .type_bot .type_bot_items .item .item_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  main#content #type .type_bot .type_bot_items .item .item_content {
    display: block;
  }
}

main#content #type .type_bot .type_bot_items .item .item_content .item_img {
  margin: 0 10px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

@media (max-width: 768px) {
  main#content #type .type_bot .type_bot_items .item .item_content .item_img {
    display: block;
    margin: 50px 0;
  }
}

main#content #type .type_bot .type_bot_items .item .item_content .item_img .item_img_ img {
  max-height: 100px;
}

main#content #type .type_bot .type_bot_items .item .item_content .item_article {
  padding: 15px 10px;
  max-width: 200px;
  background-color: #f2f2f2;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  main#content #type .type_bot .type_bot_items .item .item_content .item_article {
    max-width: unset;
    min-height: unset;
    width: 100%;
  }
}

main#content #type .type_bot .type_bot_items .item .item_content .item_article .big_p__ {
  text-align: center;
}

main#content #normal {
  padding: 100px 0;
}

main#content #normal .normal_content .title__ {
  text-align: center;
  margin-bottom: 70px;
}

main#content #normal .normal_content .left .photo img {
  width: 100%;
}

main#content #normal .normal_content .left .article {
  margin-top: 50px;
  background-color: #D5D8DE;
  padding: 30px 15px;
}

@media (max-width: 996px) {
  main#content #normal .normal_content .right {
    margin-top: 50px;
  }
}

main#content #normal .normal_content .right .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

main#content #normal .normal_content .right .item .icon img {
  max-width: 150px;
}

@media (max-width: 1200px) {
  main#content #normal .normal_content .right .item .icon img {
    max-width: 120px;
  }
}

main#content #normal .normal_content .right .item .text {
  margin-left: 15px;
}

main#content #normal .normal_content .right .item .text .big_p__ {
  max-width: 200px;
}

main#content #timing {
  padding: 100px 0;
}

main#content #timing .timing_content .title__ {
  text-align: center;
  margin-bottom: 70px;
}

main#content #timing .timing_content > .subtitle__ {
  padding: 10px 8px;
  background-color: #D5D8DE;
  margin-bottom: 50px;
}

main#content #timing .timing_content .L .L_titme {
  text-align: center;
}

main#content #timing .timing_content .R .item {
  text-align: center;
}

main#content #timing .timing_content .R .item img {
  max-width: 150px;
}

@media (max-width: 1200px) {
  main#content #timing .timing_content .R .item img {
    max-width: 120px;
  }
}

main#content #method {
  background-color: #D5D8DE;
  padding: 100px 0;
}

main#content #method .method_content .title__ {
  text-align: center;
  margin-bottom: 70px;
}

main#content #method .method_content .L_photo img {
  width: 100%;
}

main#content #method .method_content .R_photo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

@media (max-width: 996px) {
  main#content #method .method_content .R_photo {
    margin-top: 15px;
  }
}

main#content #method .method_content .R_photo .img_ img {
  width: 300px;
}

@media (max-width: 1200px) {
  main#content #method .method_content .R_photo .img_ img {
    width: 200px;
  }
}

main#content #method .method_content .R_photo .text_ span {
  padding: 8px;
  line-height: 60px;
}

main#content #method .method_content .R_photo .text_ span b {
  color: black;
}

main#content #method .method_content .R_photo .text_ .text_1 {
  background-color: #f4b183;
}

main#content #method .method_content .R_photo .text_ .text_2 {
  background-color: #dedd91;
}

main#content #method .method_content .R_photo .text_ .text_3 {
  background-color: #8acfbb;
}

main#content #method .method_content .R_photo .text_ .text_4 {
  background-color: #cca7cd;
}

main#content #method .method_content .R_bot_text {
  margin-top: 15px;
}

main#content #method .method_content .R_bot_text p {
  text-align: center;
  color: #595959;
}

main#content #method .method_content .bot_article {
  margin-top: 15px;
  padding: 15px;
  background-color: #f2f2f2;
}

main#content #appliance {
  padding: 100px 0;
}

main#content #appliance .appliance_content .title__ {
  text-align: center;
  margin-bottom: 70px;
}

main#content #appliance .appliance_content .item {
  margin-bottom: 20px;
}

main#content #appliance .appliance_content .item .item_L .img_ {
  text-align: center;
}

main#content #appliance .appliance_content .item .item_L .img_ img {
  width: 100%;
}

@media (max-width: 768px) {
  main#content #appliance .appliance_content .item .item_L .img_ img {
    width: 300px;
  }
}

@media (max-width: 500px) {
  main#content #appliance .appliance_content .item .item_L .img_ img {
    width: 80%;
  }
}

main#content #flow {
  padding: 100px 0;
  background-color: #D5D8DE;
}

main#content #flow .flow_content .title__ {
  text-align: center;
  margin-bottom: 70px;
}

main#content #flow .flow_content .item {
  margin-bottom: 30px;
}

main#content #flow .flow_content .item .item_L .img_ {
  text-align: center;
}

@media (max-width: 768px) {
  main#content #flow .flow_content .item .item_L .img_ {
    text-align: left;
  }
}

main#content #flow .flow_content .item .item_L .img_ img {
  width: 30%;
}

@media (max-width: 768px) {
  main#content #flow .flow_content .item .item_L .img_ img {
    width: 150px;
  }
}

@media (max-width: 500px) {
  main#content #flow .flow_content .item .item_L .img_ img {
    width: 30%;
    margin-bottom: 15px;
  }
}

main#content #whitening {
  padding-bottom: 100px;
}

main#content #whitening .whitening_banner {
  background-image: url(../img/index/whiteningbg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 40vh;
}

main#content #whitening .whitening_banner .banner_text {
  background: -webkit-gradient(linear, left top, right top, from(#ffffff00), color-stop(#ffffffa4), to(#ffffff00));
  background: -webkit-linear-gradient(left, #ffffff00, #ffffffa4, #ffffff00);
  background: -o-linear-gradient(left, #ffffff00, #ffffffa4, #ffffff00);
  background: linear-gradient(90deg, #ffffff00, #ffffffa4, #ffffff00);
  display: inline-block;
  width: 80%;
  text-align: center;
  line-height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main#content #whitening .whitening_content .item {
  margin-bottom: 50px;
}

@media (min-width: 576px) {
  main#content #whitening .whitening_content .item {
    height: calc(33vh - 100px);
  }
}

main#content #whitening .whitening_content .item .inst_img {
  text-align: center;
}

@media (max-width: 576px) {
  main#content #whitening .whitening_content .item .inst_img {
    margin-bottom: 15px;
  }
}

main#content #whitening .whitening_content .item .inst_img img {
  width: 80%;
}

@media (max-width: 576px) {
  main#content #whitening .whitening_content .item .inst_img img {
    width: 60%;
  }
}

main#content #whitening .whitening_content .item .inst_article .inst_article_title {
  border-bottom: 1px solid;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main#content #whitening .whitening_content .item .inst_article .inst_article_title .pc__ {
  display: block;
}

@media (max-width: 576px) {
  main#content #whitening .whitening_content .item .inst_article .inst_article_title .pc__ {
    display: none;
  }
}

main#content #whitening .whitening_content .item .inst_article .inst_article_title .mobile__ {
  display: none;
}

@media (max-width: 576px) {
  main#content #whitening .whitening_content .item .inst_article .inst_article_title .mobile__ {
    display: block;
  }
}

main#content #whitening .whitening_content .item .inst_article .inst_article_content.padd_L {
  padding-left: 50px;
}

main#content #whitening .whitening_content .item .inst_article .inst_article_content.padd_R {
  padding-right: 50px;
}

@media (max-width: 576px) {
  main#content #whitening .whitening_content .item .inst_article {
    margin-bottom: 100px;
  }
}

main#content #gingiva {
  padding-bottom: 100px;
}

main#content #gingiva .gingiva_banner {
  background-image: url(../img/index/gingivabg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 40vh;
}

main#content #gingiva .gingiva_banner .banner_text {
  background: -webkit-gradient(linear, left top, right top, from(#ffffff00), color-stop(#ffffffa4), to(#ffffff00));
  background: -webkit-linear-gradient(left, #ffffff00, #ffffffa4, #ffffff00);
  background: -o-linear-gradient(left, #ffffff00, #ffffffa4, #ffffff00);
  background: linear-gradient(90deg, #ffffff00, #ffffffa4, #ffffff00);
  display: inline-block;
  width: 80%;
  text-align: center;
  line-height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main#content #gingiva .gingiva_content {
  margin-top: 50px;
}

main#content #gingiva .gingiva_content .item {
  margin-bottom: 50px;
}

main#content #gingiva .gingiva_content .item .inst_img {
  text-align: center;
}

@media (max-width: 576px) {
  main#content #gingiva .gingiva_content .item .inst_img {
    margin-bottom: 15px;
  }
}

main#content #gingiva .gingiva_content .item .inst_img img {
  width: 180px;
}

@media (max-width: 576px) {
  main#content #gingiva .gingiva_content .item .inst_img img {
    width: 30%;
  }
}

main#content #gingiva .gingiva_content .item .inst_article .inst_article_title {
  border-bottom: 1px solid;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
      -ms-flex-pack: left;
          justify-content: left;
}

main#content #gingiva .gingiva_content .item .inst_article .inst_article_title.just_R {
  -webkit-box-pack: end;
  -webkit-justify-content: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media (max-width: 567px) {
  main#content #gingiva .gingiva_content .item .inst_article .inst_article_title.just_R {
    -webkit-box-pack: left;
    -webkit-justify-content: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

main#content #gingiva .gingiva_content .item .inst_article .inst_article_title .pc__ {
  display: block;
}

@media (max-width: 576px) {
  main#content #gingiva .gingiva_content .item .inst_article .inst_article_title .pc__ {
    display: none;
  }
}

main#content #gingiva .gingiva_content .item .inst_article .inst_article_title .mobile__ {
  display: none;
}

@media (max-width: 576px) {
  main#content #gingiva .gingiva_content .item .inst_article .inst_article_title .mobile__ {
    display: block;
  }
}

main#content #gingiva .gingiva_content .item .inst_article .inst_article_content.padd_L {
  padding-left: 50px;
}

@media (max-width: 567px) {
  main#content #gingiva .gingiva_content .item .inst_article .inst_article_content.padd_L {
    padding-left: 0px;
  }
}

main#content #gingiva .gingiva_content .item .inst_article .inst_article_content.padd_R {
  padding-right: 50px;
}

@media (max-width: 567px) {
  main#content #gingiva .gingiva_content .item .inst_article .inst_article_content.padd_R {
    padding-right: 0px;
  }
}

@media (max-width: 576px) {
  main#content #gingiva .gingiva_content .item .inst_article {
    margin-bottom: 100px;
  }
}

main#content #faq {
  padding: 100px 0;
  background-color: #D5D8DE;
}

main#content #faq .faq_content p {
  text-indent: -2.5em;
  padding-left: 2.5em;
}

main#content #faq .faq_content .title {
  text-align: center;
  margin-bottom: 70px;
}

main#content #faq .faq_content .subtitle {
  text-align: center;
}
