@media (min-width: 1440px) {
  .container {
    max-width: 1400px !important;
  }
}

.p__ {
  color: #484746;
  font-size: 18px;
  letter-spacing: 0.1em;
}

@media (max-width: 1200px) {
  .p__ {
    font-size: 17px;
  }
}

@media (max-width: 768px) {
  .p__ {
    font-size: 16px;
  }
}

.big_p__ {
  color: #484746;
  font-size: 22px;
  letter-spacing: 0.1em;
}

@media (max-width: 1200px) {
  .big_p__ {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .big_p__ {
    font-size: 18px;
  }
}

.span__ {
  white-space: nowrap;
  margin: 0 3px;
  font-size: 18px;
  letter-spacing: 0.05em;
  background-color: white;
  padding: 10px 15px;
  border-radius: 30px;
  color: #484746;
  line-height: 60px;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .span__ {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .span__ {
    font-size: 15px !important;
  }
}

.dialog__ {
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 0.22em;
}

@media (max-width: 1200px) {
  .dialog__ {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .dialog__ {
    font-size: 16px !important;
    line-height: 25px;
  }
}

.big_title__ {
  font-size: 50px;
  letter-spacing: 0.22em;
  line-height: 72px;
}

@media (max-width: 1200px) {
  .big_title__ {
    font-size: 40px;
    line-height: 60px;
  }
}

@media (max-width: 768px) {
  .big_title__ {
    font-size: 40px;
    line-height: 55px;
  }
}

@media (max-width: 500px) {
  .big_title__ {
    font-size: 25px;
    line-height: 38px;
  }
}

.title__ {
  font-size: 38px;
  letter-spacing: 0.15em;
  line-height: 60px;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .title__ {
    font-size: 35px;
    line-height: 50px;
    letter-spacing: 0.05em;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 500px) {
  .title__ {
    font-size: 25px;
    line-height: 40px;
    letter-spacing: 0.05em;
    padding-left: 5px;
    padding-right: 5px;
  }
  .title__ span.ensp {
    display: none;
  }
}

.subtitle__ {
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 0.05em;
}

@media (max-width: 1200px) {
  .subtitle__ {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .subtitle__ {
    font-size: 18px;
  }
}

.left_img {
  max-width: 100px;
  margin-right: 20px;
}

@media (max-width: 1200px) {
  .left_img {
    margin-right: 20px;
    max-width: 80px;
  }
}

@media (max-width: 500px) {
  .left_img {
    max-width: 55px;
    margin-right: 10px;
  }
}

.padding_L {
  padding-left: 7rem;
}

@media (max-width: 768px) {
  .padding_L {
    padding-left: 0;
  }
}
