@charset "UTF-8";
* {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: '微軟正黑體';
}

.bold_ {
  font-weight: bold;
}

.d-flex-j-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.max_920 {
  max-width: 920px;
}

.transition {
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.navber {
  -webkit-box-align: unset !important;
  -webkit-align-items: unset !important;
      -ms-flex-align: unset !important;
          align-items: unset !important;
}

.navbar {
  display: block !important;
  padding: 0 !important;
}

.phone-icon {
  margin-top: 8px;
}

.menu-toggle span {
  background-color: #6d5c5f;
}

.software-header .menu__item {
  line-height: 1.15;
}

.nav__menu {
  margin-bottom: 0;
}

.contact-sub {
  padding-top: 100px;
}

.contact-inner h3.color--red {
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 42px;
  letter-spacing: 2px;
  margin-top: 0;
}

.contact-inner h5.h5 {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
}

.contact-inner a {
  color: #000;
  text-decoration: none;
}

.wrapper .section_1 {
  margin-bottom: -30px;
  padding-top: 270px;
  background-image: url(../images/software_2/banner-bgc.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 768px) {
  .wrapper .section_1 {
    padding-top: 150px;
    background-size: cover;
    background-position: center;
  }
}

.wrapper .section_1 .title_ {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  .wrapper .section_1 .title_ .left img {
    margin-right: 20px;
  }
}

@media (max-width: 500px) {
  .wrapper .section_1 .title_ .left img {
    width: 50px;
  }
}

.wrapper .section_1 .title_ .right p {
  white-space: nowrap;
  font-weight: bold;
  line-height: 60px;
  letter-spacing: 0.22em;
  color: #80654A;
  position: relative;
  z-index: 2;
  display: inline-block;
}

@media (max-width: 768px) {
  .wrapper .section_1 .title_ .right p {
    letter-spacing: 0.08em;
  }
}

@media (max-width: 500px) {
  .wrapper .section_1 .title_ .right p {
    line-height: 25px;
    letter-spacing: 0.05em;
    white-space: nowrap;
  }
}

.wrapper .section_1 .title_ .right p:after {
  z-index: -1;
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 30px;
  background: #FDE1C8;
}

@media (max-width: 500px) {
  .wrapper .section_1 .title_ .right p:after {
    height: 18px;
    bottom: -6px;
  }
}

.wrapper .section_1 .content_ {
  margin-top: 50px;
}

.wrapper .section_1 .content_ p {
  color: #80654A;
  font-weight: normal;
}

.wrapper .section_1 .bot {
  width: 100%;
  display: inline-block;
  margin-top: 50px;
}

@media (max-width: 400px) {
  .wrapper .section_1 .bot {
    margin-top: 50px;
  }
}

.wrapper .section_1 .bot .bot_L img {
  max-width: 280px;
  width: 100%;
  display: block;
  z-index: 0;
  margin-left: -100px;
  z-index: 2;
}

@media (max-width: 996px) {
  .wrapper .section_1 .bot .bot_L img {
    margin-left: -20px;
    margin-bottom: -30px;
  }
}

.wrapper .section_1 .bot .dialog_2 {
  display: inline-block;
  z-index: 3;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #bb8080;
  padding: 30px 40px;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .wrapper .section_1 .bot .dialog_2 {
    padding: 15px 20px;
  }
}

@media (max-width: 500px) {
  .wrapper .section_1 .bot .dialog_2 {
    padding: 5px 10px;
  }
}

.wrapper .section_1 .bot .dialog_2:before {
  content: "";
  position: absolute;
  top: 20px;
  right: -58px;
  background-image: url(../images/software_3/software-29.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60px;
  height: 60px;
  width: 60px;
}

@media (max-width: 768px) {
  .wrapper .section_1 .bot .dialog_2:before {
    top: 10px;
    right: -52px;
    background-size: 45px;
  }
}

@media (max-width: 500px) {
  .wrapper .section_1 .bot .dialog_2:before {
    top: 0;
    right: -48px;
    background-size: 40px;
  }
}

.wrapper .section_1 .bot .dialog_2 p {
  margin-top: 0;
  text-align: justify;
  letter-spacing: 0.03em;
  color: #80654A;
  margin-bottom: 0;
}

.wrapper .section_2 {
  padding-top: 120px;
  margin-bottom: -50px;
}

.wrapper .section_2 .title_ {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.wrapper .section_2 .title_ .right .title__ {
  white-space: nowrap;
  font-weight: bold;
  -webkit-transform: rotate(-1.41deg);
      -ms-transform: rotate(-1.41deg);
          transform: rotate(-1.41deg);
  line-height: 60px;
  letter-spacing: 0.22em;
  color: #83C6DB;
  position: relative;
  z-index: 2;
  display: inline-block;
}

@media (max-width: 768px) {
  .wrapper .section_2 .title_ .right .title__ {
    letter-spacing: 0.08em;
  }
}

@media (max-width: 500px) {
  .wrapper .section_2 .title_ .right .title__ {
    line-height: 25px;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    letter-spacing: 0.05em;
    white-space: nowrap;
  }
}

.wrapper .section_2 .title_ .right .title__:after {
  z-index: -1;
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 30px;
  background: #FDE1C8;
}

@media (max-width: 500px) {
  .wrapper .section_2 .title_ .right .title__:after {
    height: 18px;
    bottom: -6px;
  }
}

.wrapper .section_2 .content {
  margin-top: 90px;
}

.wrapper .section_2 .content .left {
  padding-bottom: 60px;
}

.wrapper .section_2 .content .left .top .item {
  margin-bottom: 5px;
}

.wrapper .section_2 .content .left .top .item .item_left {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #92A6AE;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
}

.wrapper .section_2 .content .left .top .item .item_right {
  display: inline-block;
  vertical-align: sub;
  color: #80654A;
  margin-left: 5px;
}

.wrapper .section_2 .content .left .bot .span_1 {
  display: inline-block;
  background: #C3D4B1;
  color: white;
  padding: 10px 15px;
  border-radius: 30px;
  font-weight: bold;
  line-height: 25px;
  margin: 10px 0;
}

.wrapper .section_2 .content .left .bot .span_2 {
  color: #484746;
  display: inline-block;
  margin: 10px 0;
}

.wrapper .section_2 .content .right {
  position: relative;
}

.wrapper .section_2 .content .right .top a.pc_ {
  display: block;
}

@media (max-width: 1024px) {
  .wrapper .section_2 .content .right .top a.pc_ {
    display: none;
  }
}

.wrapper .section_2 .content .right .top a.pad_ {
  display: none;
}

@media (min-width: 576px) and (max-width: 1024px) {
  .wrapper .section_2 .content .right .top a.pad_ {
    display: block;
  }
}

.wrapper .section_2 .content .right .top a.mobile_ {
  display: none;
}

@media (max-width: 576px) {
  .wrapper .section_2 .content .right .top a.mobile_ {
    display: block;
  }
}

.wrapper .section_2 .content .right .top a img {
  width: 100%;
}

.wrapper .section_2 .content .right .bot_text {
  text-align: center;
  color: #83C6DB;
  margin-bottom: 50px;
}

@media (max-width: 500px) {
  .wrapper .section_2 .content .right .bot_text {
    margin-bottom: 10px;
  }
}

.wrapper .section_2 .content .right .people_1 {
  max-width: 35%;
  display: block;
  margin-left: auto;
  margin-top: -100px;
  margin-right: -30px;
}

@media (max-width: 992px) {
  .wrapper .section_2 .content .right .people_1 {
    margin-top: 0px;
    max-width: 55%;
    margin-right: 0px;
  }
}

@media (max-width: 500px) {
  .wrapper .section_2 .content .right .people_1 {
    max-width: 35%;
  }
}

.wrapper .section_3 {
  padding-top: 50px;
  background-image: url(../images/software_7/box_2_bg.svg);
  background-size: cover;
}

.wrapper .section_3 .title_ {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.wrapper .section_3 .title_ .right .title__ {
  white-space: nowrap;
  font-weight: bold;
  line-height: 60px;
  letter-spacing: 0.22em;
  color: #8E8955;
  position: relative;
  z-index: 2;
  display: inline-block;
}

@media (max-width: 768px) {
  .wrapper .section_3 .title_ .right .title__ {
    letter-spacing: 0.08em;
  }
}

@media (max-width: 500px) {
  .wrapper .section_3 .title_ .right .title__ {
    line-height: 25px;
    letter-spacing: 0.05em;
    white-space: nowrap;
  }
}

.wrapper .section_3 .title_ .right .title__:after {
  z-index: -1;
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 30px;
  background: #fff;
}

@media (max-width: 500px) {
  .wrapper .section_3 .title_ .right .title__:after {
    height: 18px;
    bottom: -6px;
  }
}

.wrapper .section_3 .content {
  padding-top: 80px;
  padding-bottom: 120px;
}

.wrapper .section_3 .content .left img {
  width: 100%;
}

@media (max-width: 768px) {
  .wrapper .section_3 .content .right {
    margin-top: 50px;
  }
}

.wrapper .section_3 .content .right .item {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 500px) {
  .wrapper .section_3 .content .right .item {
    display: block;
  }
}

.wrapper .section_3 .content .right .item .item_left {
  display: inline-block;
  width: 30px;
  min-width: 30px;
  height: 30px;
  background: #92A6AE;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  margin-right: 10px;
}

@media (max-width: 500px) {
  .wrapper .section_3 .content .right .item .item_left {
    margin-bottom: 10px;
  }
}

.wrapper .section_3 .content .right .item .item_right {
  max-width: 600px;
  display: inline-block;
  vertical-align: sub;
  color: #80654A;
  margin-left: 5px;
}

.wrapper .section_3 .content .right .item .item_right p {
  margin-bottom: 0;
  text-align: justify;
  line-height: 30px;
}

.wrapper .section_3 .content .right .item .item_right .top_ {
  font-weight: bold;
}

.wrapper .section_4 {
  background-color: #F1F3FF;
  padding-top: 50px;
  padding-bottom: 20px;
}

.wrapper .section_4 .content {
  background-color: #fff;
  padding: 0 15px;
}

.wrapper .section_4 .content .title_ {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}

@media (max-width: 500px) {
  .wrapper .section_4 .content .title_ {
    -webkit-box-pack: unset;
    -webkit-justify-content: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}

.wrapper .section_4 .content .title_ .right .title__ {
  white-space: nowrap;
  font-weight: bold;
  line-height: 60px;
  letter-spacing: 0.22em;
  color: #837389;
  position: relative;
  z-index: 2;
  display: inline-block;
}

@media (max-width: 768px) {
  .wrapper .section_4 .content .title_ .right .title__ {
    letter-spacing: 0.08em;
  }
}

@media (max-width: 500px) {
  .wrapper .section_4 .content .title_ .right .title__ {
    line-height: 25px;
    letter-spacing: 0.05em;
    white-space: nowrap;
  }
}

.wrapper .section_4 .content .title_ .right .title__:after {
  z-index: -1;
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 30px;
  background: #fff;
}

@media (max-width: 500px) {
  .wrapper .section_4 .content .title_ .right .title__:after {
    height: 18px;
    bottom: -6px;
  }
}

.wrapper .section_4 .content .title_ .right .title__.pc {
  display: block;
}

@media (max-width: 996px) {
  .wrapper .section_4 .content .title_ .right .title__.pc {
    display: none;
  }
}

.wrapper .section_4 .content .title_ .right .title__.mobile {
  display: none;
}

@media (max-width: 996px) {
  .wrapper .section_4 .content .title_ .right .title__.mobile {
    display: block;
  }
}

.wrapper .section_4 .content .content_ .photo {
  text-align: center;
}

.wrapper .section_4 .content .content_ .photo img {
  max-width: 950px;
  width: 100%;
}

.wrapper .section_4 .content .content_ .items_box {
  text-align: center;
}

.wrapper .section_4 .content .content_ .items_box .items {
  display: inline-block;
}

@media (max-width: 768px) {
  .wrapper .section_4 .content .content_ .items_box .items {
    margin-top: 50px;
  }
}

.wrapper .section_4 .content .content_ .items_box .items .item {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

@media (max-width: 500px) {
  .wrapper .section_4 .content .content_ .items_box .items .item {
    display: block;
  }
}

.wrapper .section_4 .content .content_ .items_box .items .item .item_left {
  display: inline-block;
  width: 30px;
  min-width: 30px;
  height: 30px;
  background: #92A6AE;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  margin-right: 10px;
}

@media (max-width: 500px) {
  .wrapper .section_4 .content .content_ .items_box .items .item .item_left {
    margin-bottom: 10px;
  }
}

.wrapper .section_4 .content .content_ .items_box .items .item .item_right {
  max-width: 700px;
  display: inline-block;
  vertical-align: sub;
  color: #80654A;
  margin-left: 5px;
  text-align: left;
}

.wrapper .section_4 .content .content_ .items_box .items .item .item_right p {
  margin-bottom: 0;
  text-align: justify;
  line-height: 30px;
}

.wrapper .section_4 .content .content_ .items_box .items .item .item_right .top_ {
  font-weight: bold;
}

.wrapper .section_4 .content .content_ .items_box .items .item .item_right ul {
  padding-left: 1.5em;
}

.wrapper .section_4 .content .content_ .items_box .items .item .item_right ul li {
  list-style-type: disc;
}

.wrapper .section_4 .bot_photo {
  margin-top: 15px;
  text-align: center;
  position: relative;
}

.wrapper .section_4 .bot_photo .dentist-client_1 {
  max-width: 570px;
  width: 100%;
}

.wrapper .section_4 .bot_photo .dentist-client_2, .wrapper .section_4 .bot_photo .dentist-client_3 {
  position: absolute;
  -webkit-box-shadow: 0px 4px 35px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 35px 3px rgba(0, 0, 0, 0.25);
  max-width: 450px;
  width: 100%;
  margin: 15px 0;
  border-radius: 15px;
}

@media (max-width: 996px) {
  .wrapper .section_4 .bot_photo .dentist-client_2, .wrapper .section_4 .bot_photo .dentist-client_3 {
    position: unset;
  }
}

.wrapper .section_4 .bot_photo .dentist-client_2 {
  left: 0;
  bottom: 0;
}

.wrapper .section_4 .bot_photo .dentist-client_3 {
  right: 0;
  top: 40%;
}

.wrapper .section_5 .title_ {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.wrapper .section_5 .title_ .right .title__ {
  white-space: nowrap;
  font-weight: bold;
  line-height: 60px;
  letter-spacing: 0.22em;
  color: #E9B940;
  position: relative;
  z-index: 2;
  display: inline-block;
}

@media (max-width: 768px) {
  .wrapper .section_5 .title_ .right .title__ {
    letter-spacing: 0.08em;
  }
}

@media (max-width: 500px) {
  .wrapper .section_5 .title_ .right .title__ {
    line-height: 25px;
    letter-spacing: 0.05em;
    white-space: nowrap;
  }
}

.wrapper .section_5 .title_ .right .title__:after {
  z-index: -1;
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 30px;
  background: #F5F5CC;
}

@media (max-width: 500px) {
  .wrapper .section_5 .title_ .right .title__:after {
    height: 18px;
    bottom: -6px;
  }
}

.wrapper .section_5 .content {
  margin-top: 50px;
}

@media (max-width: 500px) {
  .wrapper .section_5 .content {
    margin-top: 0px;
  }
}

.wrapper .section_5 .content .items {
  display: inline-block;
}

@media (max-width: 768px) {
  .wrapper .section_5 .content .items {
    margin-top: 50px;
  }
}

.wrapper .section_5 .content .items .item {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

@media (max-width: 500px) {
  .wrapper .section_5 .content .items .item {
    display: block;
  }
}

.wrapper .section_5 .content .items .item .item_left {
  display: inline-block;
  width: 30px;
  min-width: 30px;
  height: 30px;
  background: #92A6AE;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  margin-right: 10px;
}

@media (max-width: 500px) {
  .wrapper .section_5 .content .items .item .item_left {
    margin-bottom: 10px;
    display: block;
  }
}

.wrapper .section_5 .content .items .item .item_right {
  max-width: 700px;
  display: inline-block;
  vertical-align: sub;
  color: #80654A;
  margin-left: 5px;
  text-align: left;
}

.wrapper .section_5 .content .items .item .item_right p {
  margin-bottom: 0;
  text-align: justify;
  line-height: 30px;
}

.wrapper .section_5 .content .items .item .item_right .top_ {
  font-weight: bold;
}

.wrapper .section_5 .content .items .item .item_right ul {
  padding-left: 1.5em;
}

.wrapper .section_5 .content .items .item .item_right ul li {
  list-style-type: disc;
}

.wrapper .section_5 .content .bot {
  display: inline-block;
  margin-top: 30px;
}

.wrapper .section_5 .content .bot .bot_L img {
  max-width: 350px;
  width: 100%;
  display: block;
  z-index: 0;
}

@media (max-width: 500px) {
  .wrapper .section_5 .content .bot .bot_L img {
    width: 70%;
    margin: 0 auto;
  }
}

.wrapper .section_5 .content .bot .dialog_2 {
  z-index: 3;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #bb8080;
  padding: 15px 20px;
  margin-top: 60px;
}

.wrapper .section_5 .content .bot .dialog_2:before {
  content: "";
  position: absolute;
  top: 20px;
  left: -58px;
  background-image: url(../images/software_3/software-29-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60px;
  height: 60px;
  width: 60px;
}

@media (max-width: 1200px) {
  .wrapper .section_5 .content .bot .dialog_2:before {
    background-size: 45px;
    left: -51px;
  }
}

@media (max-width: 576px) {
  .wrapper .section_5 .content .bot .dialog_2:before {
    left: 57px;
    top: -51px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.wrapper .section_5 .content .bot .dialog_2 p {
  margin-top: 0;
  text-align: justify;
  letter-spacing: 0.05em;
  color: #80654A;
  margin-bottom: 0;
}

.wrapper .contact-sub {
  padding-top: 200px;
}
