@charset "UTF-8";
* {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: '微軟正黑體';
}

.bold_ {
  font-weight: bold;
}

.navber {
  -webkit-box-align: unset !important;
  -webkit-align-items: unset !important;
      -ms-flex-align: unset !important;
          align-items: unset !important;
}

.navbar {
  display: block !important;
  padding: 0 !important;
}

.phone-icon {
  margin-top: 8px;
}

.menu-toggle span {
  background-color: #6d5c5f;
}

.software-header .menu__item {
  line-height: 1.15;
}

.nav__menu {
  margin-bottom: 0;
}

.contact-sub {
  padding-top: 100px;
}

.contact-inner h3.color--red {
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 42px;
  letter-spacing: 2px;
  margin-top: 0;
}

.contact-inner h5.h5 {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
}

.contact-inner a {
  color: #000;
  text-decoration: none;
}

.wrapper .box_1 {
  margin-bottom: -30px;
  padding-top: 270px;
  background-image: url(../images/software_2/banner-bgc.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.wrapper .box_1 .title_ {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .box_1 .title_ .right p {
  -webkit-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
          transform: rotate(-2deg);
  white-space: nowrap;
  font-weight: bold;
  line-height: 60px;
  letter-spacing: 0.22em;
  color: #80654A;
  position: relative;
  z-index: 2;
  display: inline-block;
}

.wrapper .box_1 .title_ .right p:after {
  z-index: -1;
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 30px;
  background: #FDE1C8;
}

.wrapper .box_1 .content_ {
  margin-top: 50px;
}

.wrapper .box_1 .content_ p {
  color: #80654A;
  font-weight: normal;
}

.wrapper .box_1 .bot {
  width: 100%;
  display: inline-block;
  margin-top: 150px;
}

.wrapper .box_1 .bot .bot_L img {
  max-width: 280px;
  width: 100%;
  display: block;
  margin-bottom: -50px;
  z-index: 0;
  margin-left: -100px;
  z-index: 2;
}

.wrapper .box_1 .bot .dialog_2 {
  display: inline-block;
  z-index: 3;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #bb8080;
  padding: 30px 40px;
}

.wrapper .box_1 .bot .dialog_2:before {
  content: "";
  position: absolute;
  top: 20px;
  right: -58px;
  background-image: url(../images/software_3/software-29.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60px;
  height: 60px;
  width: 60px;
}

.wrapper .box_1 .bot .dialog_2 p {
  margin-top: 0;
  text-align: justify;
  letter-spacing: 0.03em;
  color: #80654A;
  margin-bottom: 0;
}

.wrapper .box_2 {
  padding-top: 150px;
  background-image: url(../images/software_4/box_2_bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.wrapper .box_2 img.circle {
  display: block;
  position: absolute;
  top: 35px;
  right: 20%;
}

.wrapper .box_2 .title_ {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .box_2 .title_ .right .pc {
  font-weight: bold;
  color: #BB7F1B;
  z-index: 2;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, white), color-stop(0%, transparent));
  background: -webkit-linear-gradient(bottom, white 50%, transparent 0%);
  background: -o-linear-gradient(bottom, white 50%, transparent 0%);
  background: linear-gradient(to top, white 50%, transparent 0%);
  padding-bottom: 5px;
}

.wrapper .box_2 .title_ .right .mobile {
  font-weight: bold;
  color: #BB7F1B;
  position: relative;
  z-index: 2;
  display: none;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, white), color-stop(0%, transparent));
  background: -webkit-linear-gradient(bottom, white 50%, transparent 0%);
  background: -o-linear-gradient(bottom, white 50%, transparent 0%);
  background: linear-gradient(to top, white 50%, transparent 0%);
  padding-bottom: 5px;
}

.wrapper .box_2 .article {
  padding-left: 90px;
}

.wrapper .box_2 .article .article_1 {
  margin-top: 45px;
}

.wrapper .box_2 .article .article_1 h3 {
  line-height: 35px;
  letter-spacing: 0.05em;
  color: #80654A;
  font-weight: bold;
}

.wrapper .box_2 .article .article_1 p {
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #484746;
  position: relative;
}

.wrapper .box_2 .article .article_2 {
  margin-top: 45px;
  margin-bottom: 60px;
  margin-left: 40px;
}

.wrapper .box_2 .article .article_2 h3 {
  line-height: 35px;
  letter-spacing: 0.05em;
  color: #80654A;
  font-weight: bold;
}

.wrapper .box_2 .article .article_2 h3:before {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: -40px;
  background-image: url(../images/software_2/number_2.svg);
  background-size: cover;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.wrapper .box_2 .article .article_2 p {
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #484746;
  position: relative;
}

.wrapper .box_2 .box_2_photo img {
  margin-top: 50px;
  width: 100%;
}

.wrapper .box_2 .box_2_photo img.box_2_photo_2 {
  max-width: 210px;
  width: 100%;
}

.wrapper .box_2 .box_2_photo img.box_2_photo_3 {
  max-width: 190px;
  width: 100%;
}

.wrapper .box_3_ {
  padding-top: 150px;
  padding-bottom: 120px;
  background-color: #FBE9E7;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.wrapper .box_3_ img.circle {
  display: block;
  position: absolute;
  top: 35px;
  right: 20%;
}

.wrapper .box_3_ .title_ {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .box_3_ .title_ .right .pc {
  font-weight: bold;
  color: #BB7F1B;
  position: relative;
  z-index: 2;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, white), color-stop(0%, transparent));
  background: -webkit-linear-gradient(bottom, white 50%, transparent 0%);
  background: -o-linear-gradient(bottom, white 50%, transparent 0%);
  background: linear-gradient(to top, white 50%, transparent 0%);
  padding-bottom: 5px;
}

.wrapper .box_3_ .title_ .right .mobile {
  display: none;
  font-weight: bold;
  color: #BB7F1B;
  z-index: 2;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, white), color-stop(0%, transparent));
  background: -webkit-linear-gradient(bottom, white 50%, transparent 0%);
  background: -o-linear-gradient(bottom, white 50%, transparent 0%);
  background: linear-gradient(to top, white 50%, transparent 0%);
  padding-bottom: 5px;
}

.wrapper .box_3_ .article {
  padding-left: 90px;
}

.wrapper .box_3_ .article .article_1 {
  margin-top: 45px;
}

.wrapper .box_3_ .article .article_1 h3 {
  line-height: 35px;
  letter-spacing: 0.05em;
  color: #80654A;
  font-weight: bold;
}

.wrapper .box_3_ .article .article_1 p {
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #484746;
  z-index: 1;
}

.wrapper .box_3_ .article .article_1 p > span {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(42%, #FFC58F), color-stop(0%, transparent));
  background: -webkit-linear-gradient(bottom, #FFC58F 42%, transparent 0%);
  background: -o-linear-gradient(bottom, #FFC58F 42%, transparent 0%);
  background: linear-gradient(to top, #FFC58F 42%, transparent 0%);
}

.wrapper .box_3_ .article .article_2 {
  margin-top: 45px;
  margin-bottom: 60px;
  margin-left: 40px;
}

.wrapper .box_3_ .article .article_2 h3 {
  line-height: 35px;
  letter-spacing: 0.05em;
  color: #80654A;
  font-weight: bold;
}

.wrapper .box_3_ .article .article_2 h3:before {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: -40px;
  background-image: url(../images/software_2/number_2.svg);
  background-size: cover;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.wrapper .box_3_ .article .article_2 p {
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #484746;
  position: relative;
}

.wrapper .box_3_ .box_3_photo img {
  margin-top: 50px;
  width: 100%;
}

.wrapper .box_3_ .box_3_photo img.pc {
  display: block;
}

.wrapper .box_3_ .box_3_photo img.mobile {
  display: none;
}

.wrapper .box_4_ {
  padding-top: 150px;
  padding-bottom: 120px;
  background-color: #F6F4EC;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.wrapper .box_4_ .title_ {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .box_4_ .title_ .right .pc {
  font-weight: bold;
  color: #878860;
  position: relative;
  z-index: 2;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #E5E5C1), color-stop(0%, transparent));
  background: -webkit-linear-gradient(bottom, #E5E5C1 50%, transparent 0%);
  background: -o-linear-gradient(bottom, #E5E5C1 50%, transparent 0%);
  background: linear-gradient(to top, #E5E5C1 50%, transparent 0%);
  padding-bottom: 5px;
}

.wrapper .box_4_ .title_ .right .mobile {
  display: none;
}

.wrapper .box_4_ .item {
  margin-top: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.wrapper .box_4_ .item img.pc_number {
  width: 30px;
  display: block;
}

.wrapper .box_4_ .item .article {
  margin-left: 20px;
}

.wrapper .box_4_ .item .article .subtitle__ {
  color: #80654A;
}

.wrapper .box_4_ .item .article .subtitle__ img.mobile_number {
  width: 30px;
  display: none;
}

.wrapper .box_4_ .bot {
  margin-top: 65px;
}

.wrapper .box_4_ .bot .photo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .box_4_ .bot .photo img {
  width: 100%;
  max-width: 940px;
}

.wrapper .contact-sub {
  padding-top: 200px;
}
