main#main{
    padding-top: 70px;
    .box_1{
        display: block;
        .article{
            margin-top: 160px;
            background-color: white;
            padding: 140px 10%;
            
            display: flex;
            justify-content: flex-end;
            .content{
                color: #878787;
                max-width: 585px; 

                h6{
                    font-size: 20px;
                    letter-spacing: 0.12em;
                    text-align: justify;
                    font-weight: bold;
                }
                h3{
                    font-size: 26px;
                    color: #585E4F;
                    letter-spacing: 0.12em;
                    font-weight: bold;

                    &:after{
                        margin: 50px 0;
                        content: '';
                        display: block;
                        
                        width: 50px;
                        height: 1px;
                        top: 60px;
                        left: 0px;
                        transform: translate(0% , -50%);
                        background-color: #EFB79B;
                    }
                }
                p{
                    font-size: 16px;
                    letter-spacing: 0.12em;
                    text-align: justify;
                }
            }
        }
        .photo{
            position: relative;
            img.box_1_img{
                width:110% ;
                margin-left: -10%;
                
            }
            .color_box{
                width: 100%;
                height: 50%;
                background: #C0BAA0;
                position: absolute;
                bottom: -20%;
                left: -20%;
                z-index: -1;

            }
        }
    }
    .box_1_mobile{
        display: none;
    }
    .box_2{
        
        display: block;
        background-image: url(../img/box_2_back.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .content{
            margin: 70px 0;
            display: flex;
            flex-direction: column;
            img.box_2_logo{
                max-width: 250px;
                margin-bottom: 30px;
            }
            img.box_2_img{
                max-width: 420px;
            }
        }
    }
    .box_2_mobile{
        display: none;
    }
    .box_3{
        position: relative;
        .title{
            display: flex;
            align-items: center;
            margin-bottom: 85px;
            .title_r{
                margin-top: 50px;
                h3{
                    font-size: 36px;
                    letter-spacing: 0.05em;
                    color: #EFB79B;
                }
                p{
                    font-size: 16px;
                    letter-spacing: 0.05em;
                    color: #FFFFFF;
                }
            }
        }

        .swiper-container{
            width: 100%;
            .swiper-slide{
                width: 60%;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;

                .item{
                    img{
                        width: 768px;
                    }
                }
            }
            
        }

        .btn_content{
            img.btn_{
                position: absolute;
                top: 50%;
                left: calc(66% + 205px);
                z-index: 3;
                pointer-events: none;
            }
        }
        
    }
}