.box_1{
    padding-top: 160px;
    background-image: url(/paga_2/img/paga_2/box_1_bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:left;
    position: relative;

    .box_1_photo{
        position: absolute;
        width: 35%;
        top: 50%;
    }
    
    .box_1_title{
        img{
            // width: 100%;
            margin-bottom: 50px;
            text-align: center;
        }
        .text{
            display: flex;
            justify-content: center;
            // 主標題
            .title_{
                writing-mode: vertical-lr;
                margin: 0;
                margin-top: 20px;
    
            }
            // 副標題
            .p_20{
                writing-mode: vertical-lr;
                margin: 0;

            }
        }   
        
    }

    .box_1_right{
        padding-top: 200px;

        >.p_20{
            color: #5E5454;
            font-weight: bold;
        }

        >.p_16{
            color: #E5801A;
        }

        .box_1_right_bot{
            padding-right: 60px;
            // max-width: 550px;
            padding-top: 120px;
            overflow: hidden;
            
            .p_16{
                position: relative;
                display: inline-block;
                &:after{
                    position: absolute;
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: #BFBFBF;
                    left: 105%;
                    top: 50%;
                }
            }
        }
    }  
}