.box_1{
    padding-top: 160px;
    background-image: url(/paga_2/img/paga_2/box_1_bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:left bottom;
    position: relative;
    padding-bottom: 80px;

    .box_1_photo{
        position: absolute;
        width: 35%;
        top: 400px;

        @media (max-width:768px){
            width: 75%;
            // top: 40%;
        }
    }
    
    .box_1_title{
        text-align: center;
        img{
            // width: 100%;
            margin-bottom: 50px;
            @media (max-width:768px) {
                margin-bottom: 10px;
            }
        }
        .text{
            display: flex;
            justify-content: center;
            // 主標題
            .title_{
                writing-mode: vertical-lr;
                margin: 0;
                margin-top: 20px;
    
            }
            // 副標題
            .p_20{
                writing-mode: vertical-lr;
                margin: 0;

            }
        }   
        
    }

    .box_1_right{
        padding-top: 200px;
        margin-bottom: 100px;

        >.p_20{
            color: #5E5454;
            font-weight: bold;
        }

        >.p_16{
            color: #E5801A;
        }

        .box_1_right_bot{
            padding-right: 60px;
            // max-width: 550px;
            padding-top: 120px;
            overflow: hidden;

            @media (max-width:768px){
                padding-right: 0;
                padding-top: 60px;

            }
            
            .p_16{
                position: relative;
                display: inline-block;
                &:after{
                    position: absolute;
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: #BFBFBF;
                    left: 105%;
                    top: 50%;

                    @media (max-width:768px){
                        display: none;
                    }
                }
            }
        }
    }  

    .box_1_bot{
        position: relative;


        .box_1_bot_photo{
            position: absolute;
            width: 77px;
            right: 40px;
            top: -40px;
        }
        // &:after{
        //     position: absolute;
        //     content: url(/paga_2/img/paga_2/box_1_bot_photo.png);
        //     width: 77px;
        //     display: block;

            
        // }
        .item{
            padding-left: 20px;

            &:nth-last-of-type(1){
                margin-top: 65px;
                @media (max-width:768px){
                    margin-top: 30px;
                }
            }
            .p_28{
                margin-bottom: 0;
                position: relative;
                font-weight: bold;
                

                &:before{
                    transform: translate(-50% , -50%);
                    content: '';
                    display: block;
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    left: -20px;
                    top: 50%;
                    background-color: #39A7E2;
                }
            }
        }
        
    }

    .box_1_bot{
        padding: 40px 50px;
        background-color: white;
        box-shadow: 0px 4px 24px rgba(202, 202, 202, 0.25);

        @media (max-width:768px) {
            padding: 20px 20px;
        }
    }
}

.box_2{
    margin-bottom: 150px;

    @media (max-width:768px){
        margin-bottom: 50px;
    }
    .box_2_title{
        text-align: center;
        img{
            // width: 100%;
            margin-bottom: 50px;
            @media (max-width:768px) {
                margin-bottom: 10px;
            }
        }
        .text{
            display: flex;
            justify-content: center;
            // 主標題
            .title_{
                writing-mode: vertical-lr;
                margin: 0;
                margin-top: 20px;
    
            }
            // 副標題
            .p_20{
                writing-mode: vertical-lr;
                margin: 0;

            }
        }   
        
    }
    .box_2_content{
        @media (max-width:768px) {
            margin-top: 60px;
        }


        .p_20{
            color: #74B52A;

            &.content_1{
                margin-left: 60px;
                @media (max-width:1200px) {
                    margin-left: 0;
                    text-align: center;
                    
                }
            }

            &.content_2{
                text-align: center;
            }
        }
        
        .p_16{
            color: #E5801A;

            &.content_3{
                margin-right: 60px;
                text-align: right;
                @media (max-width:1200px) {
                    margin-right: 0;
                    text-align: center;
                }
            }

            &.content_4{
                
                
                letter-spacing: 0.135em;
                color: #5E5454;
            }

            
        }
        .line_{
            background-color: #BFBFBF;
            width: 100%;
            height: 1px;
            margin: 60px 0;
        }
    }
}

.box_3{
    .box_3_item{

        &.left{
            @media (max-width:768px){
                display: none;
            } 
        }

        &.right{
            @media (max-width:768px){
                display: none;
            }
        }
        img{
            width: 100%;
        }
    }
}

.box_4{
    margin-top: 90px;
    .box_4_title{
        text-align: center;
        img{
            // width: 100%;
            margin-bottom: 50px;
            @media (max-width:768px) {
                margin-bottom: 10px;
            }
        }
        .text{
            display: flex;
            justify-content: center;
            // 主標題
            .title_{
                writing-mode: vertical-lr;
                margin: 0;
                margin-top: 20px;
    
            }
            // 副標題
            .p_20{
                writing-mode: vertical-lr;
                margin: 0;

            }
        }   
        
    }

    .box_4_top{
        position: relative;
        text-align: center;

        @media (max-width:768px) {
            margin-top: 60px;
        }

        >img{
            position: absolute;
            max-width: 250px;
            right: 0;
            top: -250px;

            @media (max-width:1200px){
                top: -270px;
                max-width: 200px;
            }
            @media (max-width:768px){
                position: unset;
                max-width: 120px;

            }
        }

        .box_4_top_left{
            overflow: hidden;
            max-width: 450px;
            margin-bottom: 150px;
            position: relative;
            text-align: left;

            @media (max-width:768px){
                display: inline-block;
                margin-top: 60px;
            }
            .p_16{
                position: relative;
                display: inline-block;
                &:after{
                    position: absolute;
                    content: '';
                    display: block;
                    width: 200%;
                    height: 1px;
                    background-color: #BFBFBF;
                    left: 105%;
                    top: 50%;
    
                    @media (max-width:768px){
                        display: none;
                    }
                }
            }
            
        }

        
    }
    
    
}