@media (min-width: 1200px){
    .container {
        max-width: 1440px!important;
    }
}

.navber{
    align-items: unset!important;
}
.navbar{
    display: block!important;
    padding: 0!important;
}
.phone-icon{
    margin-top: 8px;
    
}

.menu-toggle{
    span{
        background-color: #6d5c5f;
    }
}
.software-header {
    .menu__item{
        line-height: 1.15;
    }
}
.nav__menu{
    margin-bottom: 0;
}

.wrapper{
    .box_1{
        margin-top: 140px;
        .banner{
            img{
                width: 100%;
            }
        }
    }

    .box_2{
        padding-top: 130px;
        background-image: url(../images/software_2/banner-bgc.svg);
        background-repeat: no-repeat;
        background-size: contain;
        .title_{
            margin-bottom: 50px;
            display: flex;
            align-items: center;
            .left{
                img{
                    max-width: 100px;
                }
            }
            .right{
                
                p{
                    transform: rotate(-2deg);

                    font-weight: bold;
                    font-size: 50px;
                    line-height: 40px;
                    letter-spacing: 0.22em;
                    color: #83C6DB;
                    position: relative;
                    z-index: 2;
                    display: inline-block;

                    &:after{
                        z-index: -1;
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: -10px;
                        width: 100%;
                        height: 30px;
                        background: #D6E8CF;
                    }
                }
            }
        }
        .dialog_box{
            display: inline-block;
            padding: 10px;
            // border: 3px solid #bb8080;
            position: relative;
            margin-top: 70px;
            z-index: 2;

            span{
                font-size: 22px;
                letter-spacing: 0.05em;
                color: #80654A;
                white-space:nowrap;
                z-index: 2;
            }

            img.angle{
                position: absolute;
                left: 55%;
                top: 50%;
                transform: translate(-50% , -50%);
                width: 400px;
                
            }
        }

        .article{

            .article_1{
                margin-top: 45px;
                p{
                    font-size: 18px;
                    line-height: 26px;
                    letter-spacing: 0.05em;
                    color: #484746;
                    position: relative;
                    margin-left: 40px;

                    &:before{
                        content: '';
                        width: 30px;
                        height: 30px;
                        position: absolute;
                        top: 0;
                        left: -40px;
                        background-image: url(../images/software_2/number_1.svg);
                        background-size: cover;
                    }
                }
            }
            .article_2{
                margin-top: 45px;
                p{
                    font-size: 18px;
                    line-height: 26px;
                    letter-spacing: 0.05em;
                    color: #484746;
                    position: relative;
                    margin-left: 40px;

                    &:before{
                        content: '';
                        width: 30px;
                        height: 30px;
                        position: absolute;
                        top: 0;
                        left: -40px;
                        background-image: url(../images/software_2/number_1.svg);
                        background-size: cover;
                    }
                }
            }
        }

        .box_2_photo{
            img{
                width: 100%;
                filter: drop-shadow(6px 7px 20px rgba(0, 0, 0, 0.25));
            }
        }
        .right_group{
            width: 100%;
            display: flex;
            justify-content: center;
            .group_box{
                position: relative;
                display: inline-block;
                margin-top: 400px;

                img.group{
                    width: 100%;
                    
                    max-width: 150px;
                }
                .dialog_box_2{
                    display: inline-block;
                    padding: 10px;
                    // border: 3px solid #bb8080;
                    position: absolute;
                    top: 40%;
                    z-index: 2;
                    left: -160%;
                    transform: translate(-50% , -50%);


                    span{
                        font-size: 22px;
                        letter-spacing: 0.05em;
                        color: #80654A;
                        white-space:nowrap;
                        z-index: 2;
                    }

                    img.angle{
                        position: absolute;
                        left: 55%;
                        top: 50%;
                        transform: translate(-50% , -50%);
                        width: 400px;
                        
                    }
                }
            }
            
            
            
            
        }
        

    }

    .box_3{
        padding-top: 150px;
        padding-bottom: 120px;
        background-image: url(../images/software_2/box_3_bg.svg);
        background-repeat: no-repeat;
        background-size: cover;

        .title_{
            
            display: flex;
            align-items: center;
            .left{
                img{
                    max-width: 100px;
                }
            }
            .right{
                
                p.pc{
                    padding-left: 20px;
                    padding-right: 20px;
                    font-weight: bold;
                    font-size: 50px;
                    line-height: 40px;
                    letter-spacing: 0.22em;
                    color: #8E8955;
                    position: relative;
                    z-index: 2;
                    display: inline-block;

                    

                    &:after{
                        z-index: -1;
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: -15px;
                        left: 0;
                        width: 100%;
                        height: 30px;
                        background: white;
                    }
                }
                p.mobile{
                    display: none;
                }
            }
        }
        .article{
            padding-left: 50px;
            .article_1{
                margin-top: 45px;
                margin-left: 40px;

                h3{
                    font-size: 24px;
                    line-height: 35px;
                    letter-spacing: 0.05em;
                    color: #80654A;
                    font-weight: bold;
                    
                    &:before{
                        content: '';
                        width: 30px;
                        height: 30px;
                        position: absolute;
                        top: 0;
                        left: -40px;
                        background-image: url(../images/software_2/number_1.svg);
                        background-size: cover;
                    }
                }
                p{
                    font-size: 18px;
                    line-height: 26px;
                    letter-spacing: 0.05em;
                    color: #484746;
                    position: relative;

                    
                }
            }
            .article_2{
                margin-top: 45px;
                margin-bottom: 60px;
                margin-left: 40px;

                h3{
                    font-size: 24px;
                    line-height: 35px;
                    letter-spacing: 0.05em;
                    color: #80654A;
                    font-weight: bold;
                    &:before{
                        content: '';
                        width: 30px;
                        height: 30px;
                        position: absolute;
                        top: 0;
                        left: -40px;
                        background-image: url(../images/software_2/number_2.svg);
                        background-size: cover;
                    }
                }
                p{
                    font-size: 18px;
                    line-height: 26px;
                    letter-spacing: 0.05em;
                    color: #484746;
                    position: relative;

                    
                }
            }
            
        }
        .box_3_photo{
            img{
                width: 100%;
                filter: drop-shadow(6px 7px 20px rgba(0, 0, 0, 0.25));
            }
        }
    }
}