body{
    margin: 0;
    padding: 0;
    font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;

}

*{
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: auto;
}

nav#navagation{
    
    width: 100%;
    height: 46px;
    background-color:white;
    // position: fixed;
    

    .container{
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        

        .logo{
            z-index: 1;
            width: 225px;
            height: 57px;
            background-color:white;
            margin: 45px 0 0 0;
            border-radius: 50% 50%;
            @media (max-width:1200px){
                &{
                    display: none;
                }
            }
            
            left: 0px;
            top: 17px;
            display: flex;


            .logo_img{
                
                
                margin:auto;
                z-index: 2;
                
                
            }
        }
        .show{
            display: flex;
            align-items: center;

            @media (max-width:1200px) {
                &{
                    width: 100%;
                    justify-content: space-around;
                }
                
            }
            
            .language{
                background-color: #3c3c40;
                padding: 5px 8px;
                display: flex;
                justify-content: space-between;
                border-radius:6px ;
                cursor: pointer;
    
                >span{
                    letter-spacing: 1.5px;
                    margin: 0 10px;
                }
            }
            
            .showbox{
                margin: 0 20px 0 0 ;
                color: #969aa1;
            }

        }
        
        
    }
}


footer#footer{

    .footer_1{
        width: 100%;
        height: 46px;
        background-color: blue;
        text-align: center;

        >span{
            line-height: 46px;  
            color: white;
        }
    }

    .footer_2{
        width: 100%;
        height: 46px;
        background-color:#222222;
        text-align: center;

        >span{
            margin: 0 20px;
            line-height: 46px;  
            color: white;
        }
    }
    
}