@charset "UTF-8";
body {
  background-color: #F2F2F2;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

hr {
  margin: 30px 0;
}

html {
  scroll-behavior: smooth;
}

nav#navagation {
  width: 100%;
  z-index: 3;
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  top: -150px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

nav#navagation.fixed {
  top: 0px;
}

nav#navagation .nav_links {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  line-height: 100px;
  text-align: center;
  padding: 0;
}

nav#navagation .nav_links > li {
  margin: 0 20px;
}

nav#navagation .nav_links > li > a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  padding: 10px 10px;
  background-color: #1bddc3;
  border-radius: 5px;
}

nav#navagation .nav_links > li > a:hover {
  background-color: #126b5f;
  border-radius: 5px;
  -webkit-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  text-align: center;
  color: beige;
}

nav#navagation .nav_links > li > ul {
  text-decoration: none;
  list-style: none;
  display: none;
  text-align: center;
  padding: 0;
  line-height: 50px;
}

nav#navagation .nav_links > li > ul > li a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  background-color: #1bddc3;
  border-radius: 5px;
}

nav#navagation .nav_links > li > ul > li a:hover {
  background-color: #126b5f;
  border-radius: 5px;
  text-align: center;
  -webkit-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  color: beige;
}

nav#navagation .nav_links > li:nth-child(3):hover .webDesign_ul {
  display: block;
  text-align: center;
  -webkit-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

nav#navagation .nav_links > li:nth-child(4):hover .graphicDesign_ul {
  display: block;
  text-align: center;
  -webkit-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

nav#navagation .burger {
  cursor: pointer;
  margin: 20px 10px 20px 10px;
  display: none;
}

nav#navagation .burger > div {
  width: 40px;
  height: 4px;
  background-color: black;
  margin: 10px;
  -webkit-transition: ease-in 0.3s;
  -o-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

@media (max-width: 768px) {
  nav#navagation {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  nav#navagation .burger {
    display: block;
    z-index: 5;
  }
  nav#navagation .nav_links {
    height: calc(100vh);
    opacity: 0;
    position: fixed;
    line-height: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 50px;
    right: -100%;
    width: 100%;
    top: 0px;
    background-color: rgba(242, 242, 242, 0.74);
    -webkit-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav#navagation .nav_links .webDesign_ul, nav#navagation .nav_links .graphicDesign_ul {
    display: block;
  }
  nav#navagation .nav_active {
    right: 0%;
    opacity: 1;
    -webkit-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
    z-index: 5;
  }
  nav#navagation .burger_active .line1 {
    -webkit-transform: rotate(45deg) translate(13px, 6px);
        -ms-transform: rotate(45deg) translate(13px, 6px);
            transform: rotate(45deg) translate(13px, 6px);
  }
  nav#navagation .burger_active .line2 {
    opacity: 0;
  }
  nav#navagation .burger_active .line3 {
    -webkit-transform: rotate(-45deg) translate(13px, -6px);
        -ms-transform: rotate(-45deg) translate(13px, -6px);
            transform: rotate(-45deg) translate(13px, -6px);
  }
}

button.toTop {
  z-index: 5;
  width: 60px;
  height: 60px;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 33%;
  opacity: 0.6;
  background: #000;
  cursor: pointer;
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: none;
}

button.toTop::before, button.toTop::after {
  width: 31px;
  height: 5px;
  border-radius: 3px;
  background-color: #e7ca9f;
  position: absolute;
  content: "";
}

button.toTop::before {
  -webkit-transform: rotate(-45deg) translate(0%, -90%);
      -ms-transform: rotate(-45deg) translate(0%, -90%);
          transform: rotate(-45deg) translate(0%, -90%);
  left: 0.5rem;
}

button.toTop::after {
  -webkit-transform: rotate(45deg) translate(0%, -90%);
      -ms-transform: rotate(45deg) translate(0%, -90%);
          transform: rotate(45deg) translate(0%, -90%);
  right: 0.5rem;
}

footer#footer {
  width: 100%;
  height: 100px;
  background-color: #1bddc3;
}

footer#footer > p {
  text-align: center;
  line-height: 100px;
  margin: 0;
}
/*# sourceMappingURL=loyout.css.map */