#psWorks > .title {
  overflow: hidden;
  position: relative;
  background-color: #F2F2F2;
  height: 30vh;
  width: 100%;
}

#psWorks > .title .slide > div {
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  -webkit-animation: slide 15s infinite;
          animation: slide 15s infinite;
  opacity: 0;
}

#psWorks > .title .slide > div:nth-child(1) {
  background-image: url(../img/ps_banner_1.jpg);
}

#psWorks > .title .slide > div:nth-child(2) {
  background-image: url(../img/ps_banner_2.jpg);
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

#psWorks > .title .slide > div:nth-child(3) {
  background-image: url(../img/ps_banner_3.jpg);
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

@-webkit-keyframes slide {
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  40% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes slide {
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  40% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

#psWorks > .title h1 {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 171px);
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}

#psWorks .container #ruinsCity {
  padding: 20px 0 0 0;
}

#psWorks .container #ruinsCity > .row {
  padding: 0;
}

#psWorks .container #ruinsCity > .row .ruinsCity_picture {
  margin: 0 0 0 0;
}

#psWorks .container #ruinsCity > .row .ruinsCity_picture img {
  width: 100%;
}

#psWorks .container #ruinsCity > .row .ruinsCity_picture img:first-child {
  margin: 0 0 0 0;
}

#psWorks .container #ruinsCity > .row .ruinsCity_picture img:last-child {
  margin: 0 0 10px 0;
}

#psWorks .container #ruinsCity > .row .ruinsCity_picture h3 {
  margin: 10px 0;
}

#psWorks .container #ruinsCity > .row .ruinsCity_article p {
  line-height: 25px;
  margin: 0;
  font-size: 18px;
}

#psWorks .container #ruinsCity > .row .ruinsCity_article h3:nth-child(1) {
  margin: 0 0 50px 0;
}

#psWorks .container #ruinsCity > .row .ruinsCity_article p:last-child {
  margin: 50px 0 0 0;
}

#psWorks .container #elsaSnow .elsaSnow_picture_L img {
  width: 100%;
}

#psWorks .container #elsaSnow .elsaSnow_picture_L img:first-child {
  margin: 0 0 0 0;
}

#psWorks .container #elsaSnow .elsaSnow_picture_L img:last-child {
  margin: 0 0 10px 0;
}

#psWorks .container #elsaSnow .elsaSnow_picture_R img {
  width: 100%;
  margin: 20px 0 0 0;
}
