#aboutme > .title {
  overflow: hidden;
  position: relative;
  height: 100px;
  width: 100%;
}

#aboutme .container > #me > div {
  text-align: center;
}

#aboutme .container > #me .title > h1 {
  padding: 20px 0px;
  text-align: left;
}

#aboutme .container > #me .me_picture > img {
  width: 70%;
}

#aboutme .container > #me .me_article > p {
  line-height: 35px;
  text-align: left;
}

@media (max-width: 768px) {
  #aboutme .container > #me .title > h2 {
    text-align: center;
  }
  #aboutme .container .me_article {
    margin: 20px 0;
  }
}

#aboutme .container > #experience {
  margin: 50px auto;
}

#aboutme .container > #experience .title > h1 {
  margin: 0 0 40px 0;
}

#aboutme .container > #experience .RWD .experience_1_article h4 {
  padding: 0;
}

#aboutme .container > #experience .RWD .experience_1_article p {
  line-height: 35px;
  padding: 0px 0px;
  text-align: left;
}

#aboutme .container > #experience .RWD .experience_1_article > :nth-child(3) {
  text-align: left;
  margin: 0;
}

#aboutme .container > #experience .RWD .experience_1_picture > img {
  width: 100%;
}

#aboutme .container > #experience .taiwanPatent {
  margin: 100px 0 0 0;
}

#aboutme .container > #experience .taiwanPatent .experience_2_picture > img {
  width: 100%;
}

#aboutme .container > #experience .taiwanPatent .experience_2_article p {
  line-height: 30px;
  padding: 0px 0px;
  text-align: left;
}

#aboutme .container > #experience .taiwanPatent .experience_2_article > :nth-child(3) {
  text-align: left;
  margin: 0;
}

@media (max-width: 768px) {
  #aboutme .container > #experience .title {
    text-align: center;
  }
  #aboutme .container > #experience .RWD .experience_1_article {
    margin: 20px 0;
  }
  #aboutme .container > #experience .taiwanPatent .experience_2_article {
    margin: 20px 0;
  }
}

@media (max-width: 768px) {
  #aboutme .container #me .title > h1 {
    text-align: center;
  }
}

#webDesign > .title {
  overflow: hidden;
  position: relative;
  background-color: #F2F2F2;
  height: 30vh;
  width: 100%;
}

#webDesign > .title > div {
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  -webkit-animation: slide 15s infinite;
          animation: slide 15s infinite;
  opacity: 0;
}

#webDesign > .title > div:nth-child(1) {
  background-image: url(../img/webDesign_banner01.jpg);
}

#webDesign > .title > div:nth-child(2) {
  background-image: url(../img/webDesign_banner02.jpg);
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

#webDesign > .title > div:nth-child(3) {
  background-image: url(../img/webDesign_banner03.jpg);
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

@-webkit-keyframes slide {
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  40% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes slide {
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  40% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

#webDesign > .title h1 {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 115px);
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}

#webDesign .container > .webDesign .article {
  margin: 10px 0 40px 0;
}

#webDesign .container > .webDesign .article > p {
  margin: 0;
  line-height: 30px;
}

#webDesign .container > .webDesign .hover_photo {
  margin: 10px 0 10px 0;
  overflow: hidden;
}

#webDesign .container > .webDesign .hover_photo > .hover_photo_in {
  position: relative;
}

#webDesign .container > .webDesign .hover_photo > .hover_photo_in > a > img {
  width: 100%;
}

#webDesign .container > .webDesign .hover_photo > .hover_photo_in:hover img {
  opacity: 0.3;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

#webDesign .container > .webDesign .hover_photo > .hover_photo_in:hover {
  -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#webDesign .container > .webDesign .hover_photo > .hover_photo_in > .hover_photo_in_before > p {
  position: absolute;
  top: calc(50% - 27px);
  left: calc(50% - 108px);
  color: aliceblue;
  text-shadow: 0.1em 0.1em 0.2em black;
  font-size: 36px;
}

#webDesign .container > .webDesign .hover_photo > .hover_photo_in:hover > .hover_photo_in_before > p {
  opacity: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

#webDesign .container > .webDesign .hover_photo > .hover_photo_in > .hover_photo_in_after > p {
  position: absolute;
  top: calc(50% - 27px);
  left: calc(50% - 108px);
  color: aliceblue;
  text-shadow: 0.1em 0.1em 0.2em black;
  font-size: 36px;
  opacity: 0;
}

#webDesign .container > .webDesign .hover_photo > .hover_photo_in:hover > .hover_photo_in_after > p {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  opacity: 1;
}

#graphicDesign > .title {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 30vh;
  background-color: #F2F2F2;
}

#graphicDesign > .title .slide > div {
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;
  background-size: cover;
  opacity: 0;
  -webkit-animation: slide 15s infinite;
          animation: slide 15s infinite;
}

#graphicDesign > .title .slide > div:nth-child(1) {
  background-image: url(../img/ps_banner_1.jpg);
}

#graphicDesign > .title .slide > div:nth-child(2) {
  background-image: url(../img/ps_banner_2.jpg);
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

#graphicDesign > .title .slide > div:nth-child(2) {
  background-image: url(../img/ps_banner_2.jpg);
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

@keyframes slide {
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  40% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

#graphicDesign > .title > h1 {
  position: absolute;
  top: calc(50% - 29px);
  left: calc(50% - 150px);
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}

#graphicDesign > .container > div {
  margin: 20px 0;
}

#graphicDesign > .container > div .hover_photo {
  overflow: hidden;
}

#graphicDesign > .container > div .hover_photo .hover_photo_in {
  position: relative;
}

#graphicDesign > .container > div .hover_photo .hover_photo_in > a > img {
  width: 100%;
}

#graphicDesign > .container > div .hover_photo .hover_photo_in:hover img {
  opacity: 0.3;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

#graphicDesign > .container > div .hover_photo .hover_photo_in:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#graphicDesign > .container > div .hover_photo .hover_photo_in > .hover_photo_in_before > p {
  position: absolute;
  top: calc(50% - 27px);
  left: calc(50% - 152px);
  color: aliceblue;
  text-shadow: 0.1em 0.1em 0.2em black;
  font-size: 36px;
}

#graphicDesign > .container > div .hover_photo .hover_photo_in:hover .hover_photo_in_before > p {
  opacity: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

#graphicDesign > .container > div .hover_photo .hover_photo_in > .hover_photo_in_after > p {
  position: absolute;
  top: calc(50% - 27px);
  left: calc(50% - 72px);
  color: aliceblue;
  text-shadow: 0.1em 0.1em 0.2em black;
  font-size: 36px;
  opacity: 0;
}

#graphicDesign > .container > div .hover_photo .hover_photo_in:hover .hover_photo_in_after > p {
  opacity: 1;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

#psWorks > .title {
  overflow: hidden;
  position: relative;
  background-color: #F2F2F2;
  height: 30vh;
  width: 100%;
}

#psWorks > .title .slide > div {
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  -webkit-animation: slide 15s infinite;
          animation: slide 15s infinite;
  opacity: 0;
}

#psWorks > .title .slide > div:nth-child(1) {
  background-image: url(../img/ps_banner_1.jpg);
}

#psWorks > .title .slide > div:nth-child(2) {
  background-image: url(../img/ps_banner_2.jpg);
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

#psWorks > .title .slide > div:nth-child(3) {
  background-image: url(../img/ps_banner_3.jpg);
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

@keyframes slide {
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  40% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

#psWorks > .title h1 {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 171px);
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}

#psWorks .container #ruinsCity {
  padding: 20px 0 0 0;
}

#psWorks .container #ruinsCity > .row {
  padding: 0;
}

#psWorks .container #ruinsCity > .row .ruinsCity_picture {
  margin: 0 0 0 0;
}

#psWorks .container #ruinsCity > .row .ruinsCity_picture img {
  width: 100%;
}

#psWorks .container #ruinsCity > .row .ruinsCity_picture img:first-child {
  margin: 0 0 0 0;
}

#psWorks .container #ruinsCity > .row .ruinsCity_picture img:last-child {
  margin: 0 0 10px 0;
}

#psWorks .container #ruinsCity > .row .ruinsCity_picture h3 {
  margin: 10px 0;
}

#psWorks .container #ruinsCity > .row .ruinsCity_article p {
  line-height: 25px;
  margin: 0;
}

#psWorks .container #ruinsCity > .row .ruinsCity_article h3:nth-child(1) {
  margin: 0 0 50px 0;
}

#psWorks .container #ruinsCity > .row .ruinsCity_article p:last-child {
  margin: 50px 0 0 0;
}

#psWorks .container #elsaSnow .elsaSnow_picture_L img {
  width: 100%;
}

#psWorks .container #elsaSnow .elsaSnow_picture_L img:first-child {
  margin: 0 0 0 0;
}

#psWorks .container #elsaSnow .elsaSnow_picture_L img:last-child {
  margin: 0 0 10px 0;
}

#psWorks .container #elsaSnow .elsaSnow_picture_R img {
  width: 100%;
  margin: 20px 0 0 0;
}

#aiWorks .title {
  position: relative;
  height: 30vh;
  width: 100%;
  overflow: hidden;
  background-color: #F2F2F2;
}

#aiWorks .title .slide > div {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  -webkit-animation: slide2 15s infinite;
          animation: slide2 15s infinite;
  opacity: 0;
}

#aiWorks .title .slide > div:nth-child(1) {
  background-image: url(../img/ai_banner_1.jpg);
}

#aiWorks .title .slide > div:nth-child(2) {
  background-image: url(../img/ai_banner_2.jpg);
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

#aiWorks .title .slide > div:nth-child(3) {
  background-image: url(../img/ai_banner_3.jpg);
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

@-webkit-keyframes slide2 {
  10% {
    opacity: 1;
    left: 0px;
  }
  20% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  40% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    right: 0px;
  }
}

@keyframes slide2 {
  10% {
    opacity: 1;
    left: 0px;
  }
  20% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  40% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    right: 0px;
  }
}

#aiWorks .title h1 {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 171px);
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}

#aiWorks .container #penTool {
  padding: 20px 0 0 0;
}

#aiWorks .container #penTool > h2 {
  text-align: center;
}

#aiWorks .container #penTool > p {
  text-align: center;
  padding: 30px 20px;
}

#aiWorks .container #penTool .penTool_picture_L img {
  width: 100%;
}

#aiWorks .container #penTool .penTool_picture_L P {
  text-align: center;
}

#aiWorks .container #penTool .penTool_picture_R img {
  width: 100%;
}

#aiWorks .container #penTool .penTool_picture_R P {
  text-align: center;
  margin: 0;
}

#aiWorks .container #meshTool {
  padding: 20px 0 0 0;
}

#aiWorks .container #meshTool > h2 {
  text-align: center;
}

#aiWorks .container #meshTool > p {
  text-align: center;
  padding: 30px 20px;
}

#aiWorks .container #meshTool .meshTool_picture_top_L {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#aiWorks .container #meshTool .meshTool_picture_top_L > img {
  width: 50%;
}

#aiWorks .container #meshTool .meshTool_picture_top_R {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#aiWorks .container #meshTool .meshTool_picture_top_R > img {
  width: 50%;
}

#aiWorks .container #meshTool .meshTool_picture_mid_L {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#aiWorks .container #meshTool .meshTool_picture_mid_L > img {
  width: 50%;
}

#aiWorks .container #meshTool .meshTool_picture_mid_R {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#aiWorks .container #meshTool .meshTool_picture_mid_R > img {
  width: 50%;
}

#aiWorks .container #meshTool .meshTool_picture_bot_L {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#aiWorks .container #meshTool .meshTool_picture_bot_L > img {
  width: 50%;
}

#aiWorks .container #meshTool .meshTool_picture_bot_R {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#aiWorks .container #meshTool .meshTool_picture_bot_R > img {
  width: 50%;
}

@media (max-width: 768px) {
  #aiWorks .container #meshTool img {
    width: 100% !important;
  }
}

#aiWorks .container #perspective {
  padding: 20px 0 0 0;
}

#aiWorks .container #perspective > h2 {
  text-align: center;
}

#aiWorks .container #perspective > p {
  text-align: center;
  padding: 30px 20px;
}

#aiWorks .container #perspective .perspective_L > img {
  width: 100%;
}

#aiWorks .container #perspective .perspective_L > p {
  text-align: center;
  padding: 10px 0;
}

#aiWorks .container #perspective .perspective_R > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#aiWorks .container #perspective .perspective_R > div > img {
  width: 50%;
}

#aiWorks .container #perspective .perspective_R > div :nth-child(2) {
  margin: 0;
}

#aiWorks .container #perspective .perspective_R > div > p {
  text-align: center;
}

@media (max-width: 768px) {
  #aiWorks .container #perspective .perspective_R {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  #aiWorks .container #perspective .perspective_R > div > img {
    width: 100%;
  }
}

#aiWorks .container #low_poly {
  padding: 20px 0 0 0;
}

#aiWorks .container #low_poly > h2 {
  text-align: center;
}

#aiWorks .container #low_poly > p {
  text-align: center;
  padding: 30px 20px;
}

#aiWorks .container #low_poly .low_poly_L > img {
  width: 100%;
}

#aiWorks .container #low_poly .low_poly_L p {
  text-align: center;
  padding: 10px 0;
}

#aiWorks .container #low_poly .low_poly_R > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#aiWorks .container #low_poly .low_poly_R > div > img {
  width: 50%;
}

#aiWorks .container #low_poly .low_poly_R > div :nth-child(2) {
  margin: 0;
}

#aiWorks .container #low_poly .low_poly_R > div p {
  text-align: center;
}

@media (max-width: 768px) {
  #aiWorks .container #low_poly .low_poly_R {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  #aiWorks .container #low_poly .low_poly_R > div > img {
    width: 80%;
  }
}
