body {
  height: 500vh;
}

#navagation {
  position: fixed;
  top: -150px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#navagation.fixed {
  top: 0px;
}

#navagation .nav_links {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  line-height: 100px;
  text-align: center;
  padding: 0;
}

#navagation .nav_links > li {
  margin: 0 20px;
}

#navagation .nav_links > li > a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  padding: 10px 10px;
  background-color: #1bddc3;
  border-radius: 5px;
}

#navagation .nav_links > li > a:hover {
  background-color: #126b5f;
  border-radius: 5px;
  -webkit-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  text-align: center;
  color: beige;
}

#navagation .nav_links > li > ul {
  text-decoration: none;
  list-style: none;
  display: none;
  text-align: center;
  padding: 0;
  line-height: 50px;
}

#navagation .nav_links > li > ul > li a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  background-color: #1bddc3;
  border-radius: 5px;
}

#navagation .nav_links > li > ul > li a:hover {
  background-color: #126b5f;
  border-radius: 5px;
  text-align: center;
  -webkit-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  color: beige;
}

#navagation .nav_links > li:nth-child(3):hover .webDesign_ul {
  display: block;
  text-align: center;
  -webkit-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

#navagation .nav_links > li:nth-child(4):hover .graphicDesign_ul {
  display: block;
  text-align: center;
  -webkit-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

#navagation .burger {
  cursor: pointer;
  margin: 20px 10px 20px 10px;
  margin-left: auto;
  display: none;
  z-index: 4;
}

#navagation .burger > div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  -webkit-transition: ease-in 0.3s;
  -o-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

@media (max-width: 768px) {
  #navagation .burger {
    display: block;
  }
  #navagation .nav_links {
    height: calc(100vh - 69px);
    opacity: 0;
    position: fixed;
    line-height: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 50px;
    right: -100%;
    width: 100%;
    top: 69px;
    background-color: rgba(242, 242, 242, 0.74);
    -webkit-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #navagation .nav_links .webDesign_ul, #navagation .nav_links .graphicDesign_ul {
    display: block;
  }
  #navagation .nav_active {
    right: 0%;
    opacity: 1;
    -webkit-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
    z-index: 5;
  }
  #navagation .burger_active .line1 {
    -webkit-transform: rotate(45deg) translate(5px, 6px);
        -ms-transform: rotate(45deg) translate(5px, 6px);
            transform: rotate(45deg) translate(5px, 6px);
  }
  #navagation .burger_active .line2 {
    opacity: 0;
  }
  #navagation .burger_active .line3 {
    -webkit-transform: rotate(-45deg) translate(5px, -6px);
        -ms-transform: rotate(-45deg) translate(5px, -6px);
            transform: rotate(-45deg) translate(5px, -6px);
  }
}
/*# sourceMappingURL=test.css.map */