.phone-block-sm,
.phone-block-sm-01{
	display:none;
}
.space-header .menu__item{
	color:#222;
}
.space-header .nav_bot .menu__item_2{
	color:#222;
}
.dropdown-item:hover{
	background-color:#222;
}
.menu-toggle span{
	background-color:#222;
}
.header--scrolling .menu-toggle span{
	background-color:#222;
}
@media (max-width:1167px){
	.popup-nav{
		background-color:#dfeaed;
		border-left:4px solid #fff;
		border-bottom:4px solid #dfeaed;
	}
	.popup-nav .menu__item,
	.header--scrolling .popup-nav .menu__item{
		color:#222;
	}
	.popup-close span{
		background-color: #222;
	}
}
/*-------------------------*/
/* $space-banner
---------------------------*/
.space-banner{
	height:800px;
}
.space-banner .col-lg-12{
	margin-top:100px;
}
.space-banner h1{
	font-size:80px;
	letter-spacing:20px;
	text-align:right;
	padding-right:80px;
}
.space-banner h1 span{
	display:inline-block;
	transform:rotate(14deg);
	top:22px;
}
.space-banner .flat{
	left:10%;	
}
.space-banner .space-banner-text{
	padding-left:100px;
	/*border:1px solid red;*/
}
.space-banner .col-lg-6 .wallet{
	float:right;
	margin-top:-30px;
	width:20%;
}
.space-banner:after{
	content:"";
	position:absolute;
	bottom:-20%;
	right:0;
	background-image:url('../images/space/space-04.png');
	background-repeat:no-repeat;
	background-size:cover;
	width:26%;
	height:40%;
}

/*-------------------------*/
/* $space-quote
---------------------------*/
.space-quote{
	margin-top:200px;
	margin-bottom:100px;
}
.space-quote span{
	font-size:28px;
	padding:6px 16px;
	border-radius:16px;
}
.space-quote h3{
	margin-bottom:0;
}
.space-quote h2{
	margin-top:4px;
	margin-bottom:4px;
}
/*space-quote-bottom*/
.space-quote-bottom{
	padding-top:160px;
	padding-bottom:120px;
	overflow:hidden;
}
.pig{
	width:18%;
	position:absolute;
	top:-46%;
	right:0;
	z-index:20;
}
.space-quote-bottom .row-1{
	border:4px dashed #6b5237;
	border-top-right-radius:80px;
	border-top-left-radius:80px;
	padding-bottom:60px;
}
.space-quote-title{
	font-size:36px;
	display:inline-block;
	padding:16px 36px;
	padding-left:100px;
	border-radius:30px;
	left:50%;
	transform:translateX(-50%);
	margin-top:-40px;
}
.space-quote-title:after{
	content:"";
	position:absolute;
	top:-80px;
	left:-60px;
	background-image:url('../images/space/space-05.png');
	background-repeat:no-repeat;
	background-size:130px;
	width:130px;
	height:170px;
}
.space-quote-bottom .row-1 h3{
	line-height:52px;
	padding-left:40px;
	margin-top:30px;
}
.row-1 .space-border{
	width:30px;
	height:30px;
	top:5px;
	margin-right:10px;
	border:2px solid #45433d;
	border-radius:6px;
	display:inline-block;
}
.row-1 .space-border img{
	width:30px;
	position:absolute;
	top:-6px;
	left:20%;
}
.row-1 .phone-block{display:none;}
/*row-2*/
.space-quote-bottom .row-2{
	margin-top:40px;
}
.space-quote-bottom .row-2 h2{
	padding-left:80px;
	margin-top:60px;
}
.space-quote-bottom .row-2 h2:before{
	content:"";
	position:absolute;
	top:-30px;
	left:-10%;
	background-image:url('../images/space/space-08.png');
	background-position:center;
	background-repeat:no-repeat;
	background-size:140px;
	width:140px;
	height:140px;
}
.row-2 .img-inner{
	width:40%;
	position:absolute;
	right:-20%;
	top:50%;
}

/*-------------------------*/
/* $space-classroom
---------------------------*/
.classroom{
	padding-top:60px;
	margin-bottom:200px;
}
.classroom-top{
	margin-bottom:200px;
}
.classroom-deco{
	position:absolute;
	top:0;
	right:0;
	width:60%;
}
.classroom h2 span{
	border:2px dashed #6e6867;
	border-right:none;
	display:inline-block;
	padding:0px 10px;
	margin-bottom:60px;
}
.classroom .blackboard{
	width:66%;
	left:50%;
	transform:translateX(-50%);
	margin-bottom:360px;
}
.classroom .blackboard:before{
	content:"";
	position:absolute;
	bottom:-26%;
	right:10%;
	background-image:url('../images/space/space-11.png');
	background-repeat:no-repeat;
	background-size:120px;
	width:120px;
	height:126px;
}
.classroom .blackboard:after{
	content:"";
	position:absolute;
	bottom:-14%;
	right:-12%;
	background-image:url('../images/space/space-10.png');
	background-repeat:no-repeat;
	background-size:180px;
	width:180px;
	height:184px;
}
.classroom .num{
	width:240px;
	top:-80px;
	left:14%;
}
.inner-bg{
	width:100%;
	height:auto;
	position:absolute;
	/*top:0;*/
	top:50%;
	left:50%;
	/*transform:translateX(-50%);*/
	transform:translate(-50%,-40%);
}
.classroom .inner p{
	padding:0 40px;
	font-size:24px;
	line-height:32px;
	margin-top:-40px;
	text-align:center;
	display:inline-block;
}
/*block-01*/
.classroom .block-01 .inner:after{
	content:"";
	position:absolute;
	top:-90%;
	right:6%;
	background-image:url('../images/space/space-12.png');
	background-repeat:no-repeat;
	background-size:360px;
	width:360px;
	height:360px;
}
/*block-02*/
.classroom .block-02{
	padding-left:60px;
	margin-left:60px;
	margin-top:40px;
}
.classroom .block-02 .num{
	top:-100px;
}
/*block-03*/
.classroom .block-03{
	margin-top:-100px;
	margin-left:40px;
}
/*block-04*/
.classroom .block-04{
	margin-top:160px;
	margin-left:-80px;
}
/*block-05*/
.classroom .block-05{
	margin-top:-30px;
	margin-left:100px;
}
.classroom .block-05:after{
	content:"";
	position:absolute;
	top:26%;
	right:-40%;
	background-image:url('../images/space/space-18.png');
	background-repeat:no-repeat;
	background-size:300px;
	width:300px;
	height:300px;
}
.classroom-bottom-1 .row{
	padding:0;
}
.classroom-bottom-1 p{
	text-align:center;
	display:block;
	font-size:30px;
	line-height:48px;
}
.classroom-bottom-1 .block-phone{display:none;}
@media(max-width:520px){
	.classroom-bottom-1 p{
		font-size:24px;
		line-height:34px;
	}
}
@media(max-width:431px){
	.classroom-bottom-1 p{
		font-size:22px;
		line-height:30px;
	}
	.classroom-bottom-1 .none-phone{display:none;}
	.classroom-bottom-1 .block-phone{display:block;}
}
/*classroom-bottom*/
.classroom-bottom h3{
	display:inline-block;
	left:50%;
	transform:translateX(-50%);
	padding:10px 40px;
	border-radius:30px;
}
.classroom-bottom .other-logo{
	margin-top:80px;
}
.classroom-bottom .img-inner:before{
	content:"";
	position:absolute;
	top:-30px;
	left:0;
	width:100%;
	height:2px;
	background-color:#222;
}
.classroom-bottom h4{
	margin-top:20px;
}

/*-------------------------*/
/* $Color 
---------------------------*/
/* background color */
.bg-space--default{background-color:#b4d1cd;}
.bg-space--primary{background-color: #ecf5fc;}
.bg-space--secondary{background-color:#fff;}
.bg-space--gray{background-color:#dfeaed;}
.bg-space--darkgray{background-color:#a9b3ce;}
.bg-space--blue{background-color:#29587f;}
.bg-space--orange{background-color:#ed8a70;}
/* text color */
.color-space--default{color:#8a9a9a;}
.color-space--primary{color:#dac8a5;}
.color-space-darkblue{color: #004d79;}
.color-space-darkbluee{color: #2264b3;}
.color-space-blue{color: #2f5c89;}
.color-space-white{color:#fff;}
.color-space-orange{color:#ed8a70;}
