nav#nav .content_ {
  height: 70px;
  padding: 0 74px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

nav#nav .content_ .logo .logo_image {
  width: 37px;
}

nav#nav .content_ .logo .logo_text {
  width: 71px;
}

nav#nav .content_ .right .items ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

nav#nav .content_ .right .items ul li {
  list-style-type: none;
}

nav#nav .content_ .right .items ul li a {
  text-decoration: none;
  color: #763D1B;
  font-size: 14px;
}
