$pad_width:992px;
$mobile_width:576px;


@mixin p__ {
    font-size: 16px;
    letter-spacing: 0.2em;
    color: #595959;
    text-align: justify;

    @media(max-width:992px){
        font-size: 16px;
    }

}
@mixin big_p__ {
    font-size: 18px;
    letter-spacing: 0.1em;
    color: #595959;
    @media(max-width:$pad_width){
        font-size: 17px;
    }
}
@mixin big_p__2 {
    font-size: 25px;
    letter-spacing: 0.1em;
    color: #595959;

    @media(max-width:$pad_width){
        font-size: 22px;
    }
}
@mixin big_title__{
    font-size: 100px;
    letter-spacing: 0.1em;
    margin: 0 0 0 auto;
    writing-mode: vertical-rl;
    line-height: 100px;
    color: #595959;
    @media(max-width:992px){
        font-size: 60px;
    }
}
@mixin little_title__{
    font-size: 20px;
    color: #595959;

    letter-spacing: 0.1em;

    @media(max-width:$mobile_width){
        font-size: 16px;
    }


}
@mixin little_title__2{
    font-size: 30px;
    color: #595959;

    letter-spacing: 0.1em;
}
@mixin little_title__3{
    font-size: 25px;
    letter-spacing: 0.1em;
    color: #595959;
    @media(max-width:$pad_width){
        font-size: 20px;
    }
    @media(max-width:$mobile_width){
        font-size: 18px;
    }
    
}
@mixin title__{
    font-size: 40px;
    letter-spacing: 0.1em;
    color: #595959;
}
@mixin title__2{
    font-size: 60px;
    letter-spacing: 0.1em;
    @media(max-width:$pad_width){
        font-size: 40px;
    }
}



.p__{
    @include p__ ;
}
.big_p__{
    @include big_p__ ;
}
.big_p__2{
    @include big_p__2 ;
}
.big_title__{
    @include big_title__;
}
.little_title__{
    @include little_title__;
}
.little_title__2{
    @include little_title__2;
}
.little_title__3{
    @include little_title__3;
}
.title__{
    @include title__;
}
.title__2{
    @include title__2;
}


main#content{
    padding-top: 60px;

    @media (min-width:996px) {
        padding-top: 100px;
    }
    // banner
    #banner{
        .swiper-container{
            position: relative;

            .banner_text{
                z-index: 2;
                position: absolute;
                top: 50px;
                right: 0px;

                @media (max-width:576px) {
                    left: 0;
                }
                span{
                    font-size: 40px;
                    font-weight: bold;
                    letter-spacing: 15px;
                    background: linear-gradient(90deg, #dee2e600, #dee2e6);

                    @media (max-width:576px) {
                        font-size: 20px;
                        letter-spacing: 3px;
                        background: linear-gradient(90deg,#dee2e6, #dee2e600);
                        
                    }
                }
            }
            .swiper-wrapper{
                .swiper-slide{
                    position: relative;
                    img{
                        width: 100%;

                        &.pc_banner{
                            display: block;
                            @media (max-width:576px) {
                                display: none;
                            }
                        }
                        &.mobile_banner{
                            display: none;
                            @media (max-width:576px) {
                                display: block;
                            }
                        }
                    }
                   
                }
            }

            // 導覽列
            // .swiper-pagination{
            //     bottom: 10vh;
            // }
        }
    }

    // 關於段原
    #about{
        background-color: #D5D8DE;
        padding: 150px 0;
        height: 100vh;
        
        @media (min-width:1600px) {
            height: 100vh;
        }
        .about_in{
            padding: 150px 0;
            background-image: url(../img/index/aboutbg.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-color: #D5D8DE;
            width: 100%;
            display: flex;
            align-items: center;
            @media (max-width:1600px) {
                height: 45vh;
            }
            .about_content{
                display: flex;
                align-items: center;
                flex-direction: column;
                .title__{
                    margin-bottom: 60px;
                }
                .p__{
                    text-align: left;
                    max-width: 700px;
                }
            }
        }
    }

    // 診所優勢
    #advantage{
        padding: 100px 0 100px 0;

        
        height: 100vh;

        .photo{
            position: relative;
            text-align: center;
            img{
                width: 80%;

                @media (max-width:576px) {
                    width: 100%;
                }
            }
            // padding: 400px 0 250px;
            // position: relative;
            // height: 40vh;
            // background-image: url(../img/index/advantagebg.jpg);
            // text-align: center;
            // background-size: contain;
            // background-position: center;
            // background-repeat: no-repeat;
            .title__{
                position: absolute;
                left: 50%;
                top: 57%;
                transform: translate(-50%, -50%);
            
                @media (max-width:768px) {
                    position: unset;
                    transform: unset;
                    text-align: center;
                }
            }
        }
        .advantage_content{
            display: flex;
            justify-content: space-evenly;

            @media (max-width:768px) {
                flex-direction: column;
                align-items: center;
            }
            ul{
                line-height: 40px;
                margin-bottom: 0;
            }
        }
    }

    // 空間環境
    #interior{
        padding: 100px 0 30px;
        background-color: #D5D8DE;

        @media (min-width:1600px) {
            height: 100vh;
        }

        .title__{
            text-align: center;
            margin-bottom: 70px;
        }

        .interior_photos{
          .interior_photo{
            a{
                img{
                    width: 100%;
                }
            }
          }  
        }
    }

    // 診所設備
    #instrument{
        padding: 100px 0 200px;

        .instrument_content{
            .title__{
                text-align: center;
                margin-bottom: 70px;
            }
            .item{
                margin-bottom: 50px;

                @media (min-width:576px) {
                    height: calc(30vh - 100px);
                    
                }
                // 圖片
                .inst_img{
                    // text-align: center;
                    &.img_L{
                        text-align: left;

                        @media (max-width:576px) {
                            text-align: center;
                        }
                    }
                    &.img_R{
                        text-align: right;
                        @media (max-width:576px) {
                            text-align: center;
                        }
                    }
                    @media (max-width:576px) {
                        margin-bottom: 15px;
                    }
                    img{
                        width: 80%;

                        @media (max-width:576px) {
                            width: 60%;
                        }
                    }
                }

                // 文字
                .inst_article{

                    .inst_article_title{
                        border-bottom: 1px solid;
                        display: flex;
                        justify-content: space-between;
                        align-items: baseline;

                        .pc__{
                            display: block;
                            @media (max-width:576px) {
                                display: none;
                            }
                        }

                        .mobile__{
                            display:none;
                            @media (max-width:576px) {
                                display: block;
                            }
                        }
                        
                    }
                    .inst_article_content.padd_L{
                        padding-left:70px;
                        text-align: justify;

                        @media (max-width:576px) {
                            padding-left:unset ;
                        }
                    }

                    .inst_article_content.padd_R{
                        padding-right:70px;
                        text-align: justify;

                        @media (max-width:576px) {
                            padding-right:unset ;
                        }

                    }

                    @media (max-width:576px) {
                        margin-bottom: 100px;
                    }
                }
            }
            
        }
    }

    // 醫師介紹
    #doctor{
        padding: 100px 0 200px;
        background-color: #D5D8DE;

        .doctor_content_1{
            @media (min-width:1600px) {
                height: calc(100vh - 100px);
            }
        }

        .title__{
            text-align: center; 
            margin-bottom: 70px;
        }
        .subtitle__{
            padding: 10px 8px;
            background-color: #f2f2f2;
            
        }
        .doctor_photo{
            position: relative;
            text-align: center;
            img{
                width:85%;

                @media (max-width:576px) {
                    width: 100%;
                }
            }
        }

        .doctor_article{

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;

            .article_bot{
                background-color: #f2f2f2;
                padding: 20px 10px;
                text-align:center;
                

                .article_bot_content{
                    display: inline-block;
                    text-align: right;
                }
            }
        }

        .doctor_exp{
            margin-top:50px;

            .doctor_exp_L{
                text-align: center;
                .doctor_exp_L_content{
                    text-align: left;
                    display: inline-block;
                }
            }

            .exp_photos{
                // display: inline-block;
                // display: flex;
                // justify-content: space-evenly;

                // @media (max-width:540px) {
                //     flex-direction: column;
                // }
            
                img{
                    width: 100%;
                    // max-height: 19vw;
                    // @media (max-width:768px) {
                    //     max-width:35vw;
                    // }
                }
            }
        }

        .doctor_bot{
            margin-top: 60px;
            .doctor_bot_items{
                display: flex;
                justify-content: space-around;
                .bot_item{
                    display: inline-block;
                    img{
                        max-height: 18vw;
                    }
                }
            }
        }
    }

    // 齒顎矯正
    #ortho{
        background-color: #D5D8DE;
        padding-bottom: 100px;
        .ortho_banner{
            background-image: url(../img/index/orthobg.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            height: 40vh;
           .banner_text{
            background: linear-gradient(90deg, #ffffff00
            , #ffffffa4,#ffffff00);
            display: inline-block;
            width: 80%;
            text-align: center;
            line-height: 50px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

               
           }
        }
        .ortho_content{
            .title__{
                text-align: center;
                padding: 50px 0 20px 0;
            }
        }
        .container{
            text-align: center;
            .ortho_items{
                text-align: center; 
                // display: flex;
                // justify-content: space-around;
                @media (max-width:576px) {
                    text-align: center;
                }
                .ortho_item{
                    text-align: center;
                    display: inline-block;
                    margin: 0 10px;
                    margin-bottom: 20px;
                    .item_icon{
                        img{
                            max-width: 120px;
                        }
                        
                    }
                    .big_p__{
                        margin-top: 50px;

                        @media (max-width:576px) {
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
        
    }

    // 矯正須知
    #limit{
        padding: 200px 0 100px 0;

        @media (max-width:576px) {
            padding: 160px 0 100px 0;
        }

        
        .limit_content{
            .title__{
                text-align: center;
                margin-bottom: 70px;
            }

            .items{
                .item{
                    display: flex;
                    align-items: center;
                    margin-bottom: 30px;

                    @media (max-width:576px) {
                        flex-direction: column;
                        color: #000;
                    }
                    .item_icon{
                        margin-right: 50px;
                        text-align: center;

                        @media (max-width:576px) {
                            margin-right: unset;
                        }
                        img{
                            max-width: 100px;
                            margin-bottom: 10px;

                            @media (max-width:576px) {
                                max-width: 100px;
                                margin-bottom: 15px;
                            }
                        }
                    }
                }
            }
        }

    }

    // 矯正分類
    #type{
        padding:100px 0;
        background-color: #D5D8DE;
        text-align: center;

        .type_content{
            >.title__{
                text-align: center;
                margin-bottom: 70px;
            }
            >.subtitle__{
                padding: 10px 8px;
                background-color: #f2f2f2;
                text-align: left;
                
            }
        }

        .type_top{
            .little_title__2{
                padding: 30px 0 10px 0;

                text-align: left;
            }
            .type_top_items{
                // text-align: center;
                .item{
                    display: inline-block;
                    margin: 0 20px;
                    &.m__{
                        @media (min-width:1500px) {
                            margin: 0 3vw; 
                        }
                    }

                    @media (max-width:768px) {
                        display: block;
                    }
                    .item_content{

                        display: flex;
    
    
    
                        // 圖
                        .item_img{
                            img{
                                max-width:150px;
                                margin-right: 5px;
                            }
                        }
    
                        .item_article{
                            // min-height: 35vh;
                            padding: 15px 10px;
                            max-width: 250px;
                            background-color: #f2f2f2;
                            margin-bottom: 15px;
                            line-height: 1.2em;



                            @media (max-width:768px) {
                                max-width: unset;
                                min-height: unset;

                                width: 70%;

                            }
    
                            .big_p__{
                                text-align: center;
                            }
                        }
                    }
                }

                
            }
        }

        .type_bot{
            .little_title__2{
                padding: 30px 0 10px 0;
                text-align: left;

            }
            .type_bot_items{
                // text-align: center;
                .item{
                    display: inline-block;
                    margin: 0 30px;
                    line-height: 1.2em;


                    @media (max-width:768px) {
                        display: block;
                    }
                    .item_content{

                        display: flex;
                        @media (max-width:768px) {
                            display: block;
                            letter-spacing: 0.05em;
                        }
    
    
    
                        // 圖
                        .item_img{
                            margin: 0 10px;
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;

                            @media (max-width:768px) {
                                display: block;
                                margin: 50px 0;
                            }
                            
                            
                            .item_img_{
                                img{
                                    max-height:100px;
                                    
                                }
                            }
                            
                        }
    
                        .item_article{
                            // min-height: 35vh;
                            padding: 15px 10px;
                            max-width: 200px;
                            background-color: #f2f2f2;
                            margin-bottom: 15px;
                            


                            @media (max-width:768px) {
                                max-width: unset;
                                min-height: unset;
                                

                                width: 100%;

                            }
    
                            .big_p__{
                                text-align: center;
                            }
                        }
                    }
                }

                
            }
        }
    }

    // 正常咬合
    #normal{
        padding: 200px 0 100px 0;

        @media (max-width:576px) {
            padding: 160px 0 100px 0;
        }
        .normal_content{
            .title__{
                text-align: center;
                margin-bottom: 70px;
            }

            .left{
                .photo{
                    img{
                        width: 100%;
                    }
                }

                .article{
                    margin-top: 50px;
                    background-color: #D5D8DE;

                    padding: 30px 15px;
                    .p__{
                        margin: 0;
                    }
                }
            }

            .right{
                @media (max-width:996px) {
                    margin-top: 50px;
                }
                
                .item{
                    display: flex;
                    align-items: center;
                    .icon{
                        img{
                            max-width: 150px;

                            @media (max-width:1200px) {
                                max-width: 120px;
                            }
                            
                        }
                    }
                    .text{
                        margin-left: 15px;

                        .big_p__{
                            max-width: 200px;
                        }
                    }

                    
                }
            }


        }
    }

    // 矯正時機
    #timing{
        padding: 200px 0 100px 0;

        @media (max-width:576px) {
            padding: 160px 0 100px 0;
        }
        .timing_content{
            .title__{
                text-align:center;
                margin-bottom: 70px;
            }
            >.subtitle__{
                padding: 10px 8px;
                background-color: #D5D8DE;
                margin-bottom: 50px ;
                text-align: justify;
                
            }

            .L{
                .L_title{
                    text-align:center;
                }
            }
            .R{
                .item{
                    text-align: center;
                    img{
                        max-width:150px;

                        @media (max-width:1200px) {
                            max-width: 120px;   
                        }
                    }
                }
            }
        }
    }

    // 矯正方法
    #method{
        background-color: #D5D8DE ;
        padding: 200px 0 100px 0;

        @media (max-width:576px) {
            padding: 160px 0 100px 0;
        }
        .method_content{
            .title__{
                text-align: center;
                margin-bottom: 70px;
            }
            .L_photo{
                img{
                    width: 100%;
                }
            }
            .R_photo{
                display: flex;
                justify-content: space-around;
                align-items: center;

                @media (max-width:996px) {
                    margin-top: 15px;
                }
                .img_{
                    img{
                        width: 300px;

                        @media (max-width:1200px) {
                            width: 200px;
                        }
                    }


                }
                .text_{
                    span{
                        padding: 8px;
                        line-height: 60px;
                        b{
                            color: black;
                        }
                    }
                    .text_1{
                        background-color: rgb(244, 177, 131);
                    }
                    .text_2{
                        background-color: rgb(222, 221, 145);
                    }
                    .text_3{
                        background-color: rgb(138, 207, 187);
                    }
                    .text_4{
                        background-color: rgb(204, 167, 205);
                    }
                }
            }
            .R_bot_text{
                margin-top: 15px;
                p{
                    text-align: center;
                    color: rgb(89, 89, 89);
                }
            }

            .bot_article{
                margin-top: 15px;
                padding: 15px;
                background-color: rgb(242, 242, 242);

                .bot_article_2{
                    text-align: right;
                    margin-bottom: 0;
                }
            }
        }
    }

    // 矯正裝置
    #appliance{
        padding: 200px 0 100px 0;

        @media (max-width:576px) {
            padding: 160px 0 100px 0;
        }
        .appliance_content{
            .title__{
                text-align: center;
                margin-bottom: 70px;
            }
            .item{
                margin-bottom: 20px;
                .item_L{
                    .img_{
                        text-align: center;
                        img{
                            width: 100%;

                            @media (max-width:768px) {
                                width: 300px;
                            }

                            @media (max-width:500px) {
                                width: 80%;
                            }
                        }
                    }
                }
                
            }
            .bot_article{
                margin-top: 15px;
                padding: 15px;
                background-color: rgb(213, 216, 222);

                .bot_article_1{
                    margin-bottom: 0;
                }
                
            }
        }
    }

    // 矯正流程
    #flow{
        padding: 200px 0 100px 0;

        @media (max-width:576px) {
            padding: 160px 0 100px 0;
        }
        background-color: #D5D8DE;
        .flow_content{
            .title__{
                text-align: center;
                margin-bottom: 70px;
            }
            .item{
                margin-bottom: 30px;
                .item_L{
                    .img_{
                        text-align: center;

                        @media (max-width:768px) {
                            text-align: left;
                        }
                        img{
                            width: 30%;

                            @media (max-width:768px) {
                                width: 150px;
                            }

                            @media (max-width:500px) {
                                width: 30%;
                                margin-bottom: 15px;
                            }
                        }
                    }
                }
                
            }
        }
    }

    // 牙齒美白
    #whitening{
        padding-bottom: 100px;
        .whitening_banner{
            background-image: url(../img/index/whiteningbg.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            height: 40vh;
           .banner_text{
            background: linear-gradient(90deg, #ffffff00
            , #ffffffa4,#ffffff00);
            display: inline-block;
            width: 80%;
            text-align: center;
            line-height: 50px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

               
           }
        }

        .whitening_content{
            .item{
                margin-bottom: 50px;
                @media (min-width:576px) {
                    height: calc(33vh - 100px);
                    
                }
                // 圖片
                .inst_img{
                    text-align: center;

                    &.img_L{
                        text-align: left;
                        @media (max-width:576px) {
                            text-align: center;
                        }
                    }
                    &.img_R{
                        text-align: right;
                        @media (max-width:576px) {
                            text-align: center;
                        }
                    }
                    @media (max-width:576px) {
                        margin-bottom: 15px;
                    }
                    img{
                        width: 80%;

                        @media (max-width:576px) {
                            width: 60%;
                        }
                    }
                }

                // 文字
                .inst_article{

                    .inst_article_title{
                        border-bottom: 1px solid;
                        display: flex;
                        justify-content: space-between;

                        .pc__{
                            display: block;
                            @media (max-width:576px) {
                                display: none;
                            }
                        }

                        .mobile__{
                            display:none;
                            @media (max-width:576px) {
                                display: block;
                            }
                        }
                        
                    }
                    .inst_article_content.padd_L{
                        padding-left:70px;

                        @media (max-width:768px) {
                        padding-left:0px;
                            
                        }
                    }

                    .inst_article_content.padd_R{
                        padding-right:70px;
                        @media (max-width:768px) {
                            padding-right:0px;
                                
                            }
                    }

                    @media (max-width:576px) {
                        margin-bottom: 100px;
                    }
                }
            }
        }
        
       
        
    }

    // 牙齦美容
    #gingiva{
        padding-bottom: 100px;
        @media (max-width:576px) {
            margin-top: 60px;
        }
        .gingiva_banner{
            background-image: url(../img/index/gingivabg.jpg );
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            height: 40vh;
           .banner_text{
            background: linear-gradient(90deg, #ffffff00
            , #ffffffa4,#ffffff00);
            display: inline-block;
            width: 80%;
            text-align: center;
            line-height: 50px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

               
           }
        }

        .gingiva_content{
            margin-top: 50px;
            .item{
                margin-bottom: 50px;
                // 圖片
                .inst_img{
                    text-align: center;
                    &.img_L{
                        text-align: left;
                        @media (max-width:576px) {
                            text-align: center;
                        }
                    }
                    &.img_R{
                        text-align: right;
                        @media (max-width:576px) {
                            text-align: center;
                        }
                    }
                    @media (max-width:576px) {
                        margin-bottom: 15px;
                    }
                    img{
                        width: 180px;

                        @media (max-width:576px) {
                            width: 30%;
                        }
                    }
                }

                // 文字
                .inst_article{

                    .inst_article_title{
                        border-bottom: 1px solid;
                        display: flex;
                        justify-content:left;

                        &.just_R{
                            justify-content: end;

                            @media (max-width:567px) {
                                justify-content:left;
                            }
                        }

                        .pc__{
                            display: block;
                            @media (max-width:576px) {
                                display: none;
                            }
                        }

                        .mobile__{
                            display:none;
                            @media (max-width:576px) {
                                display: block;
                            }
                        }
                        
                    }
                    .inst_article_content.padd_L{
                        padding-left:50px;
                        @media (max-width:567px) {
                            padding-left:0px;
                        }
                    }

                    .inst_article_content.padd_R{
                        padding-right:50px;
                        @media (max-width:567px) {
                            padding-right:0px;
                        }
                    }

                    @media (max-width:576px) {
                        margin-bottom: 100px;
                    }
                }
            }
        }
        
       
        
    }

    #faq{
        padding: 200px 0 100px 0;

        @media (max-width:576px) {
            padding: 160px 0 100px 0;
        }
        background-color: #D5D8DE;
        .faq_content{
            p{
                text-indent: -2.5em;
                padding-left: 2.5em;
                @media (max-width:576px) {
                    text-indent: -2.7em;
                    padding-left: 2.7em;
                }
                span{
                    letter-spacing: 0.25em;
                }
            }
            .title{
                text-align: center;
                margin-bottom: 70px;
            }

            .subtitle{
                text-align: center;
            }
        }
    }
}