*{
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: '微軟正黑體';
} 

$pad_width:750px;
$mobile_width:540px;



.bold_{
    font-weight: bold;
}

// 置中
.d-flex-j-center{
    display: flex;
    justify-content: center;
}

// 寬度最大920px
.max_920{
    max-width: 920px;
}

.transition{
    transition: 0.5s ease-in-out;
}




.navber{
    align-items: unset!important;
}
.navbar{
    display: block!important;
    padding: 0!important;
}
.phone-icon{
    margin-top: 8px;
    
}

.menu-toggle{
    span{
        background-color: #6d5c5f;
    }
}
.software-header {
    .menu__item{
        line-height: 1.15;
    }
}
.nav__menu{
    margin-bottom: 0;
}

.contact-sub{
    padding-top: 100px;
}

.contact-inner{
    h3.color--red{
        margin-bottom: 30px;
        font-size: 30px;
        line-height: 42px;
        letter-spacing: 2px;
        margin-top: 0;
    }
    h5.h5{
        font-size: 20px;
        letter-spacing: 2px;
        font-weight: bold;
    }
    a{
        color: #000;
        text-decoration: none;
    }
    
}


//////////////////////////////////////////////////////


#section_1{
    background-image: url(../images/software_6/banner_1.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    background-color: #D9E0F3;



    @media (max-width:1200px) {
        background-size: 60%;
        height: 80vh;

    }
    @media (max-width:750px) {
        background-position: bottom;
        background-size: 80%;
    }
    .article{
    padding-top: 35vh;
    @media (max-width:$pad_width) {
        padding-top: 15vh;
    }
        .big_title__{
            color: #4E709D;
            font-weight: bold;
            margin-bottom: 0;
            @media (max-width:750px){
                text-align: center;
            }
        }
        .subtitle__{
            color: #80654A;
            @media (max-width:750px){
                text-align: center;
            }
        }
    }
}

#section_2{
    background-image: url(../images/software_6/vector.png);
    background-size: contain;
    background-position:top;
    background-repeat: no-repeat;
    background-color: #FAF8F6;
    .left{
        img{
            width: 100%;
        }
    }
    .right{
        // padding-top: 10vh;
        // padding-bottom: 10vh;
        @media(max-width:750px){
            margin-top: 20vh;
        }
        
        .title__{
            color: #4E709D;
            span{
                background: linear-gradient(to top, #E5E5E5 50%, transparent 0%);
            }
        }
        .subtitle__{
            color: #80654A;
        }
        .item_{
            max-width: 500px;
            margin-top: 70px;
            .big_p__{
                color: #4E709D;
                // margin-bottom: 0;
            }
            ul{
                padding-left: 1em;
                li{
                    color: #484746;
                    text-indent: -0.9em;
                    padding-left: 0.9em;
                    text-align: justify;
                }
            }
        }
    }
}

#section_3{
    background-color: #FAF8F6;
    padding-top: 165px;
    padding-bottom: 140px;

    @media (max-width:$pad_width) {
    padding-bottom: 60px;
    padding-top: 100px;

        
    }
    .top{
        .article{
            .title__{
                color: #4E709D;
                span{
                    background: linear-gradient(to top, white 50%, transparent 0%);
                }
            }
            .subtitle__{
                color: #80654A;
            }
        }
    }

    .bottom{
        // margin-bottom: 100px;
        .box{
           
            height: 100%;
            display: flex;
            align-items: end;

           
            .article{
                margin-bottom: 100px;
                display: inline-block;
                background-color: white;
                padding: 50px 30px;

                @media (max-width:$pad_width) {
                    margin-bottom: 20px;
                }
                ul{
                    li{
                        text-indent: -1.35em;
                        padding-left: 1.35em;
                    }
                }
            }
        }
        

        .device{
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            img{
                width: 100%;
                &.pc{
                    display: block;

                    @media (max-width:$mobile_width) {
                        display: none;
                    }
                }

                &.mobile{
                    display: none;

                    @media (max-width:$mobile_width) {
                        display: block;
                    }
                }
            }
            

            .device{
                border: 25px solid white;
                width: 100%;

                @media(max-width:$pad_width){
                border: 10px solid white;

                }
            }
            .logo{
                padding: 0 40px;
            }
        }
        .left_device{
            margin-right: -45px;
            z-index: 2;

            @media(max-width:$pad_width){
                margin-right: auto;
            }
        }
        .right_device{
            margin-top: -120px;
            margin-left: -45px;

            @media(max-width:$pad_width){
            margin-top: auto;
            margin-left: auto;
            }
        }
    }
    
}

#section_3_new{
    background-color: #000;
    padding-top: 165px;
    // padding-bottom: 140px;
    @media (max-width:$pad_width) {
    // padding-bottom: 60px;
    padding-top: 100px;
    }
    // 標題
    .title{
        p{
            color: #fff;
        }
    }

    // slogan
    .slogans{
        margin-top: 50px;
        .slogan{
            display: inline-block;
            color: #669396;
            border: 1px solid white;
            padding: 18px 15px;
            border-radius: 30px;
            margin-right: 10px;
            margin-bottom:20px;

        }
    }

    // items
    .items{
        margin-top: 50px;
        // item
        a{
            text-decoration:none;

            .item{
                text-align: center;
                .photo{
                    width: 100%;
                }
                .logo_box{
                    margin-top: 30px;
                    display: flex;
                    justify-content: center;

                    @media(max-width:1200px){
                        flex-direction: column;
                    }
                    
                    .logo{
                        max-height: 60px;
                        object-fit: contain;
                        margin-right: 20px;

                        @media(max-width:1200px){
                            margin-right: 0px;
                            margin-bottom: 10px;
                         }
                    }
                    .logo_text{
                        color: white;
                        display: inline-block;

                        @media(max-width:1200px){
                            text-align: center;
                         }
                        
                        
                    }
                }
            }
        }
        
    }
}

#section_4{
    background-color: #000;
    padding-top: 200px;
    padding-bottom: 100px;

    @media (max-width:$pad_width) {
        padding-top: 80px;
    padding-bottom: 60px;
    }
    .section_4_title{
        padding-bottom: 180px;

        @media (max-width:$pad_width) {
            padding-bottom: 0px;
        }
        .title__{
            color: #A1C19B;
            span{
                background: linear-gradient(to top, #524B4B 50%, transparent 0%);
            }
        }
    }
    // 文字
    .article{
        padding-right: 80px;
        padding-left: 80px;

        position: relative;
        @media (max-width:1000px) {
            padding-right: 20px;
            padding-left:20px;
        }
        @media (max-width:$pad_width) {
            padding-right: 0px;
            padding-left:0px;

            padding: 70px 0 40px;
        }
        .title__{
            white-space: nowrap;
            margin-top: -110px;
            margin-bottom: 110px;
            color: #A1C19B;
            span{
                background: linear-gradient(to top, #524B4B 50%, transparent 0%);
            }
        }
        .big_p__{
            color: #E8B1AF;
        }
        .p__{
            color: white;
        }

        ul{
            padding-left: 1em;
            li{
                text-indent: -0.9em;
                padding-left: 0.9em;
            }
        }
    }

    // 圖
    .photo{
        img{
            width: 100%;
        }
    }
}

#section_5{
    .box{
        .items_{
            padding: 80px 60px;
            text-align: justify;
            

            @media (max-width:$pad_width) {
                padding: 70px 0px 0px;
            }
            
    
           .item{
            display: inline-block;
            margin: 0 40px;
            margin-bottom: 40px;
            width: 400px;
            height: 200px;
            text-align: justify;
            vertical-align: top;
             

            @media (max-width:$pad_width) {
                margin: 0;
                width: auto;
                display: block;

            }
            
            .title__{
                color: #878860;
                
                span{
                    padding-bottom: 5px;
                    background: linear-gradient(to top, #A9AE75 3%, transparent 0%);
                }
            }
            .item_text{
                display: flex;
                align-items: center;

                >.p__{
                    white-space: nowrap;
                }
    
                .arrow{
                    margin: 0 20px;
                    img{
                        max-width: 60px;

                        @media (max-width:$pad_width) {
                            max-width: 30px;
                        }
                    }
                }
                ul{
                    margin-bottom: 0;
                    li{
                        text-indent: -1em;
                        padding-left: 1em;
                    }
                }
            }
        } 
        }
    }
    
    
}

#section_6{
    background-color: #000;
    padding-top: 175px;
    padding-bottom:200px ;

    @media (max-width:$pad_width) {
        padding-top: 80px;
        padding-bottom:60px ;

    }
    .title__{
        color: #A1C19B;
        text-align: center;
        margin-bottom: 70px;
    }

    .img_{
        margin-bottom: 100px;
        .p__{
            color: white;
            text-align: center;
        }
        img{
            width: 100%;
        }
    }

    .items{
        text-align: center;
        .item{
            display: inline-block;
            margin: 0 10px;
            margin-bottom: 40px;
            width: 150px;

            img{
                // width: 80%;
                height: 20px;
            }

            .p__{
                color:#80654A;
                margin-left: 5px;
                vertical-align: middle;
            }
        }
    }
    
}

#section_7{
    // 總設定
    .device{
        .device_T{
           padding: 150px 30px;
           max-height: 575px;
           height: 100%;

            text-align: center;
            @media(max-width:$pad_width){
                padding: 80px 30px;

            }
            .article{
                display: inline-block;
                text-align: left;
                max-width: 600px;
                ul{
                    li{
                        text-indent: -0.9em;
                        padding-left: 0.9em;
                    }
                }
            }
        }
        .device_P{
            max-height: 575px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            height: 100%;
            z-index: 2;

            @media (max-width:$pad_width) {
                overflow: unset;
            }

            
            .photo{
                // position: absolute;
                bottom: 0;
                text-align: center;
                @media (max-width:$pad_width) {
                    margin-top:-45px;
                }
            }
        }
    }

    // wifi
    .device_1{
        .device_T{
           
            background-color: #BFD3F0;
            
            .article{
                // 標題
                .title__{
                    color: #46698B;
                    span{
                        background: linear-gradient(to top, #98BDF3 50%, transparent 0%);
                    }
                }
                // 副標題
                .subtitle__{
                    color: #80654A;
                }
                .p__{
                    color: #484746;
                }
            }
        }
        .device_P{
            background-color: #DAE4F3;
            align-items: flex-end;

            .photo{
                img{
                    width: 80%;
                }
            }
        }
    }

    // 網路
    .device_2{
        .device_T{
           
            background-color: #EDF0EA;
            
            .article{
                // 標題
                .title__{
                    color: #5C6039;
                    span{
                        background: linear-gradient(to top, white 50%, transparent 0%);
                    }
                }
                // 副標題
                .subtitle__{
                    color: #80654A;
                }
                .p__{
                    color: #484746;
                }
            }
        }
        .device_P{
            background-color: #D9E8D4;
            .photo{
            
            
                img{
                    width: 100%;
                    
                }
            }
        }
    }

    // 電話總機系統
    .device_3{
        .device_T{
           
            background-color: #FAF4DE;
            
            .article{
                
                // 標題
                .title__{
                    color: #88BB80;
                    span{
                        background: linear-gradient(to top, white 50%, transparent 0%);
                    }
                }
                // 副標題
                .subtitle__{
                    color: #80654A;
                }
                .p__{
                    color: #484746;
                }
            }
        }
        .device_P{
            background-color: white;
            .photo{
            
            
                img{
                    width: 75%;
                    
                }
            }
        }
    }

    // 監視器與收音設備
    .device_4{
        .device_T{
           
            background-color: #E7FFFB;
            
            .article{
                
                // 標題
                .title__{
                    color: #394460;
                    span{
                        background: linear-gradient(to top, #C5E3ED 50%, transparent 0%);
                    }
                }
                // 副標題
                .subtitle__{
                    color: #80654A;
                }
                .p__{
                    color: #484746;
                }
            }
        }
        .device_P{
            background-color: #ECF0F1;
            .photo{
            
            
                img{
                    width: 75%;
                    
                }
            }
        }
    }

    // 音響
    .device_5{
        .device_T{
           
            background-color: #FFF5EB;
            
            .article{
                
                // 標題
                .title__{
                    color: #88BB80;
                    span{
                        background: linear-gradient(to top, white 50%, transparent 0%);
                    }
                }
                // 副標題
                .subtitle__{
                    color: #80654A;
                }
                .p__{
                    color: #484746;
                }
            }
        }
        .device_P{
            background-color: #FFDFD1;
            .photo{
            
            
                img{
                    width: 75%;
                    
                }
            }
        }
    }
    
}