*{
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: '微軟正黑體';
} 



.bold_{
    font-weight: bold;
}

// 置中
.d-flex-j-center{
    display: flex;
    justify-content: center;
}

// 寬度最大920px
.max_920{
    max-width: 920px;
}

.transition{
    transition: 0.5s ease-in-out;
}




.navber{
    align-items: unset!important;
}
.navbar{
    display: block!important;
    padding: 0!important;
}
.phone-icon{
    margin-top: 8px;
    
}

.menu-toggle{
    span{
        background-color: #6d5c5f;
    }
}
.software-header {
    .menu__item{
        line-height: 1.15;
    }
}
.nav__menu{
    margin-bottom: 0;
}

.contact-sub{
    padding-top: 100px;
}

.contact-inner{
    h3.color--red{
        margin-bottom: 30px;
        font-size: 30px;
        line-height: 42px;
        letter-spacing: 2px;
        margin-top: 0;
    }
    h5.h5{
        font-size: 20px;
        letter-spacing: 2px;
        font-weight: bold;
    }
    a{
        color: #000;
        text-decoration: none;
    }
    
}
//////////////////////////////////////////////////////


.wrapper{
    


    .section_1{
        margin-bottom: -30px;
        padding-top: 270px;
        background-image: url(../images/software_2/banner-bgc.svg);
        background-repeat: no-repeat;
        background-size: contain;

        @media(max-width:768px){
            padding-top: 150px;
            background-size: cover;
            background-position: center;
        }
        .title_{
            display: flex;
            align-items: center;
            .left{
                img{
                    @media (max-width:1200px) {
                        margin-right: 20px;
                    }
                    @media(max-width:500px){
                        width: 50px;
                    }
                }
            }
            .right{
                p{
                    // transform: rotate(-2deg);    
                    white-space:nowrap;
                    font-weight: bold;
                    
                    line-height: 60px;
                    letter-spacing: 0.22em;
                    color: #80654A;
                    position: relative;
                    z-index: 2;
                    display: inline-block;

                    @media(max-width:768px){
                        letter-spacing: 0.08em;
                    }
                    @media(max-width:500px){
                        line-height: 25px;
                        
                        letter-spacing: 0.05em;
                        white-space:nowrap;
                        
                    }

                    &:after{
                        z-index: -1;
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: -10px;
                        width: 100%;
                        height: 30px;
                        background: #FDE1C8;
                        @media(max-width:500px){
                            height: 18px;
                            bottom: -6px;
                        }
                    }
                }
            }
        }
        .content_{
            margin-top: 50px;
            p{
                color: #80654A;
                font-weight: normal;
            }
        }
        .bot{
            width: 100%;
            display: inline-block;
            margin-top: 50px;
            @media(max-width:400px){
                margin-top: 50px;
            }
            .bot_L{
                img{
                    max-width: 280px; 
                    width: 100%;
                    display: block;
                    // margin-bottom: -50px;
                    z-index: 0;
                    margin-left: -100px;
                    z-index: 2;

                    @media(max-width:996px){
                        margin-left: -20px;
                        margin-bottom: -30px;
                    }
                   
                }
                
            }
           
            .dialog_2{
                display: inline-block;
                z-index: 3;
                background-color: #fff;
                border-radius: 20px;
                border: 1px solid #bb8080;
                padding: 30px 40px;
                margin-top: 50px;
                
                @media(max-width:768px){
                    padding: 15px 20px;
                    
                }
                @media(max-width:500px){
                    padding: 5px 10px;
                    
                }

                &:before{
                    content: "";
                    position: absolute;
                    top: 20px;
                    right: -58px;
                    background-image: url(../images/software_3/software-29.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 60px;
                    height: 60px;
                    width: 60px;

                    @media(max-width:768px){
                        top: 10px;
                        right: -52px;
                        background-size: 45px;
                    }
                    @media(max-width:500px){
                        top: 0;
                        right: -48px;
                        background-size: 40px;
                    }
                    
                }
                p{
                    margin-top: 0;
                    text-align: justify;
                   
                    
                    letter-spacing: 0.03em;
                    color: #80654A;
                    margin-bottom: 0;
                }
            }
        }
      

    }

    .section_2{
        padding-top: 120px;
        margin-bottom: -50px;
        //  標題
        .title_{
            display: flex;
                align-items: center;
                padding: 10px 0;
            .right{
                .title__{
                    white-space:nowrap;
                    font-weight: bold;
                    transform: rotate(
                        -1.41deg);
                    line-height: 60px;
                    letter-spacing: 0.22em;
                    color: #83C6DB;
                    position: relative;
                    z-index: 2;
                    display: inline-block;

                    @media(max-width:768px){
                        letter-spacing: 0.08em;
                    }
                    @media(max-width:500px){
                        line-height: 25px;
                        transform: rotate(
                        0deg);
                        letter-spacing: 0.05em;
                        white-space:nowrap;
                        
                    }
                    &:after{
                        z-index: -1;
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: -10px;
                        width: 100%;
                        height: 30px;
                        background: #FDE1C8;
                        @media(max-width:500px){
                            height: 18px;
                            bottom: -6px;
                        }

                        
                    }
                }
            }
        }

        // 內容
        .content{
            margin-top: 90px;
            // 左邊的內容
            .left{
                padding-bottom: 60px;
                // 上
                .top{
                    // 每個項目
                    .item{
                        margin-bottom: 5px;
                        // 左邊
                        .item_left{
                            display: inline-block;
                            width: 30px;
                            height: 30px;
                            background: #92A6AE;
                            text-align: center;
                            line-height: 30px;
                            border-radius: 50%;
                            color: white;
                            font-weight: bold;
                        }
                        // 右邊
                        .item_right{
                            display: inline-block;
                            vertical-align: sub;
                            color: #80654A;
                            margin-left: 5px;
                        }

                    }
                }

                // 下
                .bot{
                    .span_1{
                        display: inline-block;
                        background: #C3D4B1;
                        color: white ;
                        padding: 10px 15px;
                        border-radius: 30px;
                        font-weight: bold;
                        // white-space: nowrap;
                        line-height: 25px;
                        margin: 10px 0;
                    }
                    .span_2{
                        color: #484746;
                        display: inline-block;
                        margin: 10px 0;

                    }
                }
            }

            // 右邊的內容
            .right{
                position: relative;
                

                // @media (max-width:500px) {
                //     padding-top: 50px;
                // }
                .top{
                    a{  
                        // 電腦
                        &.pc_{
                            display: block;
                            @media (max-width:1024px){
                                display: none;
                            }
                        }

                        // 平板
                        &.pad_{
                            display: none;
                            @media (min-width:576px) and (max-width:1024px) {
                                display: block;
                            }
                        }

                        // 手機
                        &.mobile_{
                            display: none;
                            @media (max-width:576px){
                                display: block;
                            }
                        }


                        img{
                            width: 100%;
                        }
                    }
                    
                }
                .bot_text{
                    text-align: center;
                    color: #83C6DB;
                    margin-bottom: 50px;

                    @media (max-width:500px) {
                        margin-bottom: 10px;
                    }
                }
                
                .people_1{
                    // position: absolute;
                    // right: -50px;
                    // bottom: 0;
                    // max-width: 185px;
                    // width: 30%;

                    max-width: 35%;
                    display: block;
                    margin-left: auto;
                    margin-top: -100px;
                    margin-right: -30px;

                    @media (max-width:992px) {
                        margin-top: 0px;
                        max-width: 55%;
                        margin-right: 0px;


                    }
                    @media (max-width:500px) {
                        
                        max-width: 35%;
                        


                    }
                }
            }
        }
    }

    .section_3{
        padding-top: 50px;
        background-image: url(../images/software_7/box_2_bg.svg);
        background-size: cover;
       //  標題
       .title_{
        display: flex;
            align-items: center;
            padding: 10px 0;
        .right{
            .title__{
                white-space:nowrap;
                font-weight: bold;
                // transform: rotate(
                //     -1.41deg);
                line-height: 60px;
                letter-spacing: 0.22em;
                color: #8E8955;
                position: relative;
                z-index: 2;
                display: inline-block;

                @media(max-width:768px){
                    letter-spacing: 0.08em;
                }
                @media(max-width:500px){
                    line-height: 25px;
                    
                    letter-spacing: 0.05em;
                    white-space:nowrap;
                    
                }
                &:after{
                    z-index: -1;
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: -10px;
                    width: 100%;
                    height: 30px;
                    background: #fff;
                    @media(max-width:500px){
                        height: 18px;
                        bottom: -6px;
                    }
                }
            }
        }
        } 

        .content{
            padding-top: 80px;
            padding-bottom: 120px;

            .left{
                img{
                    width: 100%;
                }
            }

            .right{
                 // 每個項目

                 @media (max-width:768px) {
                    margin-top: 50px;
                }
                 .item{
                    margin-bottom: 15px;
                    display: flex;

                    @media (max-width:500px) {
                        display: block;
                    }
                    // 左邊
                    .item_left{
                        display: inline-block;
                        width: 30px;
                        min-width: 30px;
                        height: 30px;
                        background: #92A6AE;
                        text-align: center;
                        line-height: 30px;
                        border-radius: 50%;
                        color: white;
                        font-weight: bold;
                        margin-right: 10px;
                        @media (max-width:500px) {
                            margin-bottom: 10px;
                        }
                    }
                    // 右邊
                    .item_right{
                        max-width: 600px;
                        display: inline-block;
                        vertical-align: sub;
                        color: #80654A;
                        margin-left: 5px;
                        p{
                            margin-bottom: 0;
                            text-align: justify;
                            line-height: 30px;
                        }
                        .top_{
                            font-weight: bold;
                        }
                        
                    }

                } 
            }
        }
    }

    .section_4{
        background-color: #F1F3FF;
        padding-top: 50px;
        padding-bottom: 20px;


        // 內容
        .content{
            background-color: #fff;
            padding: 0 15px;

            //  標題
            .title_{
                display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 20px 0;
                .right{
                    .title__{
                        white-space:nowrap;
                        font-weight: bold;
                        // transform: rotate(
                        //     -1.41deg);
                        line-height: 60px;
                        letter-spacing: 0.22em;
                        color: #837389;
                        position: relative;
                        z-index: 2;
                        display: inline-block;

                        @media(max-width:768px){
                            letter-spacing: 0.08em;
                        }
                        @media(max-width:500px){
                            line-height: 25px;
                            
                            letter-spacing: 0.05em;
                            white-space:nowrap;
                            
                        }
                        &:after{
                            z-index: -1;
                            content: '';
                            display: block;
                            position: absolute;
                            bottom: -10px;
                            width: 100%;
                            height: 30px;
                            background: #fff;
                            @media(max-width:500px){
                                height: 18px;
                                bottom: -6px;
                            }
                        }

                        &.pc{
                            display: block;
                            @media (max-width:996px) {
                                display: none;
                            }
                        }
                        &.mobile{
                            display: none;
                            @media (max-width:996px) {
                                display: block;
                            }
                        }
                    }
                }
            }

            // 內容
            .content_{
                // 照片
                .photo{
                    text-align: center;
                    img{
                        max-width: 950px;
                        width: 100%;
                    }
                }

                .items_box{
                    text-align: center;
                    // 項目
                    .items{
                        display: inline-block;
                        
    
                        @media (max-width:768px) {
                        margin-top: 50px;
                    }
                    // 每個項目
                        .item{
                        margin-bottom: 15px;
                        display: flex;
                        text-align: left;
    
                        @media (max-width:500px) {
                            display: block;
                        }
                        // 左邊
                        .item_left{
                            display: inline-block;
                            width: 30px;
                            min-width: 30px;
                            height: 30px;
                            background: #92A6AE;
                            text-align: center;
                            line-height: 30px;
                            border-radius: 50%;
                            color: white;
                            font-weight: bold;
                            margin-right: 10px;
                            @media (max-width:500px) {
                                margin-bottom: 10px;
                            }
                        }
                        // 右邊
                        .item_right{
                            max-width: 700px;
                            display: inline-block;
                            vertical-align: sub;
                            color: #80654A;
                            margin-left: 5px;
                            text-align: left;
                            p{
                                margin-bottom: 0;
                                text-align: justify;
                                line-height: 30px;
                            }
                            .top_{
                                font-weight: bold;
                            }
                            ul{
                                padding-left: 1.5em;
                                li{
                                    list-style-type: disc;
                                }
                            }
                            
                        }
    
                    } 
                    }
                }
                
            }
        }

        // 下圖
        .bot_photo{
            margin-top: 15px;
            text-align: center;
            position: relative;
            .dentist-client_1{
                
                max-width: 570px;
                width: 100%;
            }

            .dentist-client_2,.dentist-client_3{
                position:absolute;
                box-shadow: 0px 4px 35px 3px rgba(0, 0, 0, 0.25);
                max-width: 450px;
                width: 100%;
                margin: 15px 0;
                border-radius: 15px;

                @media (max-width:996px) {
                    position: unset;
                }
            }
            .dentist-client_2{
                left: 0;
                bottom: 0;
            }
            .dentist-client_3{
                right: 0;
                top: 40%;
            }
        }
    }

    .section_5{
        //  標題
        .title_{
            display: flex;
                align-items: center;
                // justify-content: center;
                padding: 20px 0;
            .right{
                .title__{
                    white-space:nowrap;
                    font-weight: bold;
                    // transform: rotate(
                    //     -1.41deg);
                    line-height: 60px;
                    letter-spacing: 0.22em;
                    color: #E9B940;
                    position: relative;
                    z-index: 2;
                    display: inline-block;

                    @media(max-width:768px){
                        letter-spacing: 0.08em;
                    }
                    @media(max-width:500px){
                        line-height: 25px;
                        
                        letter-spacing: 0.05em;
                        white-space:nowrap;
                        
                    }
                    &:after{
                        z-index: -1;
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: -10px;
                        width: 100%;
                        height: 30px;
                        background: #F5F5CC;
                        @media(max-width:500px){
                            height: 18px;
                            bottom: -6px;
                        }
                    }

                    // &.pc{
                    //     display: block;
                    //     @media (max-width:996px) {
                    //         display: none;
                    //     }
                    // }
                    // &.mobile{
                    //     display: none;
                    //     @media (max-width:996px) {
                    //         display: block;
                    //     }
                    // }
                }
            }
        }

        .content{
            margin-top: 50px;
            // 項目
            .items{
                display: inline-block;
                

                @media (max-width:768px) {
                margin-top: 50px;
            }
            // 每個項目
                .item{
                margin-bottom: 15px;
                display: flex;
                text-align: left;

                @media (max-width:500px) {
                    display: block;
                }
                // 左邊
                .item_left{
                    display: inline-block;
                    width: 30px;
                    min-width: 30px;
                    height: 30px;
                    background: #92A6AE;
                    text-align: center;
                    line-height: 30px;
                    border-radius: 50%;
                    color: white;
                    font-weight: bold;
                    margin-right: 10px;
                    @media (max-width:500px) {
                        margin-bottom: 10px;
                        display: block;
                    }
                }
                // 右邊
                .item_right{
                    max-width: 700px;
                    display: inline-block;
                    vertical-align: sub;
                    color: #80654A;
                    margin-left: 5px;
                    text-align: left;
                    p{
                        margin-bottom: 0;
                        text-align: justify;
                        line-height: 30px;
                    }
                    .top_{
                        font-weight: bold;
                    }
                    ul{
                        padding-left: 1.5em;
                        li{
                            list-style-type: disc;
                        }
                    }
                    
                }

            } 
            }

            // 右
            .bot{

                display: inline-block;
               margin-top: 30px;
                .bot_L{
                    img.pc{
                        max-width: 350px; 
                        width: 100%;
                        display: block;
                        // margin-bottom: -50px;
                        z-index: 0;
                    }
                    img.mobile{
                        display: none;
                    }
                }
               
                .dialog_2{

                    // display: inline-block;
                    z-index: 3;
                    background-color: #fff;
                    border-radius: 20px;
                    border: 1px solid #bb8080;
                    padding: 15px 20px;
                    margin-top: 60px;
    
                    &:before{
                        content: "";
                        position: absolute;
                        top: 20px;
                        left: -58px;
                        background-image: url(../images/software_3/software-29-2.png);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 60px;
                        height: 60px;
                        width: 60px;

                        @media (max-width:1200px) {
                            background-size: 45px;
                            left: -51px;
                        }
                        @media (max-width:576px) {
                            left: 57px;
                            top: -51px;
                            transform: rotate(90deg);
                        }
                    }
                    p{
                        margin-top: 0;
                        text-align: justify;
                       
                        
                        letter-spacing: 0.05em;
                        color: #80654A;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }


  





    .contact-sub{
        padding-top: 200px;
    }
}