


// 文字
.p__{
    font-size: 17px;
    letter-spacing: 0.05em;
    @media(max-width:1200px){
        font-size: 16px;
    }
    @media(max-width:768px){
        font-size: 15px!important;
    }
}
.span__{
    white-space:nowrap;
    margin: 0 3px;
    font-size: 18px;
    letter-spacing: 0.05em;
    background-color: white;
    padding: 10px 15px;
    border-radius: 30px;
    color: #484746;
    line-height: 60px;
    font-weight: bold;
    @media(max-width:1200px){
        font-size: 16px;
    }
    @media(max-width:768px){
        font-size: 15px!important;
    }
}

.dialog__{
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 0.05em;
    @media(max-width:1200px){
        font-size: 20px;
        
    }
    @media(max-width:768px){
        font-size: 16px!important;
        line-height: 25px;
        

    }
}
.big_title__{
    font-size: 50px;
    @media(max-width:768px){
        font-size: 40px;
    }
    @media(max-width:500px){
        font-size: 26px;
    }
}
.title__{
    font-size: 38px;
    letter-spacing: 0.15em;
    
    @media(max-width:1200px){
        font-size: 35px;
        line-height: 50px;
        letter-spacing: 0.05em;
    }
    @media(max-width:500px){
        font-size: 25px;
        line-height: 24px;
        letter-spacing: 0.05em;
        span.ensp{
            display: none;
        }

    }

}
.subtitle__{
    font-weight: bold;
    font-size: 20px;
    line-height: 35px;
    @media(max-width:1200px){
        font-size: 18px;
    }
    @media(max-width:500px){
        font-size: 16px;
    }
}
// 標題旁的數字圖
.left_img{
    max-width: 100px;
    margin-right: 20px;

    @media(max-width:1200px){
        margin-right: 20px;
        max-width: 80px;
    }
    @media(max-width:500px){
        max-width: 30px;
    }
}

//////////////////



@media(max-width:1200px){
    
    .wrapper{
        .box_1{
            .title_{
                .left{
                    img{
                        margin-right: 20px;
                    }
                }
            }
            .dialog_box{
                
                img.angle{
                    width: 325px;
                }
            }
            
            .right_group{
                .group_box{
                    .dialog_box_2{
                        top: 30%;
                        left: -220%;
                        
                        img.angle{
                            width: 325px;
                        }
                    }
                }
            }
        }
        .box_2{
            .title_{
                .left{
                    img{
                        margin-right: 5px;
                    }
                }
                .right{
                    p.pc{
                        display: none;
                    }
                    p.mobile{
                        white-space:nowrap;
                        display: block;
                        font-weight: bold;
                        line-height: 50px;
                        letter-spacing: 0.22em;
                        color: #043A80;
                        position: relative;
                        z-index: 2;
                        display: inline-block;

                        &:after{
                            z-index: -1;
                            content: '';
                            display: block;
                            position: absolute;
                            bottom: -10px;
                            width: 100%;
                            height: 30px;
                            background: #9BB6DE;
                        }
                    }
                }
            }
            
        }
        
        .box_3{
            .title_{
                .left{
                    img{
                        margin-right: 5px;
                    }
                }
                .right{
                    p.pc{
                        display: none;
                    }
                    p.mobile{
                        white-space:nowrap;
                        display: block;
                        font-weight: bold;
                        
                        line-height: 50px;
                        letter-spacing: 0.22em;
                        color: #854920;
                        position: relative;
                        z-index: 2;
                        display: inline-block;

                        &:after{
                            z-index: -1;
                            content: '';
                            display: block;
                            position: absolute;
                            bottom: -10px;
                            width: 100%;
                            height: 30px;
                            background: #E4CFC4;
                        }
                    }
                }
            }
            .article{
                margin-top: 50px;
                
            }
            .bot{
                .bot_L_img{
                    img{
                        max-width: 200px; 
                    }
                }
                .bot_R_img{
                    img{
                        max-width: 120px;
                    }
                }
                .bot_dialog{
                    .bot_R_dialog{
                        margin-top: 50px;
                    }
                }
            }
        }
        .box_4{
            .box_4_L{
                img.all{
                    display: none;
                }
                img.top,img.bot{
                    display: block;
                }
                
            }
        }
        .box_5{
            .title_{
               
                .right{
                    p.pc{
                        display: none;
                    }
                    p.mobile{
                        white-space:nowrap;
                        display: block;
                        font-weight: bold;
                        color: #878860;
                        position: relative;
                        z-index: 2;
                        display: inline-block;

                        &:after{
                            z-index: -1;
                            content: '';
                            display: block;
                            position: absolute;
                            bottom: -10px;
                            width: 100%;
                            height: 30px;
                            background: #E5E5C1;
                        }
                    }
                }
            }
            .content{
                padding-left: 100px;
                margin-top: 50px;
            }
        }
        .box_6{
            .title_{
               
                .right{
                    p.pc{
                        display: none;
                    }
                    p.mobile{
                        white-space:nowrap;
                        display: block;
                        font-weight: bold;
                        color: #E9B940;
                        position: relative;
                        z-index: 2;
                        display: inline-block;

                        &:after{
                            z-index: -1;
                            content: '';
                            display: block;
                            position: absolute;
                            bottom: -10px;
                            width: 100%;
                            height: 30px;
                            background: #F5F5CC;
                        }
                    }
                }
            }
            .content{
                padding-left: 100px;
                margin-top: 50px;
            }
        }
        .box_7{
            .title_{
               
                .right{
                    p.pc{
                        display: none;
                    }
                    p.mobile{
                        white-space:nowrap;
                        display: block;
                        font-weight: bold;
                        color: #E95E40;
                        position: relative;
                        z-index: 2;
                        display: inline-block;

                        &:after{
                            z-index: -1;
                            content: '';
                            display: block;
                            position: absolute;
                            bottom: -10px;
                            width: 100%;
                            height: 30px;
                            background: #F5D6CC;
                        }
                    }
                }
            }
            .content{
                padding-left: 100px;
                margin-top: 50px;
            }
        }
        .box_8{
            .title_{
               
                .right{
                    p.pc{
                        display: none;
                    }
                    p.mobile{
                        white-space:nowrap;
                        display: block;
                        font-weight: bold;
                        color: #E185BC;
                        position: relative;
                        z-index: 2;
                        display: inline-block;

                        &:after{
                            z-index: -1;
                            content: '';
                            display: block;
                            position: absolute;
                            bottom: -10px;
                            width: 100%;
                            height: 30px;
                            background: #F0EBFF;
                        }
                    }
                }
            }
            
           .article{
                padding-left: 100px;
                .article_1{
                    .left{
                        max-width: 400px;
                    }
                }
           }
        }
        .box_9{
            .title_{
               
                .right{
                    p.pc{
                        display: none;
                    }
                    p.mobile{
                        white-space:nowrap;
                        display: block;
                        font-weight: bold;
                        color: #C98C5B;
                        position: relative;
                        z-index: 2;
                        display: inline-block;

                        &:after{
                            z-index: -1;
                            content: '';
                            display: block;
                            position: absolute;
                            bottom: -10px;
                            width: 100%;
                            height: 30px;
                            background: #FFF5D0;
                        }
                    }
                }
            }
            .article{
                padding-left: 100px;
            }
        }
        .box_10{
            .title_{
               
                .right{
                    p.pc{
                        display: none;
                    }
                    p.mobile{
                        white-space:nowrap;
                        display: block;
                        font-weight: bold;
                        color: #80654A;
                        position: relative;
                        z-index: 2;
                        display: inline-block;

                        &:after{
                            z-index: -1;
                            content: '';
                            display: block;
                            position: absolute;
                            bottom: -10px;
                            width: 100%;
                            height: 30px;
                            background: #B6CFEA;
                        }
                    }
                }
            }
        }
       
    }
}
@media(max-width: 1167px){
    .wrapper{
        .box_1{
            margin-top: 60px;
        }
    }
}
@media(max-width:996px){
    .wrapper {
        .box_1 {
            .article{
                padding-left: 50px;

                // .article_1{
                //     p:before{
                //         display: none;
                //     }
                // }
            }
            .dialog_box{
                display: none;
            }
            .right_group{
                justify-content: flex-end;
                .group_box{
                    margin-top: -50px;
                    max-width: 80px;
                }
            }
        }
        .box_2{
            padding-top: 100px;
            padding-bottom: 50px;
            .article{
                padding-left: 0;
            }
        }
        .box_2_2{
            .article{
                padding-left: 0;
            }
        }
        .box_3{
            .article{
                padding-left: 0;
            }
            
        }
        .box_4{
            padding-top: 50px;
            .box_4_R{
                .article_2:nth-last-of-type(1){
                    margin-bottom: 50px;
                }
            }
        }
        .box_5{
            padding-top: 50px;
            .bot{
                background-position: top center;
                background-size: contain;
            }
        }
        .box_6{
            padding-top: 30px;
            .bot{
                background-position: top center;
                background-size: contain;
            }
        }
        .box_7{
            padding-top: 30px;
        }
        .box_8{
            padding-top: 30px;
            .article{
                padding-left: 0;
                .article_1{
                    
                    .left{
                        max-width: unset;
                    }
                    flex-direction: column;
                    .right{
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
        .box_9{
            padding-top: 30px;
            .article{
                padding-left: 0;
            }
        }
        .box_10{
            padding-top: 0px;
        }
        
    }
}
@media(max-width:768px){
    

    .wrapper{
       
        .box_1{
            padding-top: 50px;
            background-size: cover;
    background-position: center;
            .title_{
                .right{
                    p{
                        
                        letter-spacing: 0.08em;
                    }
                }
            }
            .bot{
                .bot_L{
                    img.pc{
                        width: 100%;
                        display: block;
                        
                    }
                    img.mobile{
                        display: none;
                        width: 100%;
                        margin-bottom: -50px;
                        z-index: 2;
                    }
                }

                .dialog_2{
                    padding: 15px 20px;
                    
                }
            }
        }
        .box_2{
            img.circle{
                display: none;
            }
            .title_{
                .right{
                    p.mobile{
                        
                        letter-spacing: 0.08em;
                    }
                }
            }
        }
        .box_3{
            padding-top: 70px;
            .title_{
                .right{
                    p.mobile{
                        
                        letter-spacing: 0.08em;
                    }
                }
            }
            .bot{
                display: none;
            }
            .bot_mobile{
                display: block;
                margin-top: 50px;

                .bot_top_L_img{
                    img{
                        width: 100%;
                    }
                }
                .bot_top_R_dialog{
                    display: inline-block;
                    z-index: 3;
                    background-color: #fff;
                    border-radius: 20px;
                    border: 1px solid #bb8080;
                    padding: 15px 5px;

                    &:before{
                        content: "";
                        position: absolute;
                        top: 16px;
                        left: -38px;
                        background-image: url(../images/software_3/software-29-3.png);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 40px;
                        height: 40px;
                        width: 40px;
                    }

                    p{
                        margin-top: 0;
                        text-align: justify;
                        
                        line-height: 20px;
                        letter-spacing: 0.02em;
                        color: #80654A;
                        margin-bottom: 0;
                    }
                }
                .bot_bot_L_dialog{
                    margin-top: 50px;
                    display: inline-block;
                    z-index: 3;
                    background-color: #fff;
                    border-radius: 20px;
                    border: 1px solid #bb8080;
                    padding: 15px 5px;

                    &:before{
                        content: "";
                        position: absolute;
                        top: 8px;
                        right: -38px;
                        background-image: url(../images/software_3/software-29-01.png);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 40px;
                        height: 40px;
                        width: 40px;
                    }

                    p{
                        margin-top: 0;
                        text-align: justify;
                        
                        line-height: 20px;
                        letter-spacing: 0.02em;
                        color: #80654A;
                        margin-bottom: 0;
                    }
                }
                .bot_bot_R_img{
                    img{
                        width: 100%;
                    }
                }
            }

        }
        .box_5{
            .content{
                padding-left: 0px;
            }
            .bot{
                padding-top: 230px;
                .bot_dialog{
                    &:before{
                        background-size: 40px;
                        top: 35px;
                        left: -44px;
                    }
                    p{
                        line-height: 20px;
                    }
                }
            }
        }
        .box_6{
            .content{
                padding-left: 0px;
            }
            .bot{
                padding-top: 230px;
                .bot_dialog{
                    &:before{
                        background-size: 40px;
                        top: 35px;
                        left: -44px;
                    }
                    p{
                        line-height: 20px;
                    }
                }
            }
        }
        .box_7{
            .content{
                padding-left: 0%;

                span.span__{
                    line-height: 40px;
                    padding: 6px 8px;
                }
            }
        }
        .box_8{
            .bot{
                img.bot_pc{
                    display: none;
                }
                img.bot_mobile{
                    display: block;
                }
            }
            
        }
        .box_10{
            .bot_mobile{
                margin-top: 30px;
                display: block;
                p{
                    color: #80654A;
                }
            }
            .bot{
                display: none;
            }
            .photo{
                img{
                    margin-top: 50px;
                    max-width: 150px;
                }
            }
        }
        
        
        
       

        
    }
}
@media(max-width:500px){
    
    .wrapper{
        .box_1{
            .title_{
                .left{
                    img{
                        width: 50px;
                    }
                }
                .right{
                    p{
                        line-height: 25px;
                        
                        letter-spacing: 0.05em;
                        white-space:nowrap;
                        &:after{
                            height: 18px;
                            bottom: -6px;
                        }
                    }
                }
                
            }
            .article{
            padding-left:   0px;

                .article_1{
                    margin-top: 60px;
                    p{
                        margin-left:0;
                        // text-align: center;

                        

                        &:before{
                            left: 0%;
                            top: -40px;
                            // transform: translate(-50% , 0%);
                        }
                    }
                }
                .article_2{
                    margin-top: 80px;
                    p{
                        margin-left:0;
                        // text-align: center;
                        

                        &:before{
                            left: 0%;
                            top: -40px;
                            // transform: translate(-50% , 0%);

                        }
                    }
                }
            }
            .right_group {
                .group_box {
                    .dialog_box_2 {
                        left: -190%;
                        
                        img.angle{
                            width: 284px;
                        }
                    }
                }
            }
        }
        .box_2{
            .title_{
                margin-bottom: 50px;
                .left{
                    img{
                        width: 50px;
                    }
                }
                .right{
                    
                    p.mobile{
                        line-height: 25px;
                        letter-spacing: 0.05em;
                        white-space:nowrap;
                        &:after{
                            height: 18px;
                            bottom: -6px;
                        }
                    }
                }
            }
            .article{
                padding-left: 0px;
                .article_1{
                    margin-top: 60px;
                    margin-left:0;
                    h3{
                        

                        &:before{
                            left: 0%;
                            // transform: translate(-50% , -50%);
                            top: -20px;
                        }
                    }
                   
                    
                    
                    
                }
                .article_2{
                    margin-top: 80px;
                    margin-left:0;
                    h3{
                        
                        &:before{
                            left: 0%;
                            // transform: translate(-50% , -50%);
                            top: -20px;
                        }
                    }
                }
            }
        }
        .box_2_2{
            .article{
                padding-left: 0px;
                .article_1{
                    margin-top: 60px;
                    margin-left:0;
                    h3{
                     

                        &:before{
                            left: 0%;
                            // transform: translate(-50% , -50%);
                            top: -20px;
                        }
                    }
                   
                    
                    
                    
                }
                .article_2{
                    margin-top: 80px;
                    margin-left:0;
                    h3{
                       
                        &:before{
                            left: 0%;
                            // transform: translate(-50% , -50%);
                            top: -20px;
                        }
                    }
                }
            }
        }
        .box_3{
            .title_{
                // margin-bottom: 50px;
                .left{
                    img{
                        width: 50px;
                    }
                }
                .right{
                    
                    p.mobile{
                        line-height: 25px;
                        letter-spacing: 0.05em;
                        white-space:nowrap;
                        &:after{
                            height: 18px;
                            bottom: -6px;
                        }
                    }
                }
            }
            .article{
                margin-top: 10px;
            }
        }
        .box_5{
            .bot{
                padding-top: 200px;
            }
        }
        .box_6{
            .bot{
                padding-top: 200px;
                background-size: 150%;
                background-position: top 0px left 0px;
            }
        }
        .box_7{
            .bot{
                img.pc{
                    display: none;
                }
                img.mobile{
                    display: block;
                }
            }
        }
        .box_8{
            .article{
                .article_1{
                    margin-top: 60px;
                    margin-left:0;
                    .left{
                        h3{
                            &:before{
                                left: 0%;
                                top: -20px;
                            }
                        }
                    }
                }
                .article_2{
                    margin-top: 80px;
                    margin-left:0;
                    h3{
                        &:before{
                            left: 0%;
                            top: -20px;
                        }
                    }
                }
            }
        }
        .box_9{
            .article{
                .article_1{
                    margin-top: 60px;
                    margin-left:0;
                    h3{
                        &:before{
                            left: 0%;
                            top: -20px;
                        }
                    }
                }
                .article_2{
                    margin-top: 80px;
                    margin-left:0;
                    h3{
                        &:before{
                            left: 0%;
                            top: -20px;
                        }
                    }
                }
            }
        }
    }
    
}
@media(max-width:400px){
    
    .wrapper{
        .box_1{
            .bot{
                margin-top: 50px;
                .dialog_2{
                    padding: 5px 10px;
                    &:before{
                        left: -48px;
                        background-size: 40px;
                    }
                    >p{
                        line-height: 23px;
                    }


                }
            }
        }
       
        
        .box_3{
            
            .bot{
                .bot_L_img{
                    img{
                        max-width: 140px;
                    }
                }
               
            }
        }
        .box_5{
            .bot{
                padding-top: 180px;
            }
        }
        .box_6{
            .bot{
                padding-top: 180px;
            }
        }
    }
}
