@media(max-width:1200px){
    .wrapper{
        .box_1{
            .title_{
                .left{
                    img{
                        margin-right: 20px;
                    }
                }
            }
            .dialog_box{
                span{
                    font-size: 18px;
                }
                img.angle{
                    width: 325px;
                }
            }
            .article{
                .article_1{
                    p{
                        font-size: 16px;
                    }
                }
                .article_2{
                    p{
                        font-size: 16px;
                    }
                }
            }
            .right_group{
                .group_box{
                    .dialog_box_2{
                        top: 30%;
                        left: -220%;
                        span{
                            font-size: 18px;
                        }
                        img.angle{
                            width: 325px;
                        }
                    }
                }
            }
        }
        .box_2{
            .title_{
                .left{
                    img{
                        margin-right: 5px;
                    }
                }
                .right{
                    p.pc{
                        display: none;
                    }
                    p.mobile{
                        white-space:nowrap;
                        display: block;
                        font-weight: bold;
                        font-size: 50px;
                        line-height: 50px;
                        letter-spacing: 0.22em;
                        color: #043A80;
                        position: relative;
                        z-index: 2;
                        display: inline-block;

                        &:after{
                            z-index: -1;
                            content: '';
                            display: block;
                            position: absolute;
                            bottom: -10px;
                            width: 100%;
                            height: 30px;
                            background: #9BB6DE;
                        }
                    }
                }
            }
            .article{
                .article_1{
                    h3{
                        font-size: 22px;
                    }
                    p{
                        font-size: 16px;
                    }
                }
                .article_2{
                    h3{
                        font-size: 22px;
                    }
                    p{
                        font-size: 16px;
                    }
                }
            }
        }
        .box_2_2{
           
            .article{
                .article_1{
                    h3{
                        font-size: 22px;
                    }
                    p{
                        font-size: 16px;
                    }
                }
                .article_2{
                    h3{
                        font-size: 22px;
                    }
                    p{
                        font-size: 16px;
                    }
                }
            }
        }
        .box_3{
            .title_{
                .left{
                    img{
                        margin-right: 5px;
                    }
                }
                .right{
                    p.pc{
                        display: none;
                    }
                    p.mobile{
                        white-space:nowrap;
                        display: block;
                        font-weight: bold;
                        font-size: 50px;
                        line-height: 50px;
                        letter-spacing: 0.22em;
                        color: #854920;
                        position: relative;
                        z-index: 2;
                        display: inline-block;

                        &:after{
                            z-index: -1;
                            content: '';
                            display: block;
                            position: absolute;
                            bottom: -10px;
                            width: 100%;
                            height: 30px;
                            background: #E4CFC4;
                        }
                    }
                }
            }
            .article{
                margin-top: 50px;
                p{
                    font-size: 16px;
                }
            }
            .bot{
                .bot_L_img{
                    img{
                        max-width: 200px; 
                    }
                }
                .bot_R_img{
                    img{
                        max-width: 120px;
                    }
                }
                .bot_dialog{
                    .bot_R_dialog{
                        margin-top: 50px;
                    }
                }
            }
        }
       
    }
}
@media(max-width: 1167px){
    .wrapper{
        .box_1{
            margin-top: 60px;
        }
    }
}
@media(max-width:996px){
    .wrapper {
        .box_1 {
            .article{
                padding-left: 50px;

                // .article_1{
                //     p:before{
                //         display: none;
                //     }
                // }
            }
            .dialog_box{
                display: none;
            }
            .right_group{
                justify-content: flex-end;
                .group_box{
                    margin-top: -50px;
                    max-width: 80px;
                }
            }
        }
        .box_2{
            .article{
                padding-left: 0;
            }
        }
        .box_2_2{
            .article{
                padding-left: 0;
            }
        }
        .box_3{
            .article{
                padding-left: 0;
            }
            .bot{
                .bot_dialog{
                    .bot_L_dialog{
                        p{
                            font-size: 20px;
                        }
                    }
                    .bot_R_dialog{
                        p{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        
    }
}
@media(max-width:768px){
    .wrapper{
       
        .box_1{
            .title_{
                .right{
                    p{
                        font-size: 40px;
                        letter-spacing: 0.08em;
                    }
                }
            }
            .bot{
                .bot_L{
                    img.pc{
                        width: 100%;
                        display: block;
                        
                    }
                    img.mobile{
                        display: none;
                        width: 100%;
                        margin-bottom: -50px;
                        z-index: 2;
                    }
                }

                .dialog_2{
                    padding: 15px 20px;
                    p{
                        font-size: 15px;
                    }
                }
            }
        }
        .box_2{
            .title_{
                .right{
                    p.mobile{
                        font-size: 40px;
                        letter-spacing: 0.08em;
                    }
                }
            }
        }
        .box_3{
            padding-top: 70px;
            .title_{
                .right{
                    p.mobile{
                        font-size: 40px;
                        letter-spacing: 0.08em;
                    }
                }
            }
            .bot{
                display: none;
            }
            .bot_mobile{
                display: block;
                margin-top: 50px;

                .bot_top_L_img{
                    img{
                        width: 100%;
                    }
                }
                .bot_top_R_dialog{
                    display: inline-block;
                    z-index: 3;
                    background-color: #fff;
                    border-radius: 20px;
                    border: 1px solid #bb8080;
                    padding: 15px 5px;

                    &:before{
                        content: "";
                        position: absolute;
                        top: 16px;
                        left: -38px;
                        background-image: url(../images/software_3/software-29-3.png);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 40px;
                        height: 40px;
                        width: 40px;
                    }

                    p{
                        margin-top: 0;
                        text-align: justify;
                        font-size: 15px;
                        line-height: 20px;
                        letter-spacing: 0.02em;
                        color: #80654A;
                        margin-bottom: 0;
                    }
                }
                .bot_bot_L_dialog{
                    margin-top: 50px;
                    display: inline-block;
                    z-index: 3;
                    background-color: #fff;
                    border-radius: 20px;
                    border: 1px solid #bb8080;
                    padding: 15px 5px;

                    &:before{
                        content: "";
                        position: absolute;
                        top: 8px;
                        right: -38px;
                        background-image: url(../images/software_3/software-29-01.png);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 40px;
                        height: 40px;
                        width: 40px;
                    }

                    p{
                        margin-top: 0;
                        text-align: justify;
                        font-size: 15px;
                        line-height: 20px;
                        letter-spacing: 0.02em;
                        color: #80654A;
                        margin-bottom: 0;
                    }
                }
                .bot_bot_R_img{
                    img{
                        width: 100%;
                    }
                }
            }

        }
       

        
    }
}
@media(max-width:500px){
    .wrapper{
        .box_1{
            .title_{
                .left{
                    img{
                        width: 50px;
                    }
                }
                .right{
                    p{
                        line-height: 25px;
                        font-size: 26px;
                        letter-spacing: 0.05em;
                        white-space:nowrap;
                        &:after{
                            height: 18px;
                            bottom: -6px;
                        }
                    }
                }
                
            }
            .article{
            padding-left:   0px;

                .article_1{
                    margin-top: 60px;
                    p{
                        margin-left:0;
                        // text-align: center;

                        

                        &:before{
                            left: 0%;
                            top: -40px;
                            // transform: translate(-50% , 0%);
                        }
                    }
                }
                .article_2{
                    margin-top: 80px;
                    p{
                        margin-left:0;
                        // text-align: center;
                        

                        &:before{
                            left: 0%;
                            top: -40px;
                            // transform: translate(-50% , 0%);

                        }
                    }
                }
            }
            .right_group {
                .group_box {
                    .dialog_box_2 {
                        left: -190%;
                        >span{
                            font-size: 16px;
                        }
                        img.angle{
                            width: 284px;
                        }
                    }
                }
            }
        }
        .box_2{
            .title_{
                margin-bottom: 50px;
                .left{
                    img{
                        width: 50px;
                    }
                }
                .right{
                    
                    p.mobile{
                        line-height: 25px;
                        font-size: 26px;
                        letter-spacing: 0.05em;
                        white-space:nowrap;
                        &:after{
                            height: 18px;
                            bottom: -6px;
                        }
                    }
                }
            }
            .article{
                padding-left: 0px;
                .article_1{
                    margin-top: 60px;
                    margin-left:0;
                    h3{
                        font-size: 20px;
                        // text-align: center;

                        &:before{
                            left: 0%;
                            // transform: translate(-50% , -50%);
                            top: -20px;
                        }
                    }
                   
                    
                    
                    
                }
                .article_2{
                    margin-top: 80px;
                    margin-left:0;
                    h3{
                        font-size: 20px;
                        // text-align: center;

                        &:before{
                            left: 0%;
                            // transform: translate(-50% , -50%);
                            top: -20px;
                        }
                    }
                }
            }
        }
        .box_2_2{
            .article{
                padding-left: 0px;
                .article_1{
                    margin-top: 60px;
                    margin-left:0;
                    h3{
                        font-size: 20px;
                        // text-align: center;

                        &:before{
                            left: 0%;
                            // transform: translate(-50% , -50%);
                            top: -20px;
                        }
                    }
                   
                    
                    
                    
                }
                .article_2{
                    margin-top: 80px;
                    margin-left:0;
                    h3{
                        font-size: 20px;
                        // text-align: center;

                        &:before{
                            left: 0%;
                            // transform: translate(-50% , -50%);
                            top: -20px;
                        }
                    }
                }
            }
        }
        .box_3{
            .title_{
                // margin-bottom: 50px;
                .left{
                    img{
                        width: 50px;
                    }
                }
                .right{
                    
                    p.mobile{
                        line-height: 25px;
                        font-size: 26px;
                        letter-spacing: 0.05em;
                        white-space:nowrap;
                        &:after{
                            height: 18px;
                            bottom: -6px;
                        }
                    }
                }
            }
            .article{
                margin-top: 10px;
            }
        }
    }
}
@media(max-width:400px){
    .wrapper{
        .box_1{
            .bot{
                margin-top: 50px;
                .dialog_2{
                    padding: 5px 10px;
                    &:before{
                        left: -48px;
                        background-size: 40px;
                    }
                    >p{
                        line-height: 23px;
                    }


                }
            }
        }
        .box_2{
            .article{
                .article_1{
                    p{
                        font-size: 15px;
                    }
                }
            }
        }
        .box_2_2{
            .article{
                .article_2{
                    p{
                        font-size: 15px;
                    }
                }
            }
        
        }
        .box_3{
            .article{
                p{
                    font-size: 15px;
                }
            }
            .bot{
                .bot_L_img{
                    img{
                        max-width: 140px;
                    }
                }
                .bot_L_dialog_mobile{
                    p{
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
