


// 文字
.p__{
    color: #484746;
    font-size: 18px;
    letter-spacing: 0.06em;
    @media(max-width:1200px){
        font-size: 17px;
    }
    @media(max-width:768px){
        font-size: 16px;
    }
}
.span__{
    white-space:nowrap;
    margin: 0 3px;
    font-size: 18px;
    letter-spacing: 0.05em;
    background-color: white;
    padding: 10px 15px;
    border-radius: 30px;
    color: #484746;
    line-height: 60px;
    font-weight: bold;
    @media(max-width:1200px){
        font-size: 16px;
    }
    @media(max-width:768px){
        font-size: 15px!important;
    }
}

.dialog__{
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 0.05em;
    @media(max-width:1200px){
        font-size: 20px;
        
    }
    @media(max-width:768px){
        font-size: 16px!important;
        line-height: 25px;
        

    }
}
.big_title__{
    font-size: 50px;
    @media(max-width:768px){
        font-size: 40px;
    }
    @media(max-width:500px){
        font-size: 26px;
    }
}
.title__{
    font-size: 38px;
    letter-spacing: 0.15em;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    
    @media(max-width:1200px){
        font-size: 35px;
        line-height: 50px;
        letter-spacing: 0.05em;
        padding-left: 10px;
        padding-right: 10px;
    }
    @media(max-width:500px){
        font-size: 25px;
        line-height: 40px;
        letter-spacing: 0.05em;
        padding-left: 5px;
        padding-right: 5px;
        span.ensp{
            display: none;
        }

    }

}
.subtitle__{
    font-weight: bold;
    font-size: 20px;
    line-height: 35px;
    @media(max-width:1200px){
        font-size: 18px;
    }
    @media(max-width:500px){
        font-size: 16px;
    }
}
// 標題旁的數字圖
.left_img{
    max-width: 100px;
    margin-right: 20px;

    @media(max-width:1200px){
        margin-right: 20px;
        max-width: 80px;
    }
    @media(max-width:500px){
        max-width: 55px;
        margin-right: 10px;

    }
}

.padding_L{
    padding-left: 7rem;
    @media(max-width:768px){
        padding-left: 0;
    }
}
//////////////////



@media(max-width:1200px){
    
    .wrapper{
        .box_1{
            .title_{
                .left{
                    img{
                        margin-right: 20px;
                    }
                }
            }
            .dialog_box{
                
                img.angle{
                    width: 325px;
                }
            }
            
            .right_group{
                .group_box{
                    .dialog_box_2{
                        top: 30%;
                        left: -220%;
                        
                        img.angle{
                            width: 325px;
                        }
                    }
                }
            }
        }
        .box_2{
            .title_{
                .left{
                    img{
                        margin-right: 5px;
                    }
                }
                .right{
                    .pc{
                        display: none;
                    }
                    .mobile{
                        display: inline;   
                    }
                }
            }
            
        }
        .box_3_{
            .title_{
                .left{
                    img{
                        margin-right: 5px;
                    }
                }
                .right{
                    .pc{
                        display: none;
                    }
                    .mobile{
                        display: inline;
                        
                        

                        
                    }
                }
            }
            
        }
        .box_4_{
            .title_{
                .left{
                    img{
                        margin-right: 5px;
                    }
                }
                .right{
                    .pc{
                        display: none;
                    }
                    .mobile{
                        display: inline;
                        
                        

                        
                    }
                }
            }
            
        }
        .box_5_{
            .title_{
                .left{
                    img{
                        margin-right: 5px;
                    }
                }
                .right{
                    .pc{
                        display: none;
                    }
                    .mobile{
                        display: inline;
                        
                        

                        
                    }
                }
            }
            
        }
        .box_6_{
            .title_{
                .left{
                    img{
                        margin-right: 5px;
                    }
                }
                .right{
                    .pc{
                        display: none;
                    }
                    .mobile{
                        display: inline;
                        
                        

                        
                    }
                }
            }
            
        }
    }
}
@media(max-width: 1167px){
    .wrapper{
        .box_1{
            margin-top: 60px;
        }
    }
}
@media(max-width:996px){
    .wrapper {
        .box_1 {
           .bot{
               .bot_L{
                   img{
                       margin-left: -20px;
                        margin-bottom: -30px;

                   }
               }
           }
        }
        .box_2{
            padding-top: 100px;
            padding-bottom: 50px;
            .article{
                padding-left: 0;
            }
        }
        .box_3_{
            padding-top: 100px;
            padding-bottom: 50px;
            .article{
                padding-left: 0;
            }
        } 
        .box_7_{
            .content_3{
                .people{
                    img{
                        display: none;
                    }
                }
            }
            .content_4{
                margin-top: 0;
            }
        }       
    }
}
@media(max-width:768px){
    

    .wrapper{
       
        .box_1{
            padding-top: 50px;
            background-size: cover;
            background-position: center;
            .title_{
                .right{
                    p{
                        
                        letter-spacing: 0.08em;
                    }
                }
            }
            .bot{
                .bot_L{
                    img.pc{
                        width: 100%;
                        display: block;
                        
                    }
                    img.mobile{
                        display: none;
                        width: 100%;
                        margin-bottom: -50px;
                        z-index: 2;
                    }
                }

                .dialog_2{
                    padding: 15px 20px;
                    &:before{
                        top: 10px;
                        right: -52px;
                        background-size: 45px;
                    }
                    
                }
            }
        }
        .box_2{
            padding-top: 50px;

            img.circle{
                display: none;
            }
            .title_{
                .right{
                    p.mobile{
                        
                        letter-spacing: 0.08em;
                    }
                }
            }
            .box_2_photo{
                .box_2_photo_3{
                    display: none;
                }
            }
        }
        .box_3_{
            padding-top: 50px;

            
            
            .box_3_photo{
                img.pc{
                    display: none;
                }
                img.mobile{
                    display: block;
                }
            }

        }
        .box_4_{
            padding-top: 50px;

            .item{
                // 電腦版的AB
                img.pc_number{
                    display: none;
                }
                .article{
                    margin-left: 0;
                    .subtitle__{
                        img.mobile_number{
                            display: block;
                        }
                    }
                }

            }
        }
        .box_5_{
            padding-top: 50px;

            .item{
                img.pc_number{
                    display: none;
                }
                .article{
                    margin-left: 0;
                    .subtitle__{
                        img.mobile_number{
                            display: block;
                        }
                    }
                }
            }
        }
        .box_6_{
            padding-top: 50px;

            .content_2{
                .dialog_2{
                    padding: 15px 20px;

                    &:before{
                        top: 59px;
                        background-size: 40px;
                        left: -50px;
                    }
                    
                }
            }
            .content_3{
                .item{
                    img.pc_number{
                        display: none;
                    }
                    .article{
                        margin-left: 0;
                        .subtitle__{
                            img.mobile_number{
                                display: block;
                            }
                        }
                    }
                }
            }
        }
        .box_7_{
            padding-top: 50px;

        }
        .box_8_{
            padding-top: 50px;

            .content_2{
                margin-top: 40px;
                .right{
                    margin-top: 40px;
                }
            }
        }
        .box_9_{
            padding-top: 50px;
        }
      
        
    }
}
@media(max-width:500px){
    
    .wrapper{
        .box_1{
            .title_{
                .left{
                    img{
                        width: 50px;
                    }
                }
                .right{
                    p{
                        line-height: 25px;
                        
                        letter-spacing: 0.05em;
                        white-space:nowrap;
                        &:after{
                            height: 18px;
                            bottom: -6px;
                        }
                    }
                }
                
            }
            .article{
            padding-left:   0px;

                .article_1{
                    margin-top: 60px;
                    p{
                        margin-left:0;
                        // text-align: center;

                        

                        &:before{
                            left: 0%;
                            top: -40px;
                            // transform: translate(-50% , 0%);
                        }
                    }
                }
                .article_2{
                    margin-top: 80px;
                    p{
                        margin-left:0;
                        // text-align: center;
                        

                        &:before{
                            left: 0%;
                            top: -40px;
                            // transform: translate(-50% , 0%);

                        }
                    }
                }
            }
            .right_group {
                .group_box {
                    .dialog_box_2 {
                        left: -190%;
                        
                        img.angle{
                            width: 284px;
                        }
                    }
                }
            }
        }
        .box_2{
            .title_{
                margin-bottom: 50px;
                .left{
                    img{
                        width: 50px;
                    }
                }
                .right{
                    
                    p.mobile{
                        line-height: 25px;
                        letter-spacing: 0.05em;
                        white-space:nowrap;
                        &:after{
                            height: 18px;
                            bottom: -6px;
                        }
                    }
                }
            }
            .article{
                padding-left: 0px;
                .article_1{
                    margin-top: 60px;
                    margin-left:0;
                    h3{
                        

                        &:before{
                            left: 0%;
                            // transform: translate(-50% , -50%);
                            top: -20px;
                        }
                    }
                   
                    
                    
                    
                }
                .article_2{
                    margin-top: 80px;
                    margin-left:0;
                    h3{
                        
                        &:before{
                            left: 0%;
                            // transform: translate(-50% , -50%);
                            top: -20px;
                        }
                    }
                }
            }
        }
        .box_3_{
            .title_{
                margin-bottom: 50px;
                .left{
                    img{
                        width: 50px;
                    }
                }
                .right{
                    
                    p.mobile{
                        line-height: 25px;
                        letter-spacing: 0.05em;
                        white-space:nowrap;
                        &:after{
                            height: 18px;
                            bottom: -6px;
                        }
                    }
                }
            }
            .article{
                padding-left: 0px;
                .article_1{
                    margin-top: 60px;
                    margin-left:0;
                    h3{
                        

                        &:before{
                            left: 0%;
                            // transform: translate(-50% , -50%);
                            top: -20px;
                        }
                    }
                   
                    
                    
                    
                }
                .article_2{
                    margin-top: 80px;
                    margin-left:0;
                    h3{
                        
                        &:before{
                            left: 0%;
                            // transform: translate(-50% , -50%);
                            top: -20px;
                        }
                    }
                }
            }
        }
       
    }
    
}
@media(max-width:400px){
    
    .wrapper{
        .box_1{
            .bot{
                margin-top: 50px;
                .dialog_2{
                    padding: 5px 10px;
                    &:before{
                        top: 0;
                        right: -48px;
                        background-size: 40px;
                    }
                    


                }
            }
        }
        .box_6_{
            .content_2{
                .dialog_2{
                    padding: 5px 10px;
                    &:before{
                        top: 59px;
                        background-size: 40px;
                        left: -50px;
                    }
                    
                }
            }
        }
    }
}

