@charset "UTF-8";
main#main {
  padding-top: 90px;
}

main#main .banner {
  padding-right: 130px;
  padding-left: 130px;
  position: relative;
}

main#main .banner .banner_1 {
  width: 100%;
  display: block;
}

main#main .banner .banner_1_mobile {
  width: 100%;
  display: none;
}

main#main .banner_list {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  margin-left: 20%;
  margin-top: 100px;
  margin-bottom: 100px;
}

main#main .banner_list p {
  font-size: 24px;
  letter-spacing: 6px;
  padding: 15px 15px;
  margin: 0;
}

main#main .banner_list p:nth-of-type(4) {
  border-bottom: #8EAB5D solid 10px;
}

main#main .box_1 {
  padding-top: 150px;
}

main#main .box_1 p {
  font-size: 18px;
  letter-spacing: 6px;
  font-family: 微軟正黑體;
  text-align: justify;
}

main#main .box_2 .title_ {
  padding-top: 160px;
  padding-bottom: 80px;
  position: relative;
}

main#main .box_2 .title_ p {
  margin-left: 25%;
  font-size: 36px;
  position: relative;
  letter-spacing: 10px;
  color: #5C4D50;
}

main#main .box_2 .title_ p::after {
  content: '';
  display: block;
  background-color: black;
  position: absolute;
  left: -20px;
  top: 50%;
  width: 500px;
  height: 1px;
  -webkit-transform: translate(-100%, -50%);
      -ms-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

main#main .box_2 .title_ p span {
  font-size: 24px;
  letter-spacing: 2px;
}

main#main .box_2 .title_ .side {
  position: absolute;
  top: 0;
  right: 5%;
}

main#main .box_2 .title_ .box {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 65px;
  height: 65px;
  background-color: #8eab5d;
}
