

@media(max-width:1200px){
    footer#footer{
        .footer_bot{
            .copyright{
                padding: 20px 20px 20px 20px;
            }

            .rwd_map{
                height: 300px;
                width: 100%;
                
            }
        }
        
    }
}
@media(max-width:992px){
    nav#nav{
        .nav_countainer{
            .nav_links{
                width: 100%;
                position: absolute;
                flex-direction: column;
                top: 80px;
                right: -100%;
                background-color: rgba(255, 255, 255, 0.95);
                border-radius: 10px;
                box-shadow: 2px 2px 2px #ddd;
                transition: 0.5s ease-in-out;
                li{
                    padding: 20px 0;
                }
                .part{
                    display: none;
                }

                &.nav_active{
                    top: 80px;
                    right: 5px;
                }
            }
            .burger{
                display: block;
            }
        }
    }
    footer#footer{
        .footer_top{
            .opening{
                // padding-top: 20px;
                display: none;
            }
        }
        
    }

    

    main#pagi_main{

        section#pagi_banner{
            .content{
                .banner_cube{
                    width: 350px;
                    height: 80px;

                    &:before{
                        left: 52%;
                        height: 60px;
                    }
                    .cube_text{
                        h2{
                            font-size: 25px;
                        }
                        p{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        section#artificial-dental{
            .title{
                .implant{
                    width: 40px;
                }
                .text{
                    font-size: 20px;

                    &:before{
                        top: 50%;
                    }
                }
            }
        }
        section#all-ceramic{
            .content{
                .L{
                    display: none;
                }
                .R{
                    display: none;
                }
                .mobile{
                    width: 100%;
                    display: block;
                    animation: fadeIn 1s ease-in-out;
                }
            }
            .article{
                left: 50%;
                top: 50%;
                background-color: rgba(255, 255, 255, 0.9);
                transform: translate(-50%,-50%);

                img{
                    width: 30px;
                }
                .title{
                    font-size: 20px;
                    padding-bottom: 30px;

                    &:before{
                        top: 40px;
                    }
                }
            }
        }

        section#qa{
            .content{
                // height: 80vh;    
                position: relative;
                .photo{
                    padding: 30px;
                    display: flex;
                    flex-direction: column;
                    // height: 600px;
                    background-image: unset ;
                    background-color: unset;
                    img{
                        
                        width: 60%;
                        opacity: 0.5;
                        position: absolute;
                        display: none;
                    }
                    .photo_top,.photo_bot{
                        
                        display: block;
                        // color: white;
                        // padding: 0 20px;
                        h2{
                            font-size: 24px;
                        }
                        .text{
                            z-index: 2;
                            ul{
                                padding-left: 10px;
                                li{
                                    // color: black;
                                    font-size: 14px;
                                    list-style-type:decimal ;
                                    letter-spacing: 2px;
                                    margin: 10px 0;

                                    
                                }
                            }
                        }
                    }
                    

                }
                .article{
                    // height: 0px;
                    position: absolute;
                    top: 0;
                    display: none;
                    


                    >div{
                        width: 500px;
                    }
                }
            }
        }
    }





}

@media(max-width:820px){
    main#main{
        section#team{
            .team_title{
                margin: 75px 0 70px 0;
            }
            .content_{
               
                .doctor_row{
                    display: flex;
                    flex-direction: column;
    
                    .doctor{
                        background-color: rgba(255, 255, 255, 0.781);
                        padding: 5px 10px;
                        margin: 8px auto;
                        width: 330px;
                        height: auto;
                        
                        >div{
                            margin-right: auto;
    
                            
                            
                            .top{
                        
                                display: flex;
                                img{
                                    height: 60px;
                                    width: 50px;
                                    // display: none;
                              
                                }
                                span{
                                    margin-top: 30px ;
                                    margin-left: 10px;
                                    font-size: 20px ;
                                }
                            }
                            .bot{
                                .text{
                                    
                                    ul{
                                        padding: 0;
                                        margin: 0;

                                        
                                        li{
                                            
                                            font-size: 13px;
                                            letter-spacing: 2px;

                                        }
                                    }
                                 
                                    
                                }
                            }
                        }
    
                        &:hover{
                            transform: none;  
                            box-shadow: none; 
                            // background-color: transparent;
                        }
    
    
    
                    }
                }
            }
        }

    }
    

    main#pagi_main{
        section#artificial-dental{
            // .team_title{
            //     margin: 75px 0 70px 0;
            // }
            .content_{
                // height: 140vh;
                .doctor_row{
                    display: flex;
                    flex-direction: column;
    
                    .doctor{
                        background-color: transparent;
                        width: 350px;
                        margin: 5px auto;
                        
                        height: auto;
                        
                        >div{
                            background-color: rgba(255, 255, 255, 0.918);
                            position: relative;
                            // border-radius: 10px; 
                            padding: 10px;   

                            .top{
                        
                                display: flex;
                                img{
                                    height: 60px;
                                    width: 50px;
                                    // display: none;
                              
                                }
                                span{
                                    margin-top: 30px ;
                                    margin-left: 10px;
                                    font-size: 20px ;
                                }
                            }
                            .bot{
                                .text{
                                    
                                    ul{
                                        padding: 0;
                                        margin: 0;

                                        
                                        li{
                                            
                                            font-size: 13px;
                                            letter-spacing: 2px;

                                        }
                                    }
                                 
                                    
                                }
                            }
                    
    
                        }
                        &:hover{
                            transform: none;  
                            box-shadow: none; 
                            background-color: transparent;
                        }
                    }

                    .doctor_4{
                        margin: 5px auto 15px auto;
                        >div{
                            .bot{
                                .text{
                                    ul{
                                        li{
                                            margin: 0px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
        section#all-ceramic{
            .article{
                .article_in{
                    font-size: 14px;
                    letter-spacing: 2px;
                }
            }
        }

       

    
    
    }
}
@media(max-width:700px){
    main#main{
        section#team{
            .team_title{
                h2{
                    font-size: 20px;
                }
                
            }
        }
        section#setting{
            .setting_article{
                img{
                    width: 50px;
                    margin: 30px 0 30px 0;
                    
                }
                .setting_title{
                    font-size: 20px;
                }
                .text{
                    padding: 0 20px;
    
                    p{
                        letter-spacing: 0px;
                        font-size: 15px;
                    }
                }
            }
        }
        
    }
    

}
@media(max-width:600px){

    main#main{
        section#banner{
            .content_1{
                
                .banner{
                    display: none;
                }
                .banner_mobile{
                    width: 100%;
                    display: block;
                }
            }
            .content_2{
                .logo_float{
                    height: 150px;
                    top: 0%;
                }
                .cup_icon{
                    width: 50px;
                padding-top: 160px;
    
                }
    
                .content_2_text{
                    // padding-top: 70px;
                    // padding-bottom: 170px;
                    padding: 30px 30px 50px 30px;
                    p{
                        padding-bottom: 10px;
                        font-size: 16px;
                        text-align: unset;
                        font-weight: 800;
                    }
                }
            }
            .content_3{
                .opening{
                width: 80%;
                    
                    h2{
                        margin-top: 10px;
                        font-size: 18px;
                        font-weight: 0;
                    } 
                    .bl{
                        font-size: 18px;
                        margin: 0;
                    }
    
    
                    .table_opening{
                        // margin:0 auto;
                        font-size: 14px;
                    
                    td{
                        padding: 3px 5px;
                    }
                    }
                }
            }
           
        }

    }

    main#pagi_main{
        section#pagi_banner{
            .content{
                .pagi_banner{
                    display: none;
                }
                .pagi_banner_mobile{
                    display: block;
                }
                .banner_R{
                    display: none;
                }
                .banner_cube{
                    width: 200px;
                    height: 70px;
                    top: 6%;
                    left:8%;
                    // width: 100px;
                    // height: 150px;
                    

                    &:before{
                        transform: translate(-50%,-50%);
                        left: 55%;
                        height: 80%;
                        width: 1px;
                    }
                    .cube_text{
                        
                        h2{
                            font-size: 20px;

                        }
                        p{
                            margin-bottom: 0;
                        }
                    }
                }
            }

        }
    }
    


}
@media(max-width:576px){
    nav#nav{
        .nav_countainer{
            .logo{
                img:nth-child(1){
                    width: 40px;
                    height: auto;
                }
                img:nth-child(2){
                    width: 150px;
	                height: auto;
	                
                }
                
            }
        }
    }

    footer#footer{
        
            
            .footer_top{
                padding: 20px 0;
                .footer_title{
                    padding: 0 0 10px 0;
                    font-size: 18px;
                }
                .logo{
                    justify-content: left;
                    
                    margin-bottom: 20px;
        
                    >div{
                        display: flex;
                    }
        
                    .logo_btn{
                        img{
                            width: 30px;
                        }
                        
                    }
                    .inner{
                            
                        display: flex;
                        align-items: flex-end;
                        font-size: 16px;
                        color: #ffffff;
                            text-decoration: none;
                            list-style-type: none;
                        
        
                    }
        
                }
                .contact{
                    justify-content: left;
                    >div{
                        h2{
                            display: none;
                            text-align: left;
                            margin-bottom: 5px;
                        }
                    }
                }
                .opening{
                    justify-content: left;
                    margin-top: 20px;

                    >div{
                        h2{
                            display: none;
                            text-align: left;
                            margin-bottom: 5px;

                        }
                        .table_opening{
                            tr{
                                td{
                                    padding: 3px 10px;
                                }

                            }
                        }
                    }
                }
            }
    }


    
    main#main{
        section#setting{
            .setting_article{
                img{
                    width: 50px;
                    margin: 30px 0 30px 0;
                }
    
            }
        }

    }
    

    main#pagi_main{

        section#pagi_banner{
            .content{
                img.banner_logo{
                    top: 105%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
      
    }
}
@media(max-width:400px){
    nav#nav{
        .nav_countainer{
            .logo{
                width: 70%;
            }
        }
    }
    
    // main#pagi_main{
    //     section#qu{
    //         .content{

    //         }
    //     }
    // }
}
@media(max-width:370px){


    main#pagi_main{
        section#artificial-dental{
            .content_{
                .doctor_row{
                    // padding: 0 5px;
                    .doctor{
                        width: 95%;
                        // margin: 10px 10px;

                    }
                }
            }
        }
        section#all-ceramic{
            .article{
                
                width: 95%;
                padding: 15px 10px;
                
            } 
        }
    }

    
}
