.tag {
    padding: 15px;
    margin: 0 15px;
}

.banner {
    width: 100%;
    height: calc(100vh - 79px);
    background-image: url('http://pic.happytify.cc/uploads/20180823/3B/3B1BFAB92824w640h480.jpeg');
    background-size: cover;
    background-position: top;
}

.container {
    margin: 0 auto;
    width: 1140px;
}

.cards {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.card {
    border: 1px solid black;
}

.pic {
    width: 100%;
}

img {
    width: 100%;
}

.text {
    padding: 15px;
    text-align: justify;
}

.my-15 {
    margin: 0 15px;
}