@media (max-width: 768px) {
  nav#nav .phone_number {
    display: none !important;
  }
  nav#nav .menu {
    width: 90px;
    padding: 10px 15px;
  }
}

@media (max-width: 768px) {
  main#main {
    padding-top: 0px;
  }
  main#main .banner {
    padding-right: 0px;
    padding-left: 0px;
  }
  main#main .banner .banner_1 {
    display: none;
  }
  main#main .banner .banner_1_mobile {
    display: block;
  }
}
