main#main section#banner {
  position: relative;
}

main#main section#banner .content_1 {
  position: relative;
  overflow: hidden;
}

main#main section#banner .content_1 .banner {
  width: 100%;
  position: relative;
  margin-top: 70px;
}

main#main section#banner .content_1 .banner_article {
  position: absolute;
  bottom: 100px;
  right: 220px;
  display: block;
  z-index: 2;
  font-size: 40px;
}

main#main section#banner .content_1 .banner_article p {
  color: white;
  text-shadow: 3px 3px 4px black;
  font-weight: 500;
}

main#main section#banner .content_1 .banner_mobile {
  display: none;
  margin-top: 70px;
}

main#main section#banner .content_1 .banner_button_L {
  width: 105%;
  position: absolute;
  bottom: -1px;
  z-index: 1;
  left: -5px;
}

main#main section#banner .content_1 .banner_button_R {
  width: 30%;
  position: absolute;
  bottom: 0;
  right: -1%;
}

main#main section#banner .content_2 {
  width: 100%;
  position: relative;
}

main#main section#banner .content_2 .logo_float {
  position: absolute;
  left: 50%;
  top: -30%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 2;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  width: 200px;
}

main#main section#banner .content_2 .cup_icon {
  display: block;
  margin: 0 auto;
  padding-top: 150px;
}

main#main section#banner .content_2 .content_2_text {
  padding-top: 70px;
  padding-bottom: 170px;
}

main#main section#banner .content_2 .content_2_text p {
  font-size: 23px;
  text-align: center;
  font-weight: 550;
}

main#main section#banner .content_3 {
  position: relative;
}

main#main section#banner .content_3 .content_ {
  margin: 0;
  position: relative;
}

main#main section#banner .content_3 .content_ .row {
  margin: 0;
}

main#main section#banner .content_3 .content_ .row .col-lg-6 {
  padding: 0;
}

main#main section#banner .content_3 .content_ .row .col-lg-6 img {
  width: 100%;
}

main#main section#banner .content_3 .content_ .cloud_top {
  width: 100%;
  position: absolute;
  top: 0px;
  -webkit-animation: fadeInDown 1s ease-in-out;
          animation: fadeInDown 1s ease-in-out;
}

main#main section#banner .content_3 .content_ .cloud_top img {
  width: 100%;
}

main#main section#banner .content_3 .content_ .cloud_bot {
  width: 100%;
  position: absolute;
  bottom: 0px;
  -webkit-animation: fadeInUp 1s ease-in-out;
          animation: fadeInUp 1s ease-in-out;
}

main#main section#banner .content_3 .content_ .cloud_bot img {
  width: 100%;
}

main#main section#banner .content_3 .opening {
  position: absolute;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.9);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px 0;
}

main#main section#banner .content_3 .opening h2 {
  font-size: 18px;
  font-weight: 0;
}

main#main section#banner .content_3 .opening .bl {
  font-size: 30px;
}

main#main section#banner .content_3 .opening .table_opening {
  margin: 0 auto;
  font-size: 20px;
}

main#main section#banner .content_3 .opening .table_opening td {
  padding: 5px 12px;
}

main#main section#banner .shadow_ .shadow_L {
  position: absolute;
  width: 6%;
  left: 0;
  top: 45%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 1;
}

main#main section#banner .shadow_ .shadow_R {
  position: absolute;
  width: 6%;
  right: 0;
  top: 55%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 1;
}

main#main section#team .team_title {
  position: relative;
  margin: 75px 0  150px 0;
}

main#main section#team .team_title:before {
  content: '';
  display: block;
  width: 1px;
  height: 40px;
  background-color: #4d4d4d;
  position: absolute;
  left: 50%;
  top: 60px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

main#main section#team .team_title h2 {
  font-size: 40px;
  text-align: center;
}

main#main section#team .content_ {
  background-image: url(../img/team_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-bottom: 5%;
  position: relative;
}

main#main section#team .content_ .team_shadow {
  position: absolute;
  width: 100%;
  top: 0;
}

main#main section#team .content_ .team_shadow img {
  width: 100%;
}

main#main section#team .content_ .doctor_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main#main section#team .content_ .doctor_row .doctor {
  z-index: 1;
  width: 600px;
  height: 400px;
  background-color: white;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

main#main section#team .content_ .doctor_row .doctor > div {
  display: inline-block;
}

main#main section#team .content_ .doctor_row .doctor > div .top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

main#main section#team .content_ .doctor_row .doctor > div .top img {
  width: 80px;
  -webkit-transition: 5;
  -o-transition: 5;
  transition: 5;
}

main#main section#team .content_ .doctor_row .doctor > div .top img:nth-child(2) {
  display: none;
}

main#main section#team .content_ .doctor_row .doctor > div .top span {
  margin-top: 50px;
  margin-left: 10px;
  font-size: 36px;
}

main#main section#team .content_ .doctor_row .doctor > div .bot .text ul {
  margin-right: auto;
  margin-left: 15px;
}

main#main section#team .content_ .doctor_row .doctor > div .bot .text ul li {
  font-size: 20px;
  list-style-type: none;
}

main#main section#team .content_ .doctor_row .doctor:hover {
  -webkit-transform: translate(-1%, -1%);
      -ms-transform: translate(-1%, -1%);
          transform: translate(-1%, -1%);
  -webkit-box-shadow: 2px 2px 10px black;
          box-shadow: 2px 2px 10px black;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  border-radius: 10px;
}

main#main section#team .content_ .doctor_row .doctor:hover .top img:nth-child(1) {
  display: none;
}

main#main section#team .content_ .doctor_row .doctor:hover .top img:nth-child(2) {
  display: block;
}

main#main section#setting .setting_img {
  padding: 0;
}

main#main section#setting .setting_img img {
  width: 100%;
}

main#main section#setting .setting_img .setting_img_L {
  -webkit-animation: fadeIn 1.5s ease-in-out;
          animation: fadeIn 1.5s ease-in-out;
}

main#main section#setting .setting_img .setting_img_R {
  -webkit-animation: fadeIn 1.5s ease-in-out;
          animation: fadeIn 1.5s ease-in-out;
}

main#main section#setting .setting_article {
  text-align: center;
}

main#main section#setting .setting_article img {
  width: 85px;
  margin: 125px 0 50px 0;
}

main#main section#setting .setting_article .setting_title {
  display: block;
  font-size: 40px;
  position: relative;
}

main#main section#setting .setting_article .setting_title:before {
  content: '';
  display: block;
  width: 1px;
  height: 40px;
  background-color: #4d4d4d;
  position: absolute;
  left: 50%;
  top: 60px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

main#main section#setting .setting_article .text {
  margin-top: 100px;
  padding: 0 150px;
}

main#main section#setting .setting_article .text hr {
  margin: 0;
  color: black;
}

main#main section#setting .setting_article .text hr:first-child, main#main section#setting .setting_article .text :last-child {
  margin: 34px 0;
}

main#main section#setting .setting_article .text p {
  margin: 4px 0;
  font-size: 23px;
  letter-spacing: 3px;
}

main#pagi_main {
  padding-top: 70px;
}

main#pagi_main section#pagi_banner .content {
  position: relative;
}

main#pagi_main section#pagi_banner .content .pagi_banner {
  width: 100%;
}

main#pagi_main section#pagi_banner .content .pagi_banner_mobile {
  width: 100%;
  position: relative;
  display: none;
}

main#pagi_main section#pagi_banner .content .banner_R {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  -webkit-filter: blur(15px);
          filter: blur(15px);
}

main#pagi_main section#pagi_banner .content .banner_top_R {
  position: absolute;
  top: 0;
  right: 0;
  height: 15%;
}

main#pagi_main section#pagi_banner .content .banner_logo {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  top: 50%;
  right: 10%;
  -webkit-transform: translate(-10%, -50%);
      -ms-transform: translate(-10%, -50%);
          transform: translate(-10%, -50%);
  height: 30%;
  z-index: 2;
}

main#pagi_main section#pagi_banner .content .banner_cube {
  z-index: 3;
  width: 500px;
  height: 100px;
  background-color: white;
  -webkit-transform: skew(-15deg);
      -ms-transform: skew(-15deg);
          transform: skew(-15deg);
  position: absolute;
  bottom: -5%;
  right: 10%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 2px 2px 20px black;
          box-shadow: 2px 2px 20px black;
}

main#pagi_main section#pagi_banner .content .banner_cube:before {
  content: '';
  display: block;
  position: absolute;
  height: 80px;
  width: 1px;
  background-color: #4d4d4d;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-5%, -50%);
      -ms-transform: translate(-5%, -50%);
          transform: translate(-5%, -50%);
}

main#pagi_main section#pagi_banner .content .banner_cube .cube_text {
  -webkit-transform: skew(15deg);
      -ms-transform: skew(15deg);
          transform: skew(15deg);
  text-align: center;
  text-decoration: none;
  color: #595959;
}

main#pagi_main section#pagi_banner .content .banner_cube .cube_text h2 {
  font-size: 30px;
}

main#pagi_main section#pagi_banner .content .banner_cube .cube_text p {
  font-size: 14px;
}

main#pagi_main section#artificial-dental .title {
  width: 100%;
  position: relative;
  background-color: white;
}

main#pagi_main section#artificial-dental .title .implant {
  width: 50px;
  top: 160px;
  margin: 0 auto;
  display: block;
  padding-top: 160px;
}

main#pagi_main section#artificial-dental .title .text {
  font-size: 40px;
  text-align: center;
  position: relative;
  padding-bottom: 50px;
  z-index: 2;
}

main#pagi_main section#artificial-dental .title .text:before {
  content: '';
  display: block;
  width: 1px;
  height: 20px;
  background-color: #4d4d4d;
  position: absolute;
  left: 50%;
  top: 50px;
  z-index: 1;
}

main#pagi_main section#artificial-dental .content_ {
  background-image: url(../img/pagination/Artificial_dental_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position: left;
  width: 100%;
  position: relative;
}

main#pagi_main section#artificial-dental .content_ .team_shadow {
  position: absolute;
  width: 100%;
  top: -5%;
}

main#pagi_main section#artificial-dental .content_ .team_shadow img {
  width: 100%;
}

main#pagi_main section#artificial-dental .content_ .doctor_row {
  display: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main#pagi_main section#artificial-dental .content_ .doctor_row .doctor {
  z-index: 1;
  width: 480px;
  height: 450px;
  background-color: white;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main#pagi_main section#artificial-dental .content_ .doctor_row .doctor > div {
  width: 400px;
}

main#pagi_main section#artificial-dental .content_ .doctor_row .doctor > div .top {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

main#pagi_main section#artificial-dental .content_ .doctor_row .doctor > div .top img {
  width: 80px;
}

main#pagi_main section#artificial-dental .content_ .doctor_row .doctor > div .top img:nth-child(2) {
  display: none;
}

main#pagi_main section#artificial-dental .content_ .doctor_row .doctor > div .top span {
  margin-top: 50px;
  margin-left: 10px;
  font-size: 36px;
}

main#pagi_main section#artificial-dental .content_ .doctor_row .doctor > div .top:before {
  content: '';
  display: block;
  width: 70%;
  height: 1px;
  background-color: #4d4d4d;
  position: absolute;
  bottom: -10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main#pagi_main section#artificial-dental .content_ .doctor_row .doctor > div .bot .title {
  font-size: 26px;
}

main#pagi_main section#artificial-dental .content_ .doctor_row .doctor > div .bot .text {
  padding: 10px 0px;
}

main#pagi_main section#artificial-dental .content_ .doctor_row .doctor > div .bot .text ul li {
  font-size: 20px;
  -webkit-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  list-style-type: none;
}

main#pagi_main section#artificial-dental .content_ .doctor_row .doctor_3 li {
  list-style-type: decimal;
}

main#pagi_main section#artificial-dental .content_ .doctor_row .doctor:hover {
  -webkit-transform: translate(-1%, -1%);
      -ms-transform: translate(-1%, -1%);
          transform: translate(-1%, -1%);
  -webkit-box-shadow: 2px 2px 10px black;
          box-shadow: 2px 2px 10px black;
  background-color: #ffffffef;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  border-radius: 10px;
}

main#pagi_main section#artificial-dental .content_ .doctor_row .doctor:hover .top img:nth-child(1) {
  display: none;
}

main#pagi_main section#artificial-dental .content_ .doctor_row .doctor:hover .top img:nth-child(2) {
  display: block;
}

main#pagi_main section#all-ceramic {
  position: relative;
}

main#pagi_main section#all-ceramic .content {
  width: 100%;
  position: relative;
}

main#pagi_main section#all-ceramic .content .pc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

main#pagi_main section#all-ceramic .content .L {
  width: 37.5%;
  height: 100%;
}

main#pagi_main section#all-ceramic .content .R {
  width: 62.5%;
  height: 100%;
}

main#pagi_main section#all-ceramic .content .mobile {
  display: none;
}

main#pagi_main section#all-ceramic .content .cloud_top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

main#pagi_main section#all-ceramic .content .cloud_down {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

main#pagi_main section#all-ceramic .article {
  position: absolute;
  top: 50%;
  left: 37.5%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 420px;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  padding: 30px 15px;
  -webkit-box-shadow: 2px 2px 10px black;
          box-shadow: 2px 2px 10px black;
}

main#pagi_main section#all-ceramic .article img {
  width: 50px;
}

main#pagi_main section#all-ceramic .article .title {
  font-size: 40px;
  text-align: center;
  position: relative;
  padding-bottom: 50px;
}

main#pagi_main section#all-ceramic .article .title:before {
  content: '';
  display: block;
  width: 1px;
  height: 20px;
  background-color: #595959;
  position: absolute;
  left: 50%;
  top: 60px;
}

main#pagi_main section#all-ceramic .article .article_in {
  font-size: 20px;
  letter-spacing: 3px;
}

main#pagi_main section#qa .content {
  background-image: url(../img/pagination/qa_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

main#pagi_main section#qa .content .photo {
  width: 100%;
  height: 100%;
  background-color: black;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../img/pagination/qa_L.png);
  background-repeat: no-repeat;
  background-size: cover;
}

main#pagi_main section#qa .content .photo img {
  width: 60%;
  -webkit-animation: fadeIn 2s ease-in-out;
          animation: fadeIn 2s ease-in-out;
}

main#pagi_main section#qa .content .article {
  width: 100%;
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.795);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

main#pagi_main section#qa .content .article > div {
  width: 700px;
}

main#pagi_main section#qa .content .article > div h2 {
  text-align: left;
  font-size: 36px;
}

main#pagi_main section#qa .content .article > div .text ul li {
  margin-top: 15px;
  font-size: 20px;
  list-style-type: decimal;
  list-style-position: outside;
}

main#pagi_main section#qa .content .mobile_article {
  display: none;
}
