@media(max-width:1200px){
    nav#nav{
        height: 80px;
        justify-content: space-around;
        
        .nav_list_left{
            display: none;
        }
        .nav_list_right{
            display: none;
        }
        .logo{
            height: 100%;
            flex-direction: row;

            .logo_photo{
                width: 40px;
            }
            .logo_text{
                width:180px;
            }
            
        }
        .burger{
            display: block;
        }
        ul.mobile_nav_list{
            display: block;

            transition: 0.5s ease-in-out;
            width: 100%;
            padding: 10px;
            position: absolute;
            list-style-type: none;
            background-color: white;
            text-align: center;
            right: -100%;
            top: 80px;
            box-shadow: 10px 10px 20px -15px gray;
            li{
                margin: 10px 0;
                a{
                    text-decoration: none;
                        color: #4d4d4d;
                }
            }
            &.nav_active{
                right: 0;
            }
        }
    }
    main#main {
        #about_us {
            .content{
                padding-top: 120px;
            }
        }
    }
}


@media(max-width:992px){
    main#main{
        #banner_1{
            img:first-of-type{
                display: none;
            }
            img:last-of-type{
                display: none;
            }
            img{
                width: 33.33%;
            }
        }
        #about_us {
            .content {
                .article {
                    h2{
                        font-size: 40px;
                        margin-bottom: 30px;
                    }
                    p:nth-of-type(1){
                        display: none;
                    }
                }
                .about_us_right {
                    .bot{
                        bottom: -18px;
                    }
                }
            }
        }
        #doctor{
            margin-top: 0;
        }
    }
}

@media(max-width:768px){
    main#main {
        #about_us {
            .content {
                .article {
                    padding-bottom: 0px;
                    h2{
                        font-size: 29px;
                    }
                    p{
                        font-size: 16px;
                    }
                    
                    .br{
                        display: block;
                    }
                }
                .about_us_right{
                    .right{
                        width: 100%;
                    }
                    .bot{
                        display: none;
                        left: 50%;
                        bottom: -20%;
                        width: 100%;
                    }
                }
            }
        }

        #doctor{
            .article{
                p{
                    font-size: 16px;
                    letter-spacing: 0;
                }
            }
        }
    }
}

@media(max-width:576px){
    main#main{
        #about_us{
            .content{
                padding-top: 100px;
                .article{
                    margin-top: 30px;
                    h2{
                        display: none;
                    }
                    p{
                        font-size: 15px;
                        letter-spacing: 2px;
                    }
                    
                }
                .about_us_right{
                    text-align: right;
                //    display: flex;

                    .article_{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        position: absolute;
                        // display: block;
                        font-size: 36px;
                        color: #1e3356;
                        font-weight: bold;
                        text-align: justify;
                        // height: calc(100% - 95px);
                        height: 50%;
                        P{
                            margin: 0;
                            letter-spacing: 5px;
                            z-index: 2;
                        }
                    }
                    
                     .left{
                         position: absolute;
                         display: none;
                         width: 50%;
                         left: 0;
                         top: 5%;
                         z-index: 2;
                     }
                        
                    
                    .right{
                        width: 70%;
                    }
                    .bot{
                        display: block;
                        transform: translate(-50%,0);
                        width: 70%;
                        bottom: 0%;
                        left: 35%;
                    }
                    
                }
            }
        }
        #doctor{
            margin-top: -100px;
            .article{
                h2{
                    
                    margin-bottom: 30px;
                    margin-top: 30px;
                }
                p:nth-of-type(2){
                    font-size: 15px;
                    line-height: unset;
                    letter-spacing: 1px;
                }
            }
        }
        // #banner_1{
            
        // }
    }
}