@media (max-width: 768px) {
  nav#nav .logo {
    margin-left: 20px;
  }
  nav#nav .burger {
    margin-right: 20px;
  }
  main#main .banner {
    padding-bottom: 220px;
  }
  main#main .banner .text .text_bot_L p {
    text-align: center;
  }
  main#main .banner .text .text_bot_R {
    margin-top: 70px;
  }
  main#main .banner .text .text_bot_R img {
    width: 100%;
  }
  main#main .banner .img .right {
    right: -579px;
    top: 68px;
  }
  main#main .doctor .doctor_L:after {
    display: none;
  }
  main#main .doctor .doctor_L .doctor_L_border {
    width: 100%;
    margin-top: -200px;
    padding: 30px;
  }
  main#main .doctor .doctor_L .doctor_L_border img:nth-of-type(1) {
    display: none;
  }
  main#main .doctor .doctor_L .doctor_L_border img:nth-of-type(2) {
    display: block;
    width: 100%;
  }
  main#main .doctor .doctor_L .doctor_L_border .logo_column {
    width: 16px;
    top: 0px;
    left: -12px;
  }
  main#main .doctor .doctor_L .doctor_L_border p {
    font-size: 18px;
    padding: 10px 35px;
    bottom: 32px;
  }
  main#main .doctor .doctor_R {
    padding-top: 0;
  }
  main#main .doctor .doctor_R .angle {
    display: none;
  }
  main#main .doctor .doctor_R .article {
    padding-left: 15px;
  }
  main#main .doctor .doctor_R .article .line_2 {
    width: 80%;
  }
  main#main .box_1 .box_1_L .box_back {
    width: 30%;
    height: 140px;
    top: 100px;
  }
  main#main .box_1 .box_1_L img {
    padding-left: 30px;
  }
  main#main .box_1 .box_1_R p:nth-of-type(1) {
    padding-left: 0;
  }
  main#main .box_1 .box_1_R p:nth-of-type(2) {
    padding-left: 0;
  }
  main#main .box_1 .text p {
    font-size: 36px;
    text-align: unset;
  }
  main#main .box_1 .title p {
    text-align: center;
    font-size: 25px;
  }
  main#main .box_2 .title {
    margin: 80px 0;
  }
  main#main .box_2 .box_2_bot .box_2_img1 {
    display: none;
  }
  main#main .box_2 .box_2_bot .box_2_img1_mobile {
    width: 100%;
    display: block;
  }
  main#main .box_2 .box_2_bot .article_box {
    position: unset;
    width: 100%;
  }
  main#main .box_2 .box_2_bot .box_2_img2_:before {
    display: none;
  }
  main#main .box_2 .box_2_bot .box_2_img2_ .box_2_img2 {
    display: none;
  }
  main#main .box_2 .box_2_bot .box_2_img2_mobile {
    display: block;
    width: 90%;
    margin: 5%;
  }
}
