main#main .banner {
  position: relative;
  overflow: hidden;
  padding-bottom: 100px;
}

main#main .banner .text {
  padding-top: 100px;
  z-index: 3;
  position: relative;
}

main#main .banner .text p:nth-of-type(1) {
  font-family: Marck Script;
  font-size: 45px;
  line-height: 56px;
  letter-spacing: 0.05em;
  color: #EFB79B;
}

main#main .banner .text p:nth-of-type(2) {
  line-height: 50px;
  margin-bottom: 0;
  position: relative;
  margin-left: 20px;
  font-size: 20px;
  color: white;
}

main#main .banner .text p:nth-of-type(2) span {
  color: #EFB79B;
  margin: 0 10px 10px 10px;
}

main#main .banner .text p:nth-of-type(2) span:nth-of-type(1) {
  position: absolute;
  top: -10px;
  left: -43px;
  font-size: 28px;
  font-weight: 100;
}

main#main .banner .text p:nth-of-type(2) span:nth-of-type(2) {
  position: absolute;
  bottom: -17px;
  font-size: 28px;
  font-weight: 100;
}

main#main .banner .text .line {
  background-color: #DCAC91;
  width: 25px;
  height: 1px;
  margin-top: 68px;
}

main#main .banner .text .text_bot_L p {
  margin-top: 68px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: white;
  font-size: 16px;
}

main#main .banner .text .text_bot_R {
  margin-top: -50px;
}

main#main .banner .img .right {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
}

main#main .banner .img .glass {
  position: absolute;
  z-index: -2;
  top: 69px;
  left: 0;
  right: 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

main#main .banner .img .line {
  position: absolute;
  left: -650px;
  top: -50px;
  z-index: -3;
  z-index: -3;
}

main#main .doctor .doctor_L {
  background-color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px;
}

main#main .doctor .doctor_L .doctor_L_border {
  padding: 50px;
  background-color: #585E4F;
  position: relative;
}

main#main .doctor .doctor_L .doctor_L_border .logo_column {
  position: absolute;
  top: -20px;
  left: -60px;
}

main#main .doctor .doctor_L .doctor_L_border span {
  padding: 20px 45px;
  background-color: #EFB79B;
  font-size: 22px;
  color: white;
}

main#main .doctor .doctor_L .doctor_L_border p {
  background-color: #EFB79B;
  padding: 20px 45px;
  display: inline-block;
  font-size: 22px;
  color: white;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 80%);
      -ms-transform: translate(-50%, 80%);
          transform: translate(-50%, 80%);
}

main#main .doctor .doctor_L .doctor_L_border:after {
  content: '';
  display: block;
  position: absolute;
  width: 50px;
  height: 1px;
  top: 60px;
  left: 0px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #EFB79B;
}

main#main .doctor .doctor_R .article h3 {
  font-family: Marck Script;
  font-size: 45px;
}

main#main .doctor .doctor_R .article .line {
  width: 200px;
  height: 1px;
  background-color: #EFB79B;
}

main#main .doctor .doctor_R .article p {
  font-size: 16px;
}
