.p__ {
  font-size: 16px;
  letter-spacing: 0.1em;
}

@media (max-width: 992px) {
  .p__ {
    font-size: 16px;
  }
}

.big_p__ {
  font-size: 18px;
  letter-spacing: 0.1em;
}

@media (max-width: 992px) {
  .big_p__ {
    font-size: 18px;
  }
}

.big_title__ {
  font-size: 100px;
  letter-spacing: 0.1em;
  margin: 0 0 0 auto;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  line-height: 100px;
  color: #585959;
}

@media (max-width: 992px) {
  .big_title__ {
    font-size: 60px;
  }
}

@media (max-width: 576px) {
  .big_title__ {
    letter-spacing: 0em;
    font-size: 40px;
  }
}

.little_title__ {
  font-size: 20px;
  letter-spacing: 0.1em;
}

.little_title__2 {
  font-size: 30px;
  letter-spacing: 0.1em;
}

@media (max-width: 576px) {
  .little_title__2 {
    font-size: 20px;
  }
}

.little_title__3 {
  font-size: 25px;
  letter-spacing: 0.1em;
}

@media (max-width: 992px) {
  .little_title__3 {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .little_title__3 {
    font-size: 16px;
  }
}

.title__ {
  font-size: 40px;
  letter-spacing: 0.1em;
}

.title__2 {
  font-size: 60px;
  letter-spacing: 0.1em;
}

@media (max-width: 992px) {
  .title__2 {
    font-size: 40px;
  }
}

#section_1 {
  padding-top: 100px;
}

@media (max-width: 992px) {
  #section_1 {
    padding-top: 60px;
  }
}

#section_1 .pc_banner {
  display: block;
}

#section_1 .pc_banner img {
  width: 100%;
}

@media (max-width: 576px) {
  #section_1 .pc_banner {
    display: none;
  }
}

#section_1 .mobile_banner {
  display: none;
}

#section_1 .mobile_banner img {
  width: 100%;
}

@media (max-width: 576px) {
  #section_1 .mobile_banner {
    display: block;
  }
}

#section_2 {
  background: #E8EAED;
  padding: 170px 0 100px 0;
}

@media (max-width: 576px) {
  #section_2 {
    padding: 38px 0 38px 0;
  }
}

#section_2 .title p {
  font-size: 100px;
  letter-spacing: 0.1em;
  margin: 0 0 0 auto;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  line-height: 100px;
  color: #585959;
  margin: unset;
  -webkit-writing-mode: unset;
      -ms-writing-mode: unset;
          writing-mode: unset;
  text-align: center;
}

@media (max-width: 992px) {
  #section_2 .title p {
    font-size: 60px;
  }
}

@media (max-width: 576px) {
  #section_2 .title p {
    letter-spacing: 0em;
    font-size: 40px;
  }
}

#section_2 .items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

#section_2 .items .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 15px 0 15px;
}

#section_2 .items .item p {
  letter-spacing: 0.2em;
  font-size: 18px;
  letter-spacing: 0.1em;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  color: #55595A;
  margin: 0 15px 0 15px;
}

@media (max-width: 992px) {
  #section_2 .items .item p {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  #section_2 .items .item p {
    margin: 0 5px 0 5px;
  }
}

#section_2 .items .item p span {
  -webkit-writing-mode: lr;
      -ms-writing-mode: lr;
          writing-mode: lr;
}

#section_2 .items .item img {
  width: 35px;
  -o-object-fit: contain;
     object-fit: contain;
}

#section_3 {
  padding: 170px 0 120px 0;
}

@media (max-width: 576px) {
  #section_3 {
    padding: 38px 0 38px 0;
  }
}

#section_3 .left_title {
  position: relative;
}

@media (max-width: 576px) {
  #section_3 .left_title .big_title__ {
    -webkit-writing-mode: rl;
        -ms-writing-mode: rl;
            writing-mode: rl;
    text-align: center;
  }
}

#section_3 .left_title .little_title__2 {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  color: #585959;
  position: absolute;
  top: 20%;
  right: -90px;
}

@media (max-width: 992px) {
  #section_3 .left_title .little_title__2 {
    right: -50px;
  }
}

@media (max-width: 768px) {
  #section_3 .left_title .little_title__2 {
    right: -70px;
  }
}

@media (max-width: 576px) {
  #section_3 .left_title .little_title__2 {
    position: unset;
    -webkit-writing-mode: rl;
        -ms-writing-mode: rl;
            writing-mode: rl;
    display: block;
    text-align: center;
  }
}

#section_3 .right_content {
  margin-top: 150px;
}

@media (max-width: 576px) {
  #section_3 .right_content {
    margin-top: 35px;
  }
}

#section_3 .right_content .item {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 576px) {
  #section_3 .right_content .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#section_3 .right_content .item .left {
  padding: 0 10%;
  display: inline-block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  #section_3 .right_content .item .left {
    padding: 0 20px;
  }
}

@media (max-width: 576px) {
  #section_3 .right_content .item .left {
    display: block;
  }
}

#section_3 .right_content .item .left img {
  max-width: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 576px) {
  #section_3 .right_content .item .left img {
    margin-bottom: 35px;
  }
}

#section_3 .right_content .item .right {
  color: #585959;
  display: inline-block;
}

#section_3 .right_content .item .right .title {
  font-size: 20px;
  letter-spacing: 0.1em;
}

#section_3 .right_content .item .right .article {
  font-size: 16px;
  letter-spacing: 0.1em;
}

@media (max-width: 992px) {
  #section_3 .right_content .item .right .article {
    font-size: 16px;
  }
}
