@media(max-width:1700px){
    main#main{
        .about{
            .content_{
                background-image: url(../img/about_back_2.jpg);
                .article{
                    .content{
                        max-width: 650px;
                    }
                }
            }
        }
    }
}

@media(max-width:1600px){
    main#main{
        .about{
            .content_{
                
                .article{
                    max-width: 50%;
                }
            }
        }
    }
}

@media(max-width:1500px){
    main#main{
        .about{
            .content_{
                background-image: url(../img/about_back_2.jpg);
                .article{
                    max-width: 45%;
                }
                img.flower{
                    width: 60px;
                    left: calc( 38% - 470px);
                }
            }
        }
    }
}

@media(max-width:1300px){
    main#main{
        .about{
            .content_{
                background-size: cover;
                background-position: center;
                .article{
                    p{
                        margin-bottom: 0;
                    }
                }
                img.flower{
                    display: none;
                }
            }
        }
    }
}





@media(max-width:768px){
    main#main{
        padding-top: 0px;
        // banner
        .banner{
            padding-right: 0px;
            padding-left: 0px;
            .banner_1{
                display: none;
            }
            .banner_1_mobile{
                display: block;
            }
            .banner_1_icon{
                display: none;
            }
        }

        // 直式清單
        .banner_list{
            display: none;
        }

        // 關於本院
        .about{
            padding-right: 0px;
            .title_{
                text-align: center;


                p{
                    font-size: 22px;
                    margin-left: 0%;
                    display: inline-block;

                    span{
                        display: none;
                    }
                }
            }
            .content_{
                background-image: none;

                .article{
                    max-width: 100%;

                    .content{
                        h3{
                            display: none;
                        }
                        p{
                            font-size: 16px;
                            letter-spacing: 6px;
                            text-align: justify;
                        }

                    }
                }
            }
        }

        // 診療項目
        .items{
            .content_{
                .content_box{
                    p{
                        font-size: 18px;
                    }
                }
            }
        }
    }

    footer#footer{
        .footer_top{
            padding-top: 40px;
            padding-bottom: 40px;
            .footer_time{
                margin-top: 40px;
            }
            .contact_us{
                justify-content: start;
                margin-top: 40px;

            }
        }
    }
}