$pad_width:992px;
$mobile_width:576px;


@mixin p__ {
    font-size: 16px;
    letter-spacing: 0.1em;

    @media(max-width:992px){
        font-size: 16px;
    }
}
@mixin big_p__ {
    font-size: 18px;
    letter-spacing: 0.1em;

    @media(max-width:$pad_width){
        font-size: 18px;
    }
}
@mixin big_title__{
    font-size: 100px;
    letter-spacing: 0.1em;
    margin: 0 0 0 auto;
    writing-mode: vertical-rl;
    line-height: 100px;
    color: #585959;
    @media(max-width:$pad_width){
        font-size: 60px;
    }
    @media(max-width:$mobile_width){
        letter-spacing: 0em;
        font-size: 40px;
    }
}
@mixin little_title__{
    font-size: 20px;
    letter-spacing: 0.1em;
}
@mixin little_title__2{
    font-size: 30px;
    letter-spacing: 0.1em;
    @media(max-width:$mobile_width){
        font-size: 20px;
    }
}
@mixin little_title__3{
    font-size: 25px;
    letter-spacing: 0.1em;
    @media(max-width:$pad_width){
        font-size: 18px;
    }
    @media(max-width:768px){
        font-size: 16px;
    }
}
@mixin title__{
    font-size: 40px;
    letter-spacing: 0.1em;
}
@mixin title__2{
    font-size: 60px;
    letter-spacing: 0.1em;
    @media(max-width:$pad_width){
        font-size: 40px;
    }
}



.p__{
    @include p__ ;
}
.big_p__{
    @include big_p__ ;
}
.big_title__{
    @include big_title__;
}
.little_title__{
    @include little_title__;
}
.little_title__2{
    @include little_title__2;
}
.little_title__3{
    @include little_title__3;
}
.title__{
    @include title__;
}
.title__2{
    @include title__2;
}




#section_1{
    padding-top: 100px;

    @media (max-width:$pad_width){
        padding-top: 60px;
    }
    .pc_banner{
        display: block;
        img{
            width: 100%;
        }

        @media (max-width:$mobile_width){
            display: none;
        }
    }
    .mobile_banner{
        display: none;
        img{
            width: 100%;
        }

        @media (max-width:$mobile_width){
            display: block;
        }
    }
}

// 矯正が必要な理由
#section_2{
    background: #E8EAED;
    padding: 170px 0 100px 0;

    @media(max-width:$mobile_width){
        padding: 38px 0 38px 0;


    }
    // 標題
    .title{
        p{
          @include big_title__;   
          margin: unset;
          writing-mode:unset;
          text-align: center;
        }
    }

    .items{
        // display: flex;
        // justify-content: center;
        margin-top: 50px;
        text-align: center;
        transform: translateX(-15px);
        .item{
            // display: flex;
            // align-items: flex-start;
            margin: 0 25px 0 25px;
            display: inline-block;
            position: relative;
            vertical-align: top;
            
            p{
                letter-spacing: 0.2em;
                @include big_p__;
                writing-mode: vertical-rl;
                color:#55595A;
                margin: 0 15px 0 15px;
                text-align: left;
                

                @media(max-width:$mobile_width){
                    margin: 0 5px 0 5px;

                }
                
                
            }
            img{
                width: 35px;
                object-fit: contain;
                position: absolute;
                right: -30px;
                top: 0;
            }
        }
    }
}

// 矯正プロセス
#section_3{
    padding: 170px 0 120px 0;

    @media (max-width:$mobile_width) {
    padding: 38px 0 38px 0;
        
    }
    // 左邊的標題
    .left_title{
        position: relative;

        // 矯正プロセス
        .big_title__{
            @media (max-width:$mobile_width) {
                writing-mode:rl;
                text-align: center;
            }
        }

        // 矯正流程
        .little_title__2{
            writing-mode: vertical-rl;
            color: #585959;
            position: absolute;
            top: 20%;
            right: -90px;
            @media (max-width:$pad_width) {
                right: -50px;
            }
            @media (max-width:768px) {
                right: -70px;
            }
            @media (max-width:$mobile_width) {
                position: unset;
                writing-mode:rl;
                display: block;
                text-align: center;

            }
        }
    }

    // 右邊的內容
    .right_content{
        margin-top: 150px;
        @media (max-width:$mobile_width) {
            margin-top: 35px;

        }
        // 項目
        .item{
            margin-bottom: 60px;
            display: flex;
            @media (max-width:$mobile_width) {
                flex-direction: column;
            }
            // 左邊圖
            .left{
                padding: 0 10%;
                display: inline-block;
                display: flex;
                @media (max-width:768px) {
                    padding: 0 20px;
                }
                @media (max-width:$mobile_width) {
                    display: block;
                    
                    
                }
                img{
                    max-width: 80px;
                    object-fit: contain;
                    @media (max-width:$mobile_width) {
                        margin-bottom: 35px;
                    }
                }
            }
            // 右邊內容
            .right{
                color: #585959;
                display: inline-block;
                // 標題
                .title{
                    @include little_title__;
                }
                // 內文
                .article{
                    @include p__;
                }

            }
        }
    }
}

