@media(max-width:768px){
    nav#nav{
        .logo{
            margin-left: 20px;
        }
        .burger{
            margin-right: 20px;
        }
    }
    main#main{
        .banner{
            padding-bottom: 220px;
            .text{
                .text_bot_L{
                    p{
                        text-align: center;
                    }
                }
                .text_bot_R{
                    margin-top: 70px;
                    img{
                        width: 100%;
                    }
                }
            }

            .img{
                .right{
                    right: -579px;
                    top: 68px;
                    
                }
            }
        }
        .doctor{
            .doctor_L {
                

                &:after{
                    display: none;
                    // top: -84px;
                    // left: 62px;
                    // width: 30px;
                }
                .doctor_L_border{
                    width: 100%;
                    margin-top: -200px;
                    padding: 30px;
                    img:nth-of-type(1){
                        display: none;
                    }
                    img:nth-of-type(2){
                        display: block;
                        width: 100%;
                    
                    }

                    .logo_column{
                        width: 16px;
                        top: 0px;
                        left: -12px;
                    }
                    p{
                        font-size: 18px;
                        padding: 10px 35px;
                        bottom: 32px;
                        
                    }
                }
            }
            .doctor_R{
                padding-top: 0;
                .angle{
                    display: none;
                }
                .article{
                    padding-left: 15px;

                    .line_2{
                        width: 80%;
                    }
                }

            }
        }
    }
}