@media(max-width:1450px){
    main#main{
        .box_3{
            .box_3_bot {
                .article_1{
                    max-width: 580px;
                }
            }
        }
        .box_6{
            .article{
                img.box_6_img{
                    max-width: 600px;
                }
            }
            img.box_6_img2{
                top: calc(25% + 200px);
                left: 32%;
                max-width: 470px;
            }
        }
    }
}

@media(max-width:1400px){
    main#main{
        .box_2{
            margin-bottom: 200px;
            .box_2_bot{
                .article_box{
                    top:57%;
                    width: 400px;
                }
            }
        }
    }
}
@media(max-width:1200px){
    main#main{
        .box_3{
            .box_3_bot {
                .article_1{
                    max-width: 500px;
                }
            }
        }
        .box_6{
            img.box_6_img2{
                top: calc(86% + 200px);
                left: 50%;
                max-width: 470px;
                transform: translate(-50%, 0px);
            }
        }
    }
}
@media(max-width:992px){
    main#main{
        .box_3{
            .box_3_bot {
                .article_1{
                    max-width: 350px;
                }
            }
        }
    }
}

@media(max-width:768px){
    nav#nav{
        .logo{
            margin-left: 20px;
        }
        .burger{
            margin-right: 20px;
        }
    }
    main#main{
        .banner{
            padding-bottom: 220px;
            .text{
                .text_bot_L{
                    p{
                        text-align: center;
                    }
                }
                .text_bot_R{
                    margin-top: 70px;
                    img{
                        width: 100%;
                    }
                }
            }

            .img{
                .right{
                    right: -579px;
                    top: 68px;
                    
                }
            }
        }
        .doctor{
            .doctor_L {
                

                &:after{
                    display: none;
                    // top: -84px;
                    // left: 62px;
                    // width: 30px;
                }
                .doctor_L_border{
                    width: 100%;
                    margin-top: -200px;
                    padding: 30px;
                    img:nth-of-type(1){
                        display: none;
                    }
                    img:nth-of-type(2){
                        display: block;
                        width: 100%;
                    
                    }

                    .logo_column{
                        width: 16px;
                        top: 0px;
                        left: -12px;
                    }
                    p{
                        font-size: 18px;
                        padding: 10px 35px;
                        bottom: 32px;
                        
                    }
                }
            }
            .doctor_R{
                padding-top: 0;
                .angle{
                    display: none;
                }
                .article{
                    padding-left: 15px;

                    .line_2{
                        width: 80%;
                    }
                }

            }
        }
        .box_1{
            

            
            .box_1_L{
                .box_back{
                    width: 30%;
                    height: 140px;
                    top: 100px; 
                }
                img{
                    padding-left: 30px;
                }
                
            }
            .box_1_R{
                p:nth-of-type(1){
                    padding-left: 0;
                }
                p:nth-of-type(2){
                    padding-left: 0;
                }
            }

            .text{
                p{
                    font-size: 36px;
                    text-align: unset;
                }
            }

            .title{
                p{
                    text-align: center;
                    font-size: 25px;
                }
            }
            
        }

        // 隱形牙套矯正
        .box_2{
            .title{
                margin: 80px 0;
                position: unset;
            }
            .box_2_bot{
                .box_2_img1{
                    display: none;
                }
                .box_2_img1_mobile{
                    width: 100%;
                    display: block;
                }
                .article_box{
                    position: unset;
                    width: 100%;
                }
                .box_2_img2_{
                    &:before{
                        display: none;
                    }
                    .box_2_img2{
                        display: none;
                        
                    }
                }
                
                .box_2_img2_mobile{
                    display: block;
                    width: 90%;
                    margin: 5%;
                }
            }
        }

        .box_3{
            .box_3_bot{
                .article_1{
                    max-width:unset;
                }
                .box_3_img{
                    position: unset;
                    width: 100%;
                }
                .article_2{
                    padding: 80px 15px;
                }
            }
        }

        .box_4{
            margin-top: 100px;
            margin-bottom: 100px;
            .title{
                position: unset;
            }
            
            .content{
                position: relative;
                .box_4_img2_mobile{
                    display: block;
                    width: 40%;
                    position: absolute;
                    right: 0;
                    top: -50px;
                }
                .article{
                    margin-top: 50px;   
                    position: unset;
                    margin: 40px 10px;
                    padding: 30px 10px;
                }
                img.box_4_img2{
                    display: none;
                }
                .article_bot{
                    display: none;
                }
                .box_4_img{
                    width: 80%;
                }
            }
        }

        .box_5{
            margin-top: 100px;
            .color_box{
                display: none;
            }
            img.box_5_img{
                position: unset;
                width: 100%;
                max-width: unset;
                display: none;
            }

            .title{
                margin-bottom: 100px;
            }

            img.box_5_img_mobile{
                width: 100%;
                display: block;
            }
            .content{
                padding: 80px 15px;

                img.box_5_img2_mobile{
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 31%;
                    transform: translate(-10%, -50%);
                }
            }
            img.box_5_img2{
                display: none;
            }
        }

        .box_6{
            display: none;
        }
        .box_6_mobile{
            display: block;
            margin-top: 100px;
            margin-bottom: 100px;

            .title{
                
                
                display: flex;
                align-items: center;
                // margin-bottom: 180px;
                img{
                    margin-right: 10px;
                }
                span{
                    color: #EFB79B;
                    font-family:Marck Script ;
                    font-size: 45px;
                }
            }
        }
       
    }
}