$mobile_nav_width:900px;

#main{
    padding-top:70px;
    
    .banner{
        img{
            width: 100%;
            min-height: 30vh;
            object-fit: cover;
        }
    }

    .content_{
        margin-top: 100px;
        .img{
            margin: 15px 0;
            img{
                width: 100%;
            }
        }
    }

    .text{
        padding: 50px 0 300px 0;
        .title{
            font-weight: bold;
            color: #171514;
            font-size: 20px;
            letter-spacing: 0.105em;
        }
    }
    


    
  

    
}

footer#footer{
    position: unset;
    background-color: white;
    p{
        color:#171514;
        padding: 10px 0 10px 0;
        

    }
}