$mobile_nav_width:900px;



@mixin font {

    letter-spacing: 0.105em;
    font-size: 18px;
    color:#696363;

    @media(max-width:440px){
        font-size:16px;
    }
    
}

@mixin mobile_center{
    @media (max-width:440px) {
        text-align: center;
    }
}




#main{
    padding-top:  190px;
    
    .article{
        .title{
            @include mobile_center;
            font-size: 29px;
            letter-spacing: 0.105em;
        }
        .content{

            .p_{
                @include font ;
            }
            

           
        }
    }

    .team{
        margin-top:150px;
        margin-bottom: 200px;
        .title{
            font-size: 29px;
            letter-spacing: 0.105em;
            @include mobile_center;
        }

        .team_items{
            

            .item{
                display: flex;
                align-items: center;
                img{
                    width: 90px;
                }
                span{
                    @include font;
                    margin-left: 20px;
                }
                .line{
                    display: inline-block;
                    width: 2px;
                    height: 20px;
                    background-color: #696363;
                    opacity: 0.5;
                    margin: 0 30px;
                }
            }
        }
    }

    
    

    
}

footer#footer{
    position: unset;
    background-color: white;
    p{
        color:#171514;
        padding: 10px 0 10px 0;
        

    }
}