@media (max-width: 1300px) {
  main#main_home .banner .banner_bot .leaf_L {
    left: 100px;
    top: -30%;
    width: 250px;
  }
  main#main_home .banner .banner_bot .leaf_R {
    right: 50px;
    top: -30%;
    width: 200px;
  }
  main#main_home .project .line a:nth-child(1) > .btn {
    left: 28%;
  }
  main#main_home .project .line a:nth-child(2) > .btn {
    right: 28%;
  }
}

@media (max-width: 992px) {
  main#main_home .project .line a:nth-child(1) > .btn {
    left: 22%;
  }
  main#main_home .project .line a:nth-child(2) > .btn {
    right: 22%;
  }
}

@media (max-width: 768px) {
  main#main_home .doctor .doctor_back_top {
    width: 50px;
  }
  main#main_home .project .line a:nth-child(1) > .btn {
    left: 15%;
  }
  main#main_home .project .line a:nth-child(2) > .btn {
    right: 15%;
  }
}

@media (max-width: 992px) {
  nav#nav .menu {
    width: 100%;
    height: 80px;
    margin-top: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 50px;
    top: 0;
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
  }
  nav#nav .menu .nav_logo {
    width: 60px;
    margin-top: 0;
  }
  nav#nav .menu .burger {
    display: inline-block;
  }
  nav#nav .menu .nav_list {
    background-color: rgba(255, 255, 255, 0.644);
    width: 100%;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 10px 0 10px 20px;
    position: absolute;
    left: 0;
    top: 50px;
    display: none;
  }
  main#main_home .banner .banner_bot {
    padding: 50px 0;
  }
  main#main_home .banner .banner_bot p {
    font-size: 18px;
  }
  main#main_home .banner .banner_bot .leaf_L {
    left: 50px;
    top: -60%;
    width: 250px;
  }
  main#main_home .banner .banner_bot .leaf_R {
    right: 50px;
    top: -40%;
    width: 150px;
  }
  main#main_home .items .items_content .btn1_mobile {
    display: block;
    margin-bottom: 50px;
  }
  main#main_home .items .items_content .items_photo {
    text-align: center;
  }
  main#main_home .items .items_content .items_photo img {
    margin-bottom: 50px;
  }
  main#main_home .items .items_content .items_article .btn1 {
    display: none;
  }
  main#main_home .project .tooth {
    width: 400px;
  }
  footer#footer .logo {
    display: none;
  }
}

@media (max-width: 820px) {
  main#main_home .banner .banner_bot .leaf_L {
    left: 0px;
    top: -30%;
    width: 170px;
  }
  main#main_home .banner .banner_bot .leaf_R {
    right: 0px;
    top: -10%;
    width: 100px;
  }
}

@media (max-width: 820px) {
  main#main_home .banner .banner_bot .leaf_L {
    left: 0px;
    top: -10%;
    width: 150px;
  }
  main#main_home .banner .banner_bot .leaf_R {
    right: 0px;
    top: -30%;
    width: 100px;
  }
}

@media (max-width: 768px) {
  .bot_banner .bot_banner_R {
    display: none;
  }
}

@media (max-width: 576px) {
  main#main_home .banner .banner_bot {
    padding: 50px 0;
  }
  main#main_home .banner .banner_bot p {
    font-size: 18px;
  }
  main#main_home .banner .banner_bot .leaf_L {
    left: 50px;
    top: -60%;
    width: 250px;
  }
  main#main_home .banner .banner_bot .leaf_R {
    right: 50px;
    top: -40%;
    width: 150px;
  }
  main#main_home .items .items_content .items_leaf_L {
    display: none;
  }
  main#main_home .items .items_content .items_leaf_R {
    display: none;
  }
  main#main_home .items .items_content .items_photo {
    text-align: center;
  }
  main#main_home .items .items_content .items_photo img {
    margin-bottom: 50px;
    width: 100%;
  }
  main#main_home .items .items_content .items_article {
    padding: 0;
  }
  main#main_home .items .items_content .items_items {
    margin-top: 50px;
  }
  main#main_home .items .items_content .items_items .items_item {
    padding: 0;
  }
  main#main_home .items .items_content .items_items .items_item h2 {
    padding-left: 28px;
    font-size: 18px;
  }
  main#main_home .items .items_content .items_items .items_item .number {
    top: -10px;
    left: -10px;
    position: none;
  }
  main#main_home .project .tooth {
    width: 70%;
    -webkit-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
    top: -200px;
    right: 50%;
    display: none;
  }
  main#main_home .project .line {
    margin: 150px 0;
  }
  main#main_home .project .line a > .btn {
    width: 150px;
  }
  main#main_home .project .line a > .btn img {
    width: 100px;
  }
  main#main_home .project .line a > .btn .title {
    position: absolute;
    left: 48%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: 600;
  }
  main#main_home .project .line a > .btn .text {
    top: 130px;
  }
  main#main_home .project .line a:nth-child(1) > .btn {
    top: -120px;
    left: 5%;
  }
  main#main_home .project .line a:nth-child(2) > .btn {
    top: -120px;
    right: 5%;
  }
  footer#footer .opening {
    text-align: left;
  }
  footer#footer .opening > h2 {
    margin: 20px 0 10px 0;
  }
  footer#footer .opening .table_opening {
    margin-left: 0;
    width: 90%;
  }
  footer#footer .opening .table_opening tr td {
    padding: 2px 5px;
  }
  footer#footer .opening .table_opening tr td:nth-child(1) {
    width: 100px;
    text-align: left;
  }
  footer#footer .contact {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer#footer .contact > h2 {
    margin: 20px 0 10px 0;
  }
  footer#footer .contact .list > div {
    margin: 5px;
  }
  footer#footer .copyright p {
    font-size: 12px;
    color: white;
  }
}

@media (max-width: 450px) {
  main#main_home .banner .banner_bot p {
    text-align: left;
    font-size: 14px;
  }
  main#main_home .banner .banner_bot img {
    display: none;
  }
}
