$black1 : #000000;
$black2 : #272727;
$black3 : #3C3C3C;
$title1 : #60a993;

body{
    margin: 0;
    padding: 0;
    position: relative;
    height: 200vh;
}

*{
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 微軟正黑體 ;
}

//row跟col設定無margin、padding
.row,.col-4{
    margin: 0!important;
    padding: 0!important;
}

nav#nav{
    .menu{
        box-shadow: 1px 1px px $black3;
        z-index: 5;
        position: fixed;
        transform: translate(0,-50%);
        // top: 50%;    //原本的
        // height: calc(100vh - 79px);  //原本的
        top: 144px;
        width: 120px;
        // background-color: #b17d7d28;
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;

        .nav_logo{
            width: 60%; 
            margin-top: 20px;
        }
        .burger{
            cursor: pointer;
            margin: auto 0 ;
            // display: none;
            display: none;

            >div{
                width: 40px;
                height: 3px;
                background-color:#595959;
                margin: 10px;
                transition: ease-in 0.3s;
            }

            &.burger_active .line1{
                transform: rotate(45deg) translate(13px, 6px);
            }
            &.burger_active .line2{
                opacity: 0;
            }
            &.burger_active .line3{
                transform: rotate(-45deg) translate(13px, -6px);
            }
            
        }
        .nav_list{
            list-style-type: none;
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0;
            align-items: center;
            margin-top: 30px;
            li{
                margin-bottom: 10px;
               
                
                a{
                    text-decoration: none;
                    color: $black3;
                    
                }
            }
        }
    }
}
footer#footer{
    padding-top: 20px;
    background-color: #60a993;

    //營業時間
    .opening{
        text-align: center;
        >h2{
            color: white;
            font-size: 24px;
            margin-bottom: 25px;
            text-shadow: 1px 1px 5px #333;
            font-weight: 600;
            
        }
    
        //營業時間的表格
        .table_opening{
            margin: 0 auto;
            
            font-size: 14px;
            tr{

                td:nth-child(1){
                    width: 100px;
                }
                td{
                    padding: 4px 3px;
                    margin: 3px 3px;
                    text-align: center;
                    color: white;
                }
            }
        }
        
    }

    //聯絡資訊
    .contact{
        display: flex;
        align-items: center;
        // align-items: flex-start;
        flex-direction: column;
        
        >h2{
            color: white;
            font-size: 24px;
            // text-align: left;
            margin-bottom: 25px;
            font-weight: 600;
            text-shadow: 1px 1px 5px #333
            
        }

        .list{
            display: flex;
            justify-content: center;
            flex-direction: column;
            
            
            // 各項目
            font-size: 14px;
            >div{
                margin-bottom: 5px;
                >img{
                    width: 10px;
                    margin-right: 5px;
                }
                >a{
                    color: white;
                    text-decoration: none;
                }
            }
            >.phone{
                >img{
                    width: 12px;
                }
            }
        }
    }

    //logo圖
    .logo{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            
            width: 70%;
        }
    }

    //版權聲明
    .copyright{
        p{
            font-size: 13px;
            color: white;
        }
    }
}