body{
    margin: 0;
    padding: 0;
    position: relative;
    height: 200vh;
}

*{
    scroll-behavior: smooth;
    box-sizing: border-box;
}





nav#nav{
    .menu{
        z-index: 5;
        position: fixed;
        height: 100vh;
        width: 120px;
        background-color: #b17d7d28;

        .nav_logo{
            width: 80%; 
        }
        .nav_list{
            list-style-type: none;
            
            li{
                a{
                    text-decoration: none;
                }
            }
        }
    }
}